.modal-content
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4.modal-title= t'edit_profile'
  .modal-body
    /= simple_form_for @profile, remote: true, html: { class: 'dropzone', id: 'my-awesome-dropzone' } do |f|
    = simple_form_for @profile, remote: true do |f|
      /.dropzone-previews
      = render 'profiles/form_fields', f: f
      .modal-footer
        .btn.btn-danger{"data-dismiss" => "modal"}
          = t'cancel'
        = f.button :button, id: 'submit', class: 'btn btn-success', data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>" + '  ' + t('loading') + '...'}