= f.input :username, hint: "Frei wählbarer Name, der als Pseudonym verwendet wird"
= f.input :image
= f.input :first_name
= f.input :last_name
= f.input :gender, include_blank: false, collection: Profile.genders, input_html: { class: 'select2' }
= f.input :phone

%fieldset
  %legend= t'email_notifications'
  = f.input :newsletter_notifications
  = f.input :location_notifications
  = f.input :group_notifications