- meta title: @profile.name
- meta about_me: @profile.about_me


= content_for :aside do
  %aside#aside-container
    #aside
      .nano
        .nano-content{:tabindex => "0"}
          .text-center.pad-all

            .pad-ver
              - if @profile.image?
                = image_tag @profile.image.lg, class: 'img-circle img-lg img-border', alt: ""
              - else
                %span.icon-wrap.icon-wrap-sm.icon-circle.bg-dark
                  %i.fa.fa-user.fa-5x

            %h4.text-lg.text-overflow.mar-no= @profile.name

            .pad-ver.btn-group
              %a.btn.btn-icon.btn-hover-primary.fa.fa-facebook.icon-lg.add-tooltip{"data-container" => "body", "data-original-title" => "Facebook", :href => "#", :title => ""}
              %a.btn.btn-icon.btn-hover-info.fa.fa-twitter.icon-lg.add-tooltip{"data-container" => "body", "data-original-title" => "Twitter", :href => "#", :title => ""}
              %a.btn.btn-icon.btn-hover-mint.fa.fa-envelope.icon-lg.add-tooltip{"data-container" => "body", "data-original-title" => "Email", :href => "#", :title => ""}
            %button.btn.btn-block.btn-success Follow

          %hr
            %ul.list-group.bg-trans
              %li.list-group-item.list-item-sm
                %i.fa.fa-clock-o.fa-fw
                = t'member_since'
                = timeago_tag @profile.created_at
              - if @profile.website
                %li.list-group-item.list-item-sm.text-primary.text-semibold
                  %a.btn-link{:href => "#"}
                    %i.fa.fa-globe.fa-fw
                    = link_to_external @profile.website

            %hr
              .pad-hor
                %h5=t('about_me')
                %small.text-thin= @profile.about_me

            %hr
              .text-center.clearfix
                .col-xs-6
                  %p.h3= @groups.count
                  %small.text-muted= t'groups'
                .col-xs-6
                  %p.h3= @friends.count
                  %small.text-muted= t'friends'

            %hr
              .text-center.clearfix
                - if current_user.can_update?(@profile)
                  = @profile.link_to_edit

        .nano-pane{:style => "display: none;"}
          .nano-slider{:style => "height: 20px; transform: translate(0px, 0px);"}


#page-content

  %h1.page-header.text-overflow= t'groups'
  .row
    = render @groups
    - if current_user.can_create?(Group)
      .new-device.col-lg-6
        .panel.panel-new
          .panel-container
            %span.text-1x= new_group


  %h1.page-header.text-overflow= t'root_metering_points'
  .row
    = render @root_metering_points
    - if current_user.can_create?(MeteringPoint)
      .new-device.col-lg-4
        .panel.panel-new
          .panel-container
            %span.text-1x= new_metering_point


  %h1.page-header.text-overflow= t'devices'
  .row
    = render @devices
    - if current_user.can_create?(Device)
      .new-device.col-sm-6.col-md-3.col-lg-2
        .panel.panel-new
          .panel-container
            %span.text-1x= new_in_device


  %h1.page-header.text-overflow= t'friends'
  .row
    - @friends.each do |user|
      = render user.profile














