.col-sm-3
  = @profile.image_tag_medium
  %h4= @profile.name


.col-sm-6
  - if @locations.empty?
    = render 'no_location'

  - @activities.each do |activity|
    = render_activity activity, locals: {decorator: activity.decorate} , layout: "layouts/activity_wrapper"

.col-sm-3
  %h5.page-header=t('locations')
  - if !@locations.empty?
    = render @locations

  %h5.page-header=t('friends')
  %ul#sidebar.nav.nav-pill
    - @profile.user.friendships.each do |friendship|
      %li= link_to friendship.friend.name, friendship.friend
    %li= link_to t('find_a_friend'), profiles_path

  %h5.page-header
    = t('groups')
    = render @profile.user.groups