- meta title: @profile.name
- meta about_me: @profile.about_me



- if user_signed_in? && current_user != @profile.user
  .panel
    .panel-body

      .col-lg-2.col-md-2.col-sm-2.col-xs-5
        = @profile.picture('lg')


      .col-lg-2.col-md-3.col-sm-3.col-xs-5
        .media-body.pad-lft
          %p.text-3x.mar-no= @profile.first_name
          %p.text-3x.mar-no.text-thin= @profile.last_name


      .panel-control
        - if @profile != User.dummy.profile
          .btn-group
            %button.btn.btn-block.btn-success.btn-labeled.fa.fa-bars.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
              = t('actions')
            %ul.dropdown-menu.dropdown-menu-right{role: "menu"}
              - if current_user.can_update?(@profile)
                %li= link_to(t('edit_profile'), edit_profile_path(@profile), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#myModal'})

              %li.dropdown-header= t('friendship')
              - if current_user.friend?(@profile.user)
                %li= link_to( t('cancel_friendship'), cancel_friendship_path(@profile.user),:data => {:confirm => t('are_you_sure')})
              - else
                - if FriendshipRequest.where(sender: current_user, receiver: @profile.user).empty?
                  %li= link_to t('send_friend_request'), friendship_requests_path( receiver_id: @profile.user), method: :post
                - else
                  %li{:disabled => "disabled"}= t'waiting_for_accepting'



- if user_signed_in? && current_user == @profile.user && @friendship_requests.any?
  .friendship_requests
    = render @friendship_requests

- if user_signed_in? && current_user == @profile.user && @group_invitations.any?
  .group_invitations
    = render @group_invitations

- if user_signed_in? && current_user == @profile.user && @register_invitations.any?
  .register_invitations
    = render @register_invitations




#page-content
  .row
    .col-md-6.col-lg-6
      %h1.page-header.text-overflow
        %span
          = t('registers')
          %small
            %i.small-info-circle.fa.fa-info-circle{'data-content' => t('registers_info')}
      .row
        .registers
          - @registers.each do |register|
            = render register.decorate if register.readable_by?(current_user)
          = will_paginate(@registers, { class: 'flickr_pagination', param_name: 'register_page' })
          - if @registers.empty?
            .show_global_tour
      - if current_user.can_create?(Register) && current_user.profile == @profile
        .row
          .col-lg-12.text-center
            = new_register

      %hr

    .col-md-6.col-lg-6
      %h1.page-header.text-overflow
        %span
          = t('groups')
          %small
            %i.small-info-circle.fa.fa-info-circle{'data-content' => t('groups_info')}
      .row
        .groups
          - @groups.each do |group|
            .col-xs-12.col-sm-6.col-md-6.col-lg-6= render group.decorate
          = will_paginate(@groups, { class: 'flickr_pagination', param_name: 'group_page' })
      .row
        .col-lg-12.text-center
          - if @profile.user == current_user
            = groups
            = new_group if current_user.can_create?(Group)
      %hr
      - if @friends.any?
        %h1.page-header.text-overflow
          %span
            = t('friends')
            %small
              %i.small-info-circle.fa.fa-info-circle{'data-content' => t('friends_info')}
        .row
          .profiles
            - @friends.each do |user|
              = render user.profile if user.profile
