.col-sm-3
  .detail_icon
    %i.fa.fa-user
  %h4= @profile.name
  = #@profile.image_tag_medium
  = @profile.link_to_edit


  - if @profile.user != current_user
    - if current_user.friend?(@profile.user)
      = link_to t('cancel_friendship')
    - else
      - if FriendshipRequest.where(sender: current_user, receiver: @profile.user).empty?
        = link_to t('send_friend_request'), friendship_requests_path( receiver_id: @profile.user), method: :post
      - else
        = t'waiting_for_exept'


  - if @profile.readable_by? current_user
    %article.sidebar_module
      %h5.page-header= t('inhabited')
      %ul
        = render @locations
      .clearfix


  %article.sidebar_module
    %h5.page-header= t('groups')
    %ul
      = render @groups
    .clearfix


  %article.sidebar_module
    %h5.page-header= t('friends')
    %ul
      = render @friends.collect(&:profile)
    .clearfix


.col-sm-6
  = render 'no_location' if @locations.empty?

  = render @friendship_requests if @profile.user == current_user

  - @activities.each do |activity|
    = render_activity activity, locals: {decorator: activity.decorate} , layout: "layouts/activity_wrapper"



.col-sm-3

  %article.sidebar_module
    %h5.page-header= t('buzzn_groups')
    %ul
      = render Group.all.decorate
    .clearfix

  %article.sidebar_module
    %h5.page-header= t('buzzn_users')
    %ul
      = render Profile.all.decorate
    .clearfix



