#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}

.col-sm-2
  = image_tag @profile.image.big
  %h4= @profile.name

.col-sm-7
  - if @locations.empty?
    = render 'no_location'
  - else
    = render @locations


.col-sm-3
  %h5.page-header=t('friends')
  %ul#sidebar.nav.nav-pill
    - @profile.user.friendships.each do |friendship|
      %li= link_to friendship.friend.name, friendship.friend
    %li= active_link_to t('find_a_friend'), profiles_path, wrap_tag: :li

  %h5.page-header=t('groups')