- meta title: @profile.name
- meta about_me: @profile.about_me


= content_for :aside do
  %aside#aside-container
    #aside
      .nano
        .nano-content{:tabindex => "0"}

          .text-center.pad-all
            .pad-ver
              - if @profile.image?
                = image_tag @profile.image.lg, class: 'img-circle img-lg img-border'
              - else
                %span.fa-stack.fa-lg.fa-5x
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-user.fa-stack-1x.fa-inverse


            %h4.text-lg.text-overflow.mar-no= @profile.name

            -# .pad-ver.btn-group
            -#   %a.btn.btn-icon.btn-hover-primary.fa.fa-facebook.icon-lg.add-tooltip{"data-container" => "body", "data-original-title" => "Facebook", :href => "#", :title => ""}
            -#   %a.btn.btn-icon.btn-hover-info.fa.fa-twitter.icon-lg.add-tooltip{"data-container" => "body", "data-original-title" => "Twitter", :href => "#", :title => ""}
            -#   %a.btn.btn-icon.btn-hover-mint.fa.fa-envelope.icon-lg.add-tooltip{"data-container" => "body", "data-original-title" => "Email", :href => "#", :title => ""}

            - if @profile.user != current_user
              - if current_user.friend?(@profile.user)
                = link_to( t('cancel_friendship'),cancel_friendship_path(@profile.user),:data => {:confirm => t('are_you_sure')}, class: 'btn btn-block btn-warning btn-labeled fa fa-minus')
              - else
                - if FriendshipRequest.where(sender: current_user, receiver: @profile.user).empty?
                  = link_to t('friend_request'), friendship_requests_path( receiver_id: @profile.user), method: :post, class: 'btn btn-block btn-success btn-labeled fa fa-plus'
                - else
                  %button.btn.btn-success.btn-labeled.fa.fa-spinner{:disabled => "disabled"}= t'waiting_for_accepting'


          %hr
            %ul.list-group.bg-trans
              %li.list-group-item.list-item-sm
                %i.fa.fa-clock-o.fa-fw
                = t'member_since'
                = timeago_tag @profile.created_at
              - if @profile.website
                %li.list-group-item.list-item-sm.text-primary.text-semibold
                  %a.btn-link{:href => "#"}
                    %i.fa.fa-globe.fa-fw
                    = link_to_external @profile.website

            %hr
              .pad-hor
                %h5=t('about_me')
                %small.text-thin= @profile.about_me

            %hr
              .text-center.clearfix
                .col-xs-6
                  %p.h3= @groups.count
                  %small.text-muted= t'groups'
                .col-xs-6
                  %p.h3= @friends.count
                  %small.text-muted= t'friends'

            %hr
              .text-center.clearfix
                - if current_user.can_update?(@profile)
                  = @profile.link_to_edit

        .nano-pane{:style => "display: none;"}
          .nano-slider{:style => "height: 20px; transform: translate(0px, 0px);"}


#page-content

  - if @root_metering_points.empty? && @profile.user == current_user
    = render "welcome_#{I18n.locale.to_s}"


  - if @profile.user == current_user
    - if @friendship_requests.any?
      %h1.page-header.text-overflow= t'friendship_requests'
      = render @friendship_requests

  %h1.page-header.text-overflow= t'root_metering_points'
  .row
    .metering_points
      = render @root_metering_points
      - if current_user.can_create?(MeteringPoint) && current_user.profile == @profile
        .new-metering-point.col-lg-4
          .panel.panel-new
            .panel-container
              %span.text-1x= new_root_metering_point


  %h1.page-header.text-overflow= t'devices'
  .row
    .devices
      = render @devices
      - if current_user.can_create?(Device) && current_user.profile == @profile
        .new-device.col-sm-6.col-md-3.col-lg-2
          .panel.panel-new
            .panel-container
              %span.text-1x= new_device


  %h1.page-header.text-overflow= t'friends'
  .row
    .profiles
      - @friends.each do |user|
        = render user.profile


  %h1.page-header.text-overflow= t'group'
  .row
    .groups
      = render @groups
      - if current_user.can_create?(Group) && current_user.profile == @profile
        .new-group.col-lg-6
          .panel.panel-new
            .panel-container
              %span.text-1x= new_group











