- meta title: @profile.name
- meta about_me: @profile.about_me


= content_for :aside do
  %aside#aside-container
    #aside
      .nano
        .nano-content{:tabindex => "0"}
          .text-center.pad-all
            .pad-ver
              = @profile.image_tag_lg
            %h4.text-lg.text-overflow.mar-no= @profile.name
            .pad-ver.btn-group
              %a.btn.btn-icon.btn-hover-primary.fa.fa-facebook.icon-lg.add-tooltip{"data-container" => "body", "data-original-title" => "Facebook", :href => "#", :title => ""}
              %a.btn.btn-icon.btn-hover-info.fa.fa-twitter.icon-lg.add-tooltip{"data-container" => "body", "data-original-title" => "Twitter", :href => "#", :title => ""}
              %a.btn.btn-icon.btn-hover-mint.fa.fa-envelope.icon-lg.add-tooltip{"data-container" => "body", "data-original-title" => "Email", :href => "#", :title => ""}
            %button.btn.btn-block.btn-success Follow
          %hr
            %ul.list-group.bg-trans
              %li.list-group-item.list-item-sm
                %i.fa.fa-home.fa-fw
                San Jose, CA
              %li.list-group-item.list-item-sm
                %i.fa.fa-clock-o.fa-fw
                Member since 1 years ago
              %li.list-group-item.list-item-sm.text-primary.text-semibold
                %a.btn-link{:href => "#"}
                  %i.fa.fa-globe.fa-fw
                  http://www.themeon.net
            %hr
              .pad-hor
                %h5=t('about_me')
                %small.text-thin= @profile.about_me
              %hr
                .text-center.clearfix
                  .col-xs-6
                    %p.h3= @groups.count
                    %small.text-muted= t'groups'
                  .col-xs-6
                    %p.h3= @friends.count
                    %small.text-muted= t'friends'
        .nano-pane{:style => "display: none;"}
          .nano-slider{:style => "height: 20px; transform: translate(0px, 0px);"}




#page-content

  %h1.page-header.text-overflow= t'groups'
  .row
    = render @groups

  %h1.page-header.text-overflow= t'locations'
  .row
    = render @locations


