.col-sm-3
  .detail_icon
    %i= @profile.image_tag_medium
  %h4= @profile.name
  - if current_user.can_update?(@profile)
    = @profile.link_to_edit


  - if @profile.user != current_user
    .btn-group
      %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
        =t('friendship')
        %span.caret
      %ul.dropdown-menu{role: "menu"}
        %li
          - if current_user.friend?(@profile.user)
            = link_to(t('cancel_friendship'),cancel_friendship_path(@profile.user),:data => {:confirm => t('are_you_sure')})
          - else
            - if FriendshipRequest.where(sender: current_user, receiver: @profile.user).empty?
              = link_to t('send_friend_request'), friendship_requests_path( receiver_id: @profile.user), method: :post
            - else
              = t'waiting_for_accepting'


  - if @profile.readable_by? current_user
    %article.sidebar_module
      %h5.page-header= t('inhabited')
      %ul
        = render @locations
      .clearfix


  %article.sidebar_module
    %h5.page-header= t('groups')
    %ul
      = render @groups
    .clearfix


  %article.sidebar_module
    %h5.page-header= t('friends')
    %ul
      = render @friends.decorate.collect(&:profile)
    .clearfix

  - if @profile.readable_by? current_user
    %article.sidebar_module
      %h5.page-header= t('devices')
      %ul
        - @profile.user.editable_devices.each do |device|
          = render device
      .clearfix


.col-sm-6
  - if @locations.empty? && @profile.user == current_user
    = new_location

  = render @friendship_requests if @profile.user == current_user
  %h5= t('activities')
  - if @profile.user == current_user
    - @activities.each do |activity|
      = render_activity activity, locals: {decorator: activity.decorate} , layout: "layouts/activity_wrapper"
  - else
    - if @profile.user.friend?(current_user)
      - @activities.each do |activity|
        = render_activity activity, locals: {decorator: activity.decorate} , layout: "layouts/activity_wrapper" if activity.owner_id == @profile.user.id




.col-sm-3

  %article.sidebar_module
    %h5.page-header= t('buzzn_groups')
    %ul
      = render @explore_groups
    .clearfix

  %article.sidebar_module
    %h5.page-header= t('buzzn_users')
    %ul
      = render @explore_profiles
    .clearfix



