- meta title: @profile.name
- meta about_me: @profile.about_me



- if user_signed_in? && current_user != @profile.user
  .panel
    .panel-body

      .col-lg-2.col-md-2.col-sm-2.col-xs-5
        = @profile.picture('lg')


      .col-lg-2.col-md-3.col-sm-3.col-xs-5
        .media-body.pad-lft
          %p.text-3x.mar-no= @profile.first_name
          %p.text-3x.mar-no.text-thin= @profile.last_name


      .panel-control
        .btn-group
          %button.btn.btn-block.btn-success.btn-labeled.fa.fa-bars.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
            = t('actions')
          %ul.dropdown-menu.dropdown-menu-right{role: "menu"}
            - if current_user.can_update?(@profile)
              %li= link_to(t('edit_profile'), edit_profile_path(@profile), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#myModal'})

            %li.dropdown-header= t('friendship')
            - if current_user.friend?(@profile.user)
              %li= link_to( t('cancel_friendship'), cancel_friendship_path(@profile.user),:data => {:confirm => t('are_you_sure')})
            - else
              - if FriendshipRequest.where(sender: current_user, receiver: @profile.user).empty?
                %li= link_to t('send_friend_request'), friendship_requests_path( receiver_id: @profile.user), method: :post
              - else
                %li{:disabled => "disabled"}= t'waiting_for_accepting'



- if user_signed_in? && current_user == @profile.user && @friendship_requests.any?
  .friendship_requests
    = render @friendship_requests

- if user_signed_in? && current_user == @profile.user && @group_invitations.any?
  .group_invitations
    = render @group_invitations

- if user_signed_in? && current_user == @profile.user && @metering_point_invitations.any?
  .metering_point_invitations
    = render @metering_point_invitations










#page-content
  .row


    .col-md-6.col-lg-6


      %h1.page-header.text-overflow
        %span
          = t('groups')
          %small
            %i.small-info-circle.fa.fa-info-circle{'data-content' => t('groups_info')}
      .row
        .groups
          = render @groups

      .row
        .col-lg-12.text-center
          - if @profile.user == current_user
            = groups
            = new_group if current_user.can_create?(Group)
      %hr

      %h1.page-header.text-overflow
        %span
          = t('metering_points')
          %small
            %i.small-info-circle.fa.fa-info-circle{'data-content' => t('metering_points_info')}
      .row
        .metering_points
          - @metering_points.each do |metering_point|
            = render metering_point if metering_point.readable_by?(current_user)
          - if @metering_points.empty?
            .show_global_tour
      - if current_user.can_create?(MeteringPoint) && current_user.profile == @profile
        .row
          .col-lg-12.text-center
            = new_metering_point

      %hr









    .col-md-6.col-lg-6

      / - if @profile.user.friend?(current_user) || current_user.profile == @profile
      /   %h1.page-header.text-overflow
      /     %span
      /       = t('devices')
      /       %small
      /         %i.small-info-circle.fa.fa-info-circle{'data-content' => t('devices_info')}
      /   .row
      /     .devices
      /       = render @devices

      /   - if current_user.can_create?(Device) && current_user.profile == @profile
      /     .row
      /       .col-lg-12.text-center
      /         = new_device
      /   %hr


      - if @friends.any?
        %h1.page-header.text-overflow
          %span
            = t('friends')
            %small
              %i.small-info-circle.fa.fa-info-circle{'data-content' => t('friends_info')}
        .row
          .profiles
            - @friends.each do |user|
              = render user.profile if user.profile


    /   %h1.page-header.text-overflow
    /     %span
    /       = t('stream')
    /       %small
    /         %i.small-info-circle.fa.fa-info-circle{'data-content' => t('stream_info_profile')}
    /   .stream
    /     .panel
    /       .panel-body
    /         .col-md-12.col-lg-12

    /           / Timeline
    /           / ===================================================
    /           .timeline
    /             / Timeline header
    /             .timeline-header
    /               .timeline-header-title.bg-purple
    /                 =t('now')

    /             - @activities.each do |activity|
    /               /= render_activity activity, locals: {decorator: activity.decorate} , layout: "layouts/activity_wrapper"
    /               - if activity.trackable && activity.trackable.readable_by?(current_user)
    /                 = render_activity activity, locals: {decorator: activity.decorate} , layout: "layouts/activity_wrapper"
    /               - elsif activity.recipient && activity.recipient_type != "User" && activity.recipient.readable_by?(current_user)
    /                 = render_activity activity, locals: {decorator: activity.decorate} , layout: "layouts/activity_wrapper"
    /               - elsif activity.recipient && activity.recipient_type == "User" && activity.recipient.profile.readable_by?(current_user)
    /                 = render_activity activity, locals: {decorator: activity.decorate} , layout: "layouts/activity_wrapper"
    /               - elsif activity.owner && activity.owner_type == "User" && activity.owner.profile.readable_by?(current_user)
    /                 = render_activity activity, locals: {decorator: activity.decorate} , layout: "layouts/activity_wrapper"















