.bs-callout.bs-callout-info
  .col-md-3
    .thumb_icon.friendship_req
      = link_to image_tag(User.with_role(:manager, group_metering_point_request.metering_point).first.profile.decorate.image.sm), User.with_role(:manager, group_metering_point_request.metering_point).first.profile, :data => { 'toggle' => 'tooltip', container: 'body', 'original-title' => User.with_role(:manager, group_metering_point_request.metering_point).first.profile.name }, rel: 'tooltip'
  .col-md-1
  .col-md-8
    %h4= t'new_group_metering_point_request'
    %p= link_to group_metering_point_request.metering_point.decorate.name, group_metering_point_request.metering_point

    = link_to t('accept'), accept_group_metering_point_request_path(group_metering_point_request), class: 'btn btn-success btn-labeled fa fa-check'
    = link_to t('reject'), reject_group_metering_point_request_path(group_metering_point_request), class: 'btn btn-danger btn-labeled fa fa-remove'
