.container
  .row
    .col-md-4
    .col-md-4
      %h5= t'progress'
  .row
    .col-md-4
    .col-md-4
      .progress
        -if current_user.contracting_party.legal_entity == 'natural_person'
          .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "19", role: "progressbar", style: "width: 19%;"}
            19%
        -else
          .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "56", role: "progressbar", style: "width: 56%;"}
            56%

  .row
    .col-md-4
    .col-md-4
      .forminput.box
        %h1= t'location_address'
        = simple_form_for @location, url: url_for( action: 'location_address_update', controller: 'wizard_consumers'), method: 'put'  do |f|
          = f.input :name
          = f.simple_fields_for :address do |a|
            = render 'addresses/form_fields', f: a
          = f.submit t("continue"), class: 'btn btn-success', id: 'submit'