.modal-content
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4.modal-title= t'edit_notifications'

  .modal-body
    %p
      = t('these_settings_are_just_valid_for_this_register')
      = t('to_change_your_global_notification_settings_please_visit_your_profile', your_profile: link_to(t('your_profile'), profile_path(current_user.profile))).html_safe
    = simple_form_for @register, remote: true, url: edit_notifications_update_register_path, method: 'put' do |f|
      - overridden = current_user.notification_unsubscribers.by_resource(nil).by_key('comment.create').any? && current_user.notification_unsubscribers.by_resource(@register).by_key('comment.create').empty? || current_user.notification_unsubscribers.by_resource(nil).by_key('comment.create').empty? && current_user.notification_unsubscribers.by_resource(@register).by_key('comment.create').any?
      = f.input :notify_me_when_comment_create, as: :boolean, wrapper: :vertical_boolean, input_html: { checked: current_user.notification_unsubscribers.by_resource(@register).by_key('comment.create').any? ? false : true }, hint: overridden ? t('this_setting_is_overridden_by_your_global_settings_so_you_have_to_change_these_first') : nil
      - overridden = current_user.notification_unsubscribers.by_resource(nil).by_key('register.exceeds').any? && current_user.notification_unsubscribers.by_resource(@register).by_key('register.exceeds').empty? || current_user.notification_unsubscribers.by_resource(nil).by_key('register.exceeds').empty? && current_user.notification_unsubscribers.by_resource(@register).by_key('register.exceeds').any?
      = f.input :notify_me_when_register_exceeds, as: :boolean, wrapper: :vertical_boolean, input_html: { checked: current_user.notification_unsubscribers.by_resource(@register).by_key('register.exceeds').any? ? false : true }, hint: overridden ? t('this_setting_is_overridden_by_your_global_settings_so_you_have_to_change_these_first') : nil
      - overridden = current_user.notification_unsubscribers.by_resource(nil).by_key('register.undershoots').any? && current_user.notification_unsubscribers.by_resource(@register).by_key('register.undershoots').empty? || current_user.notification_unsubscribers.by_resource(nil).by_key('register.undershoots').empty? && current_user.notification_unsubscribers.by_resource(@register).by_key('register.undershoots').any?
      = f.input :notify_me_when_register_undershoots, as: :boolean, wrapper: :vertical_boolean, input_html: { checked: current_user.notification_unsubscribers.by_resource(@register).by_key('register.undershoots').any? ? false : true }, hint: overridden ? t('this_setting_is_overridden_by_your_global_settings_so_you_have_to_change_these_first') : nil
      - overridden = current_user.notification_unsubscribers.by_resource(nil).by_key('register.offline').any? && current_user.notification_unsubscribers.by_resource(@register).by_key('register.offline').empty? || current_user.notification_unsubscribers.by_resource(nil).by_key('register.offline').empty? && current_user.notification_unsubscribers.by_resource(@register).by_key('register.offline').any?
      = f.input :notify_me_when_register_offline, as: :boolean, wrapper: :vertical_boolean, input_html: { checked: current_user.notification_unsubscribers.by_resource(@register).by_key('register.offline').any? ? false : true }, hint: overridden ? t('this_setting_is_overridden_by_your_global_settings_so_you_have_to_change_these_first') : nil
      .modal-footer
        .btn.btn-primary.btn-labeled.fa.fa-remove{"data-dismiss" => "modal"}
          = t'cancel'
        = f.button :button, t('save'), id: 'submit', class: 'btn btn-success btn-labeled fa fa-check'