.modal-content
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4.modal-title= t'edit_users'
  .modal-body
    = simple_form_for @register, remote: true do |f|
      = f.association :users, collection: [current_user] + current_user.friends + @register.users, input_html: { class: 'select2'}, label: false
      .modal-footer
        .btn.btn-primary.btn-labeled.fa.fa-remove{"data-dismiss" => "modal"}
          = t'cancel'
        = f.button :button, t('confirm'), id: 'submit', class: 'btn btn-success btn-labeled fa fa-check'