.register.col-sm-6.col-md-4.col-lg-3{ id: register.id}
  .panel.panel-colorful{ class: "panel-#{register.panel_mode_class}"}
    .pad-all.text-center

      %p.text-uppercase.mar-btm.text-sm= t(register.mode)
      - if register.metering_point.meter && register.metering_point.meter.smart?
        = content_tag :div, id: "register-ticker-#{register.id}", class: "register-ticker", data: { readings: register.last_two_readings, slp: false } do
          %span.text-5x.text-thin
            .power-ticker
      - else
        = content_tag :div, id: "register-ticker-#{register.id}", class: "register-ticker", data: { slp: true } do
          %span.text-5x.text-thin
            .power-ticker

      %p= t'watt'
      - if register.mode == 'in'
        %i.fa.fa-arrow-down
      - elsif register.mode == 'out'
        %i.fa.fa-arrow-up
      - else


