.col-xs-12.col-sm-12.col-md-12.col-lg-12.register{id: "register_#{register.id}", data: {smart: "#{register.smart?}"} }

  = link_to register_path register do
    .panel.widget
      - if !register.smart?
        .ribbon-wrapper-green{"data-toggle" => "popover", "data-placement" => "left", "title" => t("#{register.fake_label}_abbreviation"), "data-content" => t("dummy_description")}
          .ribbon-green= t("#{register.fake_label}")
      .widget-header{class: "bg-#{register.mode_class}" }
        .pull-left.readability{class: "fa fa-#{register.readable_icon}", 'data-title' => t('readable_by') + ': ' + t("#{register.readable}")}

        .chart{id: "chart-container-#{register.id}", style: "width: 100%; height: 180px;"}
          .waiting-spinner.fa.fa-spinner.fa-2x.fa-spin

      .widget-body.text-center

        %span.icon-wrap.icon-wrap-sm.icon-circle.widget-img.img-border-light{ class: "bg-#{register.mode_class}"}
          %i.fa.fa-bolt.fa-3x


        %p.text-2x.mar-no= register.long_name
        %ul.list-unstyled.text-center.pad-top.mar-no.clearfix

          = content_tag :div, id: "register-ticker-#{register.id}", class: "register-ticker", data: { fake: !register.smart? && !register.virtual, source: register.data_source } do
            %span.text-4x
              .power-ticker
                = t('loading') + '...'
          %p.text-muted Watt

