.register.col-sm-6.col-md-4.col-lg-3{ id: register.id}
  .panel.panel-colorful{ class: "panel-#{register.panel_mode_class}"}
    .pad-all.text-center

      - if register.metering_point.meter && register.metering_point.meter.smart?
        = content_tag :div, id: "register-ticker-#{register.id}", class: "register-ticker", data: { readings: register.last_two_readings, slp: false } do
          %span.text-5x.text-thin
            .power-ticker
      - else
        = content_tag :div, id: "register-ticker-#{register.id}", class: "register-ticker", data: { slp: true } do
          %span.text-5x.text-thin
            .power-ticker

      %p= t'watt'


