.modal-content
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4.modal-title= t'remove_members'
  .modal-body
    = simple_form_for @register, remote: true,  url: remove_members_update_register_path, method: 'put'  do |f|
      = f.input :user_id, collection: @register.members, input_html: { class: 'select2', 'data-placeholder': t('remove_members')}, label: false, selected: '', include_blank: true
      .modal-footer
        .btn.btn-primary.btn-labeled.fa.fa-remove{"data-dismiss" => "modal"}
          = t'cancel'
        = f.button :button, t('confirm'), id: 'submit', class: 'btn btn-success btn-labeled fa fa-check'