- meta title: t(@register.mode)

= content_for :aside do
  %aside#aside-container
    #aside
      .nano
        .nano-content{:tabindex => "0"}

          .text-center.pad-all
            .pad-ver
              - if @register.mode == 'in'
                %span.fa-stack.fa-lg.fa-5x
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-arrow-down.fa-stack-1x.fa-inverse
              - elsif @register.mode == 'out'
                %span.fa-stack.fa-lg.fa-5x
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-arrow-up.fa-stack-1x.fa-inverse

            %h4.text-lg.text-overflow.mar-no= t @register.mode

          %hr
          .text-center.clearfix
            - if current_user.can_update?(@register)
              = @register.link_to_edit



#page-content
  .row
    .col-sm-6
      .panel
        .panel-heading
          %h3.panel-title
            =t('register_properties')
        .panel-body
          .table-responsive
            %table.table.table-striped
              %tbody
                %tr
                  %td= t('mode')
                  %td= @register.mode
                %tr
                  %td= t('obis_index')
                  %td= @register.obis_index
                %tr
                  %td= t('variable_tariff')
                  %td= @register.variable_tariff
                %tr
                  %td= t('virtual')
                  %td= @register.virtual
                %tr
                  %td= t('formula')
                  %td= @register.formula
