- meta title: t('edit_account')

%h2= t('edit_account')

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p
        Currently waiting confirmation for: #{resource.unconfirmed_email}

    %fieldset
      %legend= t'change_password'
      = f.input :current_password, autocomplete: "off", required: false
      = f.input :password, autocomplete: "off", required: false
      = f.input :password_confirmation, required: false
  .form-actions
    = f.button :submit, class: 'btn btn-success'
/ %h3= t'cancel_my_account'
/ %p= link_to t('delete_account'), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete


