- meta title: t('edit_account')

%h2= t('edit_account')

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p
        Currently waiting confirmation for: #{resource.unconfirmed_email}

    %fieldset
      %legend= t'change_password'
      = f.input :current_password, autocomplete: "off", required: true #TODO: validate presence
      = f.input :password, autocomplete: "off", required: true #TODO: validate presence
      = f.input :password_confirmation, required: true #TODO: validate presence
  .form-actions
    - deletable = true
    - hints = []
    - resource.editable_groups.each do |group|
      - if (group.managers.count == 1 && group.in_registers.collect{|register| resource.can_update?(register)}.include?(false))
        - hints << link_to(group.name, group_path(group))
        - deletable = false
    - resource.editable_registers.each do |register|
      - if (register.managers.count == 1 && register.users.count > 1)
        - hints << link_to(register.name, register_path(register))
        - deletable = false
    - if deletable
      %p= link_to t('delete_account'), registration_path(resource_name), data: { confirm: t('delete_account_confirmation_info') }, method: :delete, class: 'btn btn-danger btn-labeled fa fa-trash'
      /= f.button :button, t('delete'), id: 'submit', class: 'btn btn-danger btn-labeled fa fa-trash'
    - else
      %legend= t'delete_account'
      %p= t('you_can_not_delete_your_account_right_now_due_to_data_others_rely_on')
      %p= t('before_you_delete_your_account_please_make_sure')
      %p= t('a_add_managers_to_your_registers_or_groups')
      %p= t('b_remove_all_members_of_your_registers_or_groups')
      %p= t('these_registers_and_groups_are_not_deletable_at_the_moment')
      - hints.each do |hint|
        %p= hint

    = f.button :button, t("cancel"), class: 'btn btn-primary btn-labeled fa fa-remove', id: 'cancel', name: 'cancel', value: 'cancel'
    = f.button :button, t("save"), class: 'btn btn-success btn-labeled fa fa-check', id: 'submit'


