%h1= t'edit_account'
= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true } do |f|

  %fieldset
    %legend= t'profile'
    = devise_error_messages!
    = f.input :image
    = f.input :email, required: true
    = f.input :first_name
    = f.input :last_name
    = f.input :gender, include_blank: false, collection: [:male, :female], input_html: { class: 'select2' }
    = f.input :phone

  %fieldset
    %legend= t'email_notifications'
    = f.input :newsletter_notifications
    = f.input :meter_notifications
    = f.input :group_notifications

    .form-actions
      = f.button :submit, class: 'btn btn-success', id: 'submit'
    %p= link_to t('cancel_my_account'), registration_path(resource_name), :data => { :confirm => t("are_you_sure") }, :method => :delete
