- meta title: t('edit_account')

%h2= t('edit_account')

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p
        Currently waiting confirmation for: #{resource.unconfirmed_email}

    %fieldset
      %legend= t'change_password'
      = f.input :current_password, autocomplete: "off", required: true #TODO: validate presence
      = f.input :password, autocomplete: "off", required: true #TODO: validate presence
      = f.input :password_confirmation, required: true #TODO: validate presence
  .form-actions
    - deletable = true
    - resource.editable_groups.each do |group|
      - if (group.managers.count == 1 && group.in_metering_points.collect{|metering_point| resource.can_update?(metering_point)}.include?(false))
        %p= t('group_not_deletable', group_name: group.name)
        - deletable = false
    - resource.editable_metering_points.each do |metering_point|
      - if (metering_point.managers.count == 1 && metering_point.users.count > 1)
        %p= t('metering_point_not_deletable', metering_point_name: metering_point.name)
        - deletable = false
    - if deletable
      %p= link_to t('delete_account'), registration_path(resource_name), data: { confirm: t('delete_account_confirmation_info') }, method: :delete, class: 'btn btn-danger btn-labeled fa fa-trash'
      /= f.button :button, t('delete'), id: 'submit', class: 'btn btn-danger btn-labeled fa fa-trash'
    - else
      %p= t('you_can_not_delete_your_account_right_now_due_to_data_others_rely_on')
      %p= t('please_make_sure_to_add_managers_to_your_groups_and_metering_points_or_to_release_all_of_its_members')

    = f.button :button, t("cancel"), class: 'btn btn-primary btn-labeled fa fa-remove', id: 'cancel', name: 'cancel', value: 'cancel'
    = f.button :button, t("save"), class: 'btn btn-success btn-labeled fa fa-check', id: 'submit'


