%h1= t'edit_account'
= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true } do |f|

  %fieldset
    %legend= t'profile'
    = devise_error_messages!
    = f.input :email, required: true

    = f.simple_fields_for :profile do |a|
      = render 'profiles/form_fields', f: a

    .form-actions
      = f.button :submit, class: 'btn btn-success', id: 'submit'
    %p= link_to t('cancel_my_account'), registration_path(resource_name), :data => { :confirm => t("are_you_sure") }, :method => :delete
