%div.comment{ :id => "comment_#{comment.id}" }
  %hr
  = link_to "×", comment_path(comment), :method => :delete, :remote => true, :confirm => "Are you sure you want to remove this comment?", :disable_with => "×", :class => 'close'
  %h4
    = render comment.user.profile.decorate
    %small= comment.updated_at
  %p= comment.body