%li.mar-btm.comment{ :id => "comment_#{comment.id}" }
  - if user_signed_in? && current_user == comment.user
    .media-left
      %img.img-circle.img-sm{:alt => t("profile_picture"), :src => comment.user.profile.image}
    .media-body.pad-hor.speech-left
      .speech
        %a.media-heading{:href => "#"}
          = comment.user.name
        - if user_signed_in? && (current_user == comment.user || current_user.can_update?(@group))
          = link_to "×", comment_path(comment), :method => :delete, :remote => true, :confirm => "Are you sure you want to remove this comment?", :disable_with => "×", :class => 'close'
        %p= comment.body
        %p.speech-time.time
          %i.fa.fa-clock-o.fa-fw
          = timeago_tag comment.updated_at, :nojs => true, :lang => locale, :limit => 10.days.ago
  - else
    .media-right
      %img.img-circle.img-sm{:alt => t("profile_picture"), :src => comment.user.profile.image}
    .media-body.pad-hor.speech-right
      .speech
        %a.media-heading{:href => "#"}
          = comment.user.name
        - if user_signed_in? && (current_user == comment.user || current_user.can_update?(@group))
          = link_to "×", comment_path(comment), :method => :delete, :remote => true, :confirm => "Are you sure you want to remove this comment?", :disable_with => "×", :class => 'close'
        %p= comment.body
        %p.speech-time.time
          %i.fa.fa-clock-o.fa-fw
          = timeago_tag comment.updated_at, :nojs => true, :lang => locale, :limit => 10.days.ago