.comment-form
  = simple_form_for comment, :remote => true do |f|
    = f.input :body, :input_html => { :rows => "2" }, :label => false, :placeholder => comment.parent_id.nil? ? t('write_a_comment') : t('answer_this_comment')
    = f.input :commentable_id, :as => :hidden, :value => comment.commentable_id
    = f.input :commentable_type, :as => :hidden, :value => comment.commentable_type
    - value = comment.parent_id.nil? ? {} : { value: comment.parent_id }
    = f.input :parent_id, input_html: {}.merge(value), as: :hidden
    = f.input :chart_timestamp, :as => :hidden
    = f.input :chart_resolution, :as => :hidden
    - if comment.parent_id.nil?
      .comment-form-image
        = f.input :image
      .comment-form-show-image.pull-right
        %i.fa.fa-picture-o.fa-2x
    = f.button :button, comment.parent_id.nil? ? t("create_comment") : t("send_answer"), id: 'submit', :class => "btn btn-primary", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>" + '  ' + t('loading') + '...'}