/ - if @comment.commentable_type == 'Group' || @comment.commentable_type == 'Register::Base' || @comment.commentable_type == 'Conversation'
/   - if @comment.parent_id.nil?
/     $(".comments-all").prepend("#{escape_javascript( render @comment )}").hide().show('fast');
/     $('.comments-content').animate({scrollTop: 0}, 1000);
/     $("#comment_#{@comment.id}").find(".comment-reply").on("click", function() { if ($("#comment_#{@comment.id}").find(".comment-answer").css("display") == "none") { $("#comment_#{@comment.id}").find(".comment-answer").css("display", "block"); } else { $("#comment_#{@comment.id}").find(".comment-answer").css("display", "none"); }});
/     /$("#comment_#{@comment.id}").find(".comment-reply").css("display", "none");
/     $("#comment_#{@comment.id}").find(".comment-form").on("ajax:beforeSend", function(evt, xhr, settings){$(this).find('textarea').addClass('uneditable-input').attr('disabled', 'disabled'); settings.data += "&socket_id=#{escape_javascript(socket_id)}"; })
/     $("#comment_#{@comment.id}").find(".comment-form").on("ajax:success", function(evt, data, status, xhr){$(this).find('textarea').removeClass('uneditable-input').removeAttr('disabled', 'disabled').val(''); })
/     $("#comment_#{@comment.id}").find(".comment-form").on("ajax:error", function(evt, data, status, xhr){$(this).find('textarea').removeClass('uneditable-input').removeAttr('disabled', 'disabled');})
/   - else
/     $("#comment_#{@comment.parent.id}").find(".child-comments").append("#{escape_javascript( render @comment )}");
/     /$('.comments-content').animate({scrollTop: $('.comments-all').find("#comment_#{@comment.id}").offset().top}, 1000);
/   $("#comment_#{@comment.id}").find(".set-chart-view").on("click", function() { timestamp = $(this).data('timestamp'); resolution = $(this).data('resolution'); type = $(this).data('commentable-type'); id = $(this).data('commentable-id'); Chart.Functions.setResolution(resolution); Chart.Functions.showLoadingBlockButtons(); if (type == 'Register::Base'){type = 'registers'; Chart.Functions.setChartData(type, id, timestamp); $('html, body').animate({ scrollTop: $('.register_detail').offset().top}, 1000);} else if (type == 'Group') {type = 'groups'; Chart.Functions.setChartDataMultiSeries(type, id, timestamp); $('html, body').animate({ scrollTop: $('.group-chart').offset().top}, 1000);}});
/   Chart.Functions.refreshChartComments()
/ - elsif @comment.commentable_type == 'PublicActivity::ORM::ActiveRecord::Activity'
/   $("#activity_#{@comment.commentable_id}").find(".child-comments").append("#{escape_javascript( render @comment )}");
/   $("#activity_#{@comment.commentable_id}").find(".comment-answer").css("display", "none");
/ $(".likes").tooltip({html: true});
/
/
/ DISABLED: USING PUSHER TO DISTRIBUTE COMMENTS

