.container
  .row
    .col-md-4
    .col-md-4
      %h5= t'progress'
  .row
    .col-md-4
    .col-md-4
      .progress
        -if current_user.contracting_party.legal_entity == 'natural_person'
          .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "64", role: "progressbar", style: "width: 64%;"}
            64%
        -else
          .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "74", role: "progressbar", style: "width: 74%;"}
            74%
  .row
    .col-md-4
    .col-md-4
      .forminput.box
        %h1= t'contract_forecast'

        = simple_form_for @contract, url: url_for( action: 'contract_forecast_update', controller: 'wizard_producers'), method: 'put', html: {class: 'form-horizontal' }, wrapper: :horizontal_form  do |f|
          = f.input :forecast_watt_hour_pa
          = f.submit t("continue"), class: 'btn btn-success', id: 'submit'