.col-lg-6.contract{id: "contract_#{contract.id}"}


  - if contract.mode == 'electricity_supplier_contract'
    .panel
      .pad-all.media.panel-mint.panel-colorful
        .media-left
          %span.icon-wrap.icon-wrap-xs
            %i.fa.fa-file-text-o.fa-2x
        .media-body
          %p.h3.text-thin.media-heading= t('electricity_supplier')
          %small.text-uppercase= link_to t(contract.mode), contract
      %ul.list-unstyled.text-center.pad-top.mar-no.clearfix
        - if contract.organization
          %li.col-xs-4
            %span.text-lg= contract.organization.name
            %p.text-muted.text-uppercase
              %small= t('organization')
        %li.col-xs-4
          %span.text-lg= contract.tariff
          %p.text-muted.text-uppercase
            %small= t('tariff')
        %li.col-xs-4
          %span.text-lg= "#{human_readable_watt(contract.forecast_watt_hour_pa)}h"
          %p.text-muted.text-uppercase
            %small= t('forecast_watt_hour_pa')
        %li.col-xs-4
          %span.text-lg= humanized_money_with_symbol contract.price
          %p.text-muted.text-uppercase
            %small= t('price')
        %li.col-xs-4
          %span.text-lg= link_to contract.contracting_party.name, contract.contracting_party
          %p.text-muted
            %small= t('contracting_party')



  - elsif contract.mode == 'metering_point_operator_contract'
    .panel
      .pad-all.media.panel-mint.panel-colorful
        .media-left
          %span.icon-wrap.icon-wrap-xs
            %i.fa.fa-file-text-o.fa-2x
        .media-body
          %p.h3.text-thin.media-heading= t('metering_point_operator')
          %small.text-uppercase= link_to t(contract.mode), contract
      %ul.list-unstyled.text-center.pad-top.mar-no.clearfix
        - if contract.organization
          %li.col-xs-4
            %span.text-lg= contract.organization.name
            %p.text-muted.text-uppercase
              %small= t('organization')
        %li.col-xs-4
          %span.text-lg= contract.tariff
          %p.text-muted
            %small= t('tariff')
        %li.col-xs-4
          %span.text-lg= humanized_money_with_symbol contract.price
          %p.text-muted
            %small= t('price')
        - if contract.contracting_party
          %li.col-xs-4
            %span.text-lg= link_to contract.contracting_party.name, contract.contracting_party
            %p.text-muted
              %small= t('contracting_party')




  - elsif contract.mode == 'servicing_contract'
    .panel
      .pad-all.media.panel-mint.panel-colorful
        .media-left
          %span.icon-wrap.icon-wrap-xs
            %i.fa.fa-file-text-o.fa-2x
        .media-body
          %p.h3.text-thin.media-heading= t('localpool_servicing')
          %small.text-uppercase= link_to t(contract.mode), contract
      %ul.list-unstyled.text-center.pad-top.mar-no.clearfix
        - if contract.organization
          %li.col-xs-4
            %span.text-lg= contract.organization.name
            %p.text-muted.text-uppercase
              %small= t('organization')
        %li.col-xs-4
          %span.text-lg= contract.tariff
          %p.text-muted
            %small= t('tariff')
        %li.col-xs-4
          %span.text-lg= humanized_money_with_symbol contract.price
          %p.text-muted
            %small= t('price')
        %li.col-xs-4
          %span.text-lg= link_to contract.contracting_party.name, contract.contracting_party
          %p.text-muted
            %small= t('contracting_party')





