= f.input :mode, collection: Contract.modes, include_blank: false, input_html: { class: 'select2' }
= f.association :organization, input_html: { class: 'select2' }
= f.input :tariff
= f.input :price_cents, precision: 16, default: 0
= f.input :forecast_watt_hour_pa
= f.input :commissioning

= f.input :username
= f.input :password, as: :string