- meta title: @contract.name

= content_for :aside do
  %aside#aside-container
    #aside
      .nano
        .nano-content{:tabindex => "0"}

          .text-center.pad-all
            .pad-ver
              %span.fa-stack.fa-lg.fa-5x
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-file-text.fa-stack-1x.fa-inverse
            %h4.text-lg.text-overflow.mar-no= @contract.name


          %hr
            %ul.list-group.bg-trans
              %li.list-group-item.list-item-sm
                %i.fa.fa-bolt.fa-fw
                = link_to @contract.metering_point.name, @contract.metering_point

              %li.list-group-item.list-item-sm
                %i.fa.fa-pencil.fa-fw
                - if !@contract.contracting_party.nil?
                  = link_to @contract.contracting_party.name


          %hr
            .text-center.clearfix
              - if current_user.can_update?(@contract)
                = @contract.link_to_edit

        .nano-pane{:style => "display: none;"}
          .nano-slider{:style => "height: 20px; transform: translate(0px, 0px);"}

#page-content
  .row
    .col-sm-6
      .panel
        .panel-heading
          %h3.panel-title
            =t('contract_properties')
        .panel-body
          .table-responsive
            %table.table.table-striped
              %tbody
                %tr
                  %td= t('customer_number')
                  %td= @contract.customer_number
                %tr
                  %td= t('contract_number')
                  %td= @contract.contract_number
                %tr
                  %td= t('tariff')
                  %td= @contract.tariff
                %tr
                  %td= t('price_cents')
                  %td= @contract.price_cents
                %tr
                  %td= t('status')
                  %td= @contract.status
                %tr
                  %td= t('forecast_watt_hour_pa')
                  %td= @contract.forecast_watt_hour_pa
                %tr
                  %td= t('commissioning')
                  %td= @contract.commissioning
                %tr
                  %td= t('termination')
                  %td= @contract.termination
                %tr
                  %td= t('terms')
                  %td= @contract.terms
                %tr
                  %td= t('confirm_pricing_model')
                  %td= @contract.confirm_pricing_model
                %tr
                  %td= t('power_of_attorney')
                  %td= @contract.power_of_attorney
                %tr
                  %td= t('signing_user')
                  %td= @contract.signing_user



