.modal-content
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4.modal-title= t'new_reading'
  .modal-body
    = form_for @reading, remote: true do |f|
      - if @reading.errors.any?
        #error_explanation
          %h4= t('error_while_creating_reading')
          - @reading.errors.full_messages.each do |message|
            - value = message.split(':')[1]
            - message_only = message.split(':')[0]
            = t(message_only.downcase!.gsub(' ', '_'), value: value)

      = f.hidden_field :register_id, value: params[:register_id]

      .table-responsive
        %table.table
          %tbody
            %tr
              %td= f.label :time_of_reading
              %td= f.date_select :timestamp
            %tr
              %td= f.label :count
              %td= f.number_field :energy_milliwatt_hour


      .modal-footer
        .btn.btn-primary.btn-labeled.fa.fa-remove{"data-dismiss" => "modal"}
          = t'cancel'
        = f.button t('save'), id: 'submit', class: 'btn btn-success btn-labeled fa fa-check', data: { disable_with: "<i class='fa fa-spinner fa-spin'></i>" + '  ' + t('loading') + '...'}