.col-sm-12.col-md-12.col-lg-6
  = link_to device do
    .panel.media.middle
      .media-left{class: "bg-#{device.panel_mode_class}"}
        - if device.image?
          = image_tag(device.image.big_tumb, size: '200x200')
        - else
          = image_tag("//placehold.it/200&text=#{t'no_pic'}")
      .media-body.pad-lft
        %p.text-1x.text-thin= device.category
        %p.text-2x.mar-no= device.manufacturer_name
        %p.text-2x.mar-no.text-thin= device.manufacturer_product_name
