.modal-content
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4.modal-title= t'edit_device'
  .modal-body
    = simple_form_for @device, remote: true, html: { multipart: true } do |f|
      = render 'devices/form_fields', f: f
      .modal-footer
        = f.button :submit, id: 'submit', class: 'btn btn-success'
        = @device.decorate.link_to_delete
