= f.input :category, hint: "Art des Bezugsgerätes, z.B. 'E-Bike' oder 'Waschmaschine'"
= f.input :manufacturer_name
= f.input :manufacturer_product_name
= f.input :manufacturer_product_serialnumber
= f.input :image
= f.input :watt_peak
= f.input :watt_hour_pa
= f.input :commissioning