= f.input :device_type
= f.input :manufacturer_name
= f.input :manufacturer_product_name
= f.input :manufacturer_product_serialnumber
= f.input :watt_peak
= f.input :watt_hour_pa
= f.input :commissioning