.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h4.modal-title= t'new_in_device'
    .modal-body
      = simple_form_for @device, remote: true, html: {multipart: true } do |f|
        = f.input :mode, input_html: {value: "in"}, as: :hidden
        = render 'devices/in_form_fields', f: f
        .modal-footer
          = f.button :submit, id: 'submit', class: 'btn btn-success'
