= f.input :law, collection: Device.laws
= f.input :generator_type, collection: Device.generator_types
= f.input :manufacturer_name
= f.input :manufacturer_product_name
= f.input :manufacturer_product_serialnumber
= f.input :primary_energy, collection: Device.primary_energies
= f.input :watt_peak
= f.input :watt_hour_pa
= f.input :commissioning