.col-sm-3
  .detail_icon
    %i.fa.fa-bolt
  %h4= @device.name
  //= @device.link_to_edit




  - if @group
    %h5.page-header= t('belongs_to_group')
    %article.sidebar_module.residents
      %ul
        = render @group
      .clearfix

  %h5.page-header= t('users')
  %article.sidebar_module.residents
    %ul
      - @users.each do |user|
        = render user.profile
    .clearfix


