.col-md-3
  .detail_ico
    %i= @device.thumb_medium

  %h4= @device.name
  = @device.link_to_edit

  %h5.page-header= t('belongs_to_metering_point')
  %article.sidebar_module.residents
    %ul
      .header.no-border= link_to @metering_point.name, @metering_point
    .clearfix

  %h5.page-header= t('belongs_to_location')
  %article.sidebar_module.residents
    %ul
      = render @metering_point.location
    .clearfix

  - if @group
    %h5.page-header= t('belongs_to_group')
    %article.sidebar_module.residents
      %ul
        = render @group
      .clearfix

.col-md-6
  .block
    .header.no-border
      %h2= t('device_properties')
    .content.no-padding
      %table.table
        %tbody
          %tr
            %td= t('device_mode')
            %td= @device.mode
          %tr
            %td= t('device_law')
            %td= @device.generator_type
          %tr
            %td= t('device_manufacturer')
            %td= @device.manufacturer
          %tr
            %td= t('device_manufacturer_product_number')
            %td= @device.manufacturer_product_number
          %tr
            %td= t('device_primary_energy')
            %td= @device.primary_energy
          %tr
            %td= t('device_watt_peak')
            %td= @device.watt_peak
          %tr
            %td= t('device_watt_hour_pa')
            %td= @device.watt_hour_pa
          %tr
            %td= t('device_commissioning')
            %td= @device.commissioning
          %tr
            %td= t('device_mobile')
            %td= @device.mobile




