.col-md-3
  .detail_icon
    %i.fa.fa-flash

  %h4= @device.name
  - if current_user.can_update?(@device)
    = @device.link_to_edit

  %h5.page-header= t('belongs_to_user')
  %article.sidebar_module.residents
    %ul
      - @manager.each do |user|
        = render user.profile.decorate
    .clearfix

  - if @metering_point && current_user.can_update?(@device)
    %h5.page-header= t('belongs_to_metering_point')
    %article.sidebar_module.residents
      %ul
        .thumb_icon=@metering_point.thumb_small
      .clearfix

  - if @location
    %h5.page-header= t('belongs_to_location')
    %article.sidebar_module.residents
      %ul
        = render @metering_point.location
      .clearfix

  - if @group
    %h5.page-header= t('belongs_to_group')
    %article.sidebar_module.residents
      %ul
        = render @group
      .clearfix

.col-md-6
  .block
    .header.no-border
      %h2= t('device_properties')
    .content.no-padding
      %table.table
        %tbody
          %tr
            %td= t('mode')
            %td= @device.mode

          - if @device.output?
            %tr
              %td= t('device_type')
              %td= @device.device_type

          %tr
            %td= t('manufacturer')
            %td= @device.manufacturer_name
          %tr
            %td= t('manufacturer_product_name')
            %td= @device.manufacturer_product_name
          - if @device.output?
            %tr
              %td= t('primary_energy')
              %td= @device.primary_energy
          %tr
            %td= t('watt_peak')
            %td= @device.watt_peak
          %tr
            %td= t('watt_hour_pa')
            %td= @device.watt_hour_pa
          %tr
            %td= t('commissioning')
            %td= @device.commissioning
          %tr
            %td= t('mobile')
            %td= t @device.mobile
  .assets
    = render @device.assets
  - if current_user.can_update?(@device)
    = @device.new_asset




