- meta title: @device.name


.panel
  .panel-body
    .col-lg-1.col-md-2.col-sm-2.col-xs-3
      %span.fa-stack.fa-lg.fa-4x
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-plug.fa-stack-1x.fa-inverse

    .col-lg-2.col-md-3.col-sm-3.col-xs-5
      .media-body.pad-lft
        %p.text-3x.mar-no= @device.manufacturer_name
        %p.text-3x.mar-no.text-thin= @device.manufacturer_product_name

    .panel-control
      - if current_user.can_update?(@device)
        = @device.link_to_edit




#page-content

  .panel
    = image_tag @device.image.cover, class: 'img-responsive'

    .panel-body
      .table-responsive
        %table.table.table-striped
          %tbody

            - if @device.output?
              %tr
                %td= t('category')
                %td= @device.category
            %tr
              %td= t('manufacturer')
              %td= @device.manufacturer_name
            %tr
              %td= t('manufacturer_product_name')
              %td= @device.manufacturer_product_name

            -# %tr
            -#   %td= t('shop_link')
            -#   %td= @device.shop_link

            - if @device.output?
              %tr
                %td= t('primary_energy')
                %td= @device.primary_energy
            %tr
              %td= t('watt_peak')
              %td= human_readable_watt @device.watt_peak
            -# %tr
            -#   %td= t('watt_hour_pa')
            -#   %td= @device.watt_hour_pa
            %tr
              %td= t('commissioning')
              %td= timeago_tag @device.commissioning
            -# %tr
            -#   %td= t('mobile')
            -#   %td= t @device.mobile






