%p
  = t('hello') + " #{@user.name}!"
%p= t('your_metering_point_is_offline_now', metering_point_name: @metering_point.name)
%p= t('possible_reasons_are_a_broken_internet_connection_or_a_failure_in_your_hardware')
%p= t('to_get_the_latest_data_in_your_app_you_should_try_to_fix_this_issue')
%p= t('if_you_can_not_fix_this_problem_on_your_own_contact_the_manufacturer_of_your_hardware')
%p= t('this_is_the_concerned_metering_point')
%p= link_to @metering_point.name, metering_point_url(@metering_point)
%p= t('your_buzzn_team')