%p
  = t('hello') + " #{@receiver.name}!"
- if @mode == 'request'
  %p= t('user_wants_to_join_your_register', user: @sender.name, register: @register.name)
  %p= t('to_accept_or_reject_this_request_please_visit_your_register')
  %p= link_to @register.name, register_url(@register)
- else
  %p= t('user_invited_you_to_join_the_register', user: @sender.name, register: link_to(@register.name, register_url(@register))).html_safe
  %p= t('to_accept_or_reject_this_invitation_please_visit_your_profile')
  %p= link_to t('my_profile'), profile_url(@receiver.profile)
%p= t('your_buzzn_team')