%p
  = t('hello') + " #{@receiver.name}!"
%p= t('user_rejected_your_friendship_request', user: @sender.name)
%p= t('if_you_want_to_get_to_know_more_users_please_visit', index: link_to(t('this_site'), profiles_url)).html_safe
%p= t('your_buzzn_team')