%p
  = t('hello') + " #{@receiver.name}!"
- if @mode == "request"
  %p= t('the_group_metering_point_request_with_your_metering_point_for_the_group_has_been_rejected', group_name: @group.name, metering_point_name: @metering_point.name)
  %p= t('to_look_for_another_group_please_visit_the_groups_index_page')
  %p= link_to t('index_page'), groups_url
- else
  %p= t('user_rejected_the_invitation_to_group_with_metering_point', user: @sender.name, metering_point: @metering_point.name, group: @group.name)
  %p= t('to_invite_more_users_please_visit_the_group_page')
  %p= link_to @group.name, group_url(@group)
%p= t('your_buzzn_team')