%p
  = t('hello') + " #{@user.name}!"
%p= t('you_registered_successfully')
%p= t('here_you_can_find_the_terms_of_use_and_the_data_protection_guidelines_which_you_have_agreed_to')
%p= t('your_buzzn_team')
%p= t('terms_of_use_html')
%p= t('data_protection_guidelines_html')
