%p
  = t('hello') + " #{@receiver.name}!"
%p= t('user_has_removed_you_from_the_conversation', user: @sender.name)
%p= t('you_cannot_join_the_conversation_until_someone_adds_you_to_it')
%p= t('your_buzzn_team')