%p
  = t('hello') + " #{@receiver.name}!"
- if @receiver == @sender
  %p= t('you_are_now_a_member_of_the_metering_point', metering_point: link_to(@metering_point.name, metering_point_url(@metering_point))).html_safe
- else
  %p= t('user_joined_your_metering_point', user: @sender.name, metering_point: link_to(@metering_point.name, metering_point_url(@metering_point))).html_safe
%p= t('visit_the_metering_point_page_to_see_the_how_the_energy_data_has_changed_now')
%p= link_to @metering_point.name, metering_point_url(@metering_point)
%p= t('your_buzzn_team')