%p
  = t('hello') + " #{@receiver.name}!"
- if @mode == "request"
  %p= t('user_wants_to_join_your_group_with_the_metering_point', username: @sender.name, group_name: @group.name, metering_point_name: @metering_point.name)
  %p= t('to_accept_or_reject_this_request_please_visit_your_group_page')
  %p= link_to @group.name, group_url(@group)
- else
  %p= t('user_invited_you_to_join_the_group_with_your_metering_point', username: @sender.name, group_name: @group.name, metering_point_name: @metering_point.name)
  %p= t('to_accept_or_reject_this_invitation_please_visit_your_profile')
  %p= link_to t('my_profile'), profile_url(@receiver.profile)
%p= t('your_buzzn_team')