%p
  = t('hello') + " #{@user.name}!"
%p= t('your_register_is_offline_now', register_name: @register.name)
%p= t('possible_reasons_are_a_broken_internet_connection_or_a_failure_in_your_hardware')
%p= t('to_get_the_latest_data_in_your_app_you_should_try_to_fix_this_issue')
%p= t('if_you_can_not_fix_this_problem_on_your_own_contact_the_manufacturer_of_your_hardware')
%p= t('this_is_the_concerned_register')
%p= link_to @register.name, register_url(@register)
%p= t('you_receive_this_message_because_you_subscribed_to_this_event')
%p= t('to_unsubscribe_this_event_please_visit_your_register_and_change_this_setting')
%p= t('your_buzzn_team')