%p
  = t('hello') + " #{@user.name}!"
%p= t('you_registered_successfully')
%p= t('here_you_can_find_the_terms_of_use_and_the_data_protection_guidelines_which_you_have_agreed_to')
%h3= t('terms_of_service')
/TODO: insert terms of service
%h3= t('data_protection_guidelines')
/TODO: insert data protection guidelines
%p= t('your_buzzn_team')