%p
  = t('hello') + " #{@receiver.name}!"
  %p= t('metering_point_is_not_a_part_of_the_group_anymore', group_name: @group.name, metering_point_name: @metering_point.name)
  %p= t('visit_the_group_page_to_see_how_the_energy_data_has_changed_now')
  %p= link_to @group.name, group_url(@group)
%p= t('your_buzzn_team')