.container
  .row
    .col-md-3
    .col-md-6
      %h2= t('resend_unlock_instructions')
      = simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'form-horizontal' }, wrapper: :horizontal_form) do |f|
        = f.error_notification
        = f.full_error :unlock_token
        .form-inputs
          = f.input :email, required: true, autofocus: true
        .form-actions
          = f.button :submit, t('resend_unlock_instructions'), class: 'btn btn-success pull-right'
      = render "devise/shared/links"
