.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h4.modal-title= t'edit_metering_point_operator_contract'
    .modal-body
      = simple_form_for @metering_point_operator_contract, remote: true do |f|
        = render 'metering_point_operator_contract/form_fields', f: f
        = f.button :submit, id: 'submit', class: 'btn btn-success'
        = @metering_point_operator_contract.link_to_delete