.block{id: "metering_point_operator_contract_#{metering_point_operator_contract.id}"}
  .header.no-border
    = metering_point_operator_contract.link_to_edit
    %h2= t('metering_point_operator_contract')
  .content.no-padding
    %table.table
      %tbody
        %tr
          %td= t('organization')
          %td= metering_point_operator_contract.organization.name
        %tr
          %td= t('customer_number')
          %td= metering_point_operator_contract.customer_number
        %tr
          %td= t('contract_number')
          %td= metering_point_operator_contract.contract_number
        - if metering_point_operator_contract.organization.slug == 'discovergy'
          %tr
            %td= t('username')
            %td= metering_point_operator_contract.username
          %tr
            %td= t('password')
            %td= '***********'
        %tr
          %td= t('valid_credentials')
          %td= metering_point_operator_contract.valid_credentials