- if @meter.metering_point && @meter.metering_point.virtual
  = f.input :manufacturer_product_serialnumber

  %h3=t('virtual_registers')
  #registers
    = f.simple_fields_for :virtual_registers do |r|
      = render 'meters/virtual_register_fields', f: r
    .links
      = link_to_add_association t('add_virtual_register'), f, :registers
- elsif @metering_point && @metering_point.virtual
  = f.input :manufacturer_product_serialnumber

  %h3=t('virtual_registers')
  #registers
    = f.simple_fields_for :virtual_registers do |r|
      = render 'meters/virtual_register_fields', f: r
    .links
      = link_to_add_association t('add_virtual_register'), f, :registers
-else
  = f.input :manufacturer_name, collection: Meter.manufacturers
  = f.input :manufacturer_product_name
  = f.input :manufacturer_product_serialnumber

  %h3=t('registers')
  #registers
    = f.simple_fields_for :registers do |r|
      = render 'meters/register_fields', f: r
    .links
      = link_to_add_association t('add_register'), f, :registers

  %h3=t('equipments')
  #equipments
    = f.simple_fields_for :equipments do |r|
      = render 'meters/equipment_fields', f: r
    .links
      = link_to_add_association t('add_equipment'), f, :equipments