= simple_form_for @meter do |f|
  = #f.input :api_type,label: 'type', collection: ['static_meter', 'discovergy'], include_blank: false, input_html: { class: 'select2' }
  = f.input :name
  = f.input :uid
  .form-actions
    = f.button :submit, id: 'submit', class: 'btn btn-success'