= f.input :manufacturer_name, collection: Meter.manufacturers
= f.input :manufacturer_product_name
= f.input :manufacturer_product_serialnumber
= f.input :virtual

= f.simple_fields_for :register do |r|
  = render 'registers/form_fields', f: r
//.links//= link_to_add_association t('add_register'), f, :register