.modal-content
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4.modal-title= t'new_meter'
  .modal-body
    = simple_form_for @meter, remote: true do |f|

      /- value = params[:metering_point_id].nil? ? {} : { value: params[:metering_point_id] }
      /= f.input :metering_point_id, input_html: {}.merge(value), as: :hidden

      = render 'meters/form_fields', f: f
      .modal-footer
        .btn.btn-primary.btn-labeled.fa.fa-remove{"data-dismiss" => "modal"}
          = t'cancel'
        = f.button :button, t('save'), id: 'submit', class: 'btn btn-success btn-labeled fa fa-check'
