- meta title: @meter.name

= content_for :aside do
  %aside#aside-container
    #aside
      .nano
        .nano-content{:tabindex => "0"}
          .text-center.pad-all
            .pad-ver
              - if @meter.image?
                = image_tag @meter.image.lg, class: 'img-circle img-lg img-border'
              - else
                %span.fa-stack.fa-lg.fa-5x
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-tachometer.fa-stack-1x.fa-inverse

            %h4.text-lg.text-overflow.mar-no= @meter.name
          %hr
            .text-center.clearfix
              - if current_user.can_update?(@meter)
                = @meter.link_to_edit




#page-content
  .row
    .col-sm-6
      .panel
        .panel-heading
          %h3.panel-title
            =t('meter_properties')
        .panel-body
          .table-responsive
            %table.table.table-striped
              %tbody
                %tr
                  %td= t('manufacturer_name')
                  %td= @meter.manufacturer_name
                %tr
                  %td= t('manufacturer_product_name')
                  %td= @meter.manufacturer_product_name
                %tr
                  %td= t('manufacturer_product_serialnumber')
                  %td= @meter.manufacturer_product_serialnumber
                %tr
                  %td= t('owner')
                  %td= @meter.owner
                %tr
                  %td= t('mode')
                  %td= @meter.mode
                %tr
                  %td= t('meter_size')
                  %td= @meter.meter_size
                %tr
                  %td= t('rate')
                  %td= @meter.rate
                %tr
                  %td= t('measurement_capture')
                  %td= @meter.measurement_capture
                %tr
                  %td= t('mounting_method')
                  %td= @meter.mounting_method
                %tr
                  %td= t('build_year')
                  %td= @meter.build_year
                %tr
                  %td= t('calibrated_till')
                  %td= @meter.calibrated_till
                %tr
                  %td= t('smart')
                  %td= @meter.smart
                %tr
                  %td= t('online')
                  %td= @meter.online
                %tr
                  %td= t('initialized_successfully')
                  %td= @meter.init_reading



  %h1.page-header.text-overflow= t'registers'
  .row
    - if @meter.registers.any?
      = render @meter.registers
    - else





