.row
  .col-lg-12
    .panel.panel-colorful.panel-warning
      .panel-body
        - if group_register_request.mode == 'request'
          .bs-callout.bs-callout-info
            .col-md-3
              .thumb_icon.friendship_req
                = link_to User.with_role(:manager, group_register_request.register).first.profile.decorate.picture('lg'), User.with_role(:manager, group_register_request.register).first.profile, :data => { 'toggle' => 'tooltip', container: 'body', 'original-title' => User.with_role(:manager, group_register_request.register).first.profile.name }, rel: 'tooltip'
            .col-md-1
            .col-md-8
              %h4= t'new_group_register_request'
              %p= t('do_you_want_to_admit_user_with_the_register_to_this_group', user: link_to(User.with_role(:manager, group_register_request.register).first.profile.name, User.with_role(:manager, group_register_request.register).first.profile), register: link_to(group_register_request.register.decorate.name, group_register_request.register)).html_safe + '?'

              = link_to t('accept'), accept_group_register_request_path(group_register_request), class: 'btn btn-success btn-labeled fa fa-check'
              = link_to t('reject'), reject_group_register_request_path(group_register_request), class: 'btn btn-danger btn-labeled fa fa-remove'
        - else
          .bs-callout.bs-callout-info
            .col-md-3
              .thumb_icon.friendship_req
                - if group_register_request.group.logo?
                  = link_to image_tag(group_register_request.group.logo.sm, class: "img-circle"), group_register_request.group, :data => { 'toggle' => 'tooltip', container: 'body', 'original-title' => group_register_request.group.name }, rel: 'tooltip'
                - else
                  = link_to content_tag(:i, '', class: "fa fa-users fa-4x"), group_register_request.group, :data => { 'toggle' => 'tooltip', container: 'body', 'original-title' => group_register_request.group.name }, rel: 'tooltip'
            .col-md-1
            .col-md-8
              %h4= t'new_group_register_invitation'
              %p= t('do_you_want_to_join_the_group_with_your_register', group: link_to(group_register_request.group.name, group_register_request.group), register: link_to(group_register_request.register.decorate.name, group_register_request.register)).html_safe + '?'

              = link_to t('accept'), accept_group_register_request_path(group_register_request), class: 'btn btn-success btn-labeled fa fa-check'
              = link_to t('reject'), reject_group_register_request_path(group_register_request), class: 'btn btn-danger btn-labeled fa fa-remove'
