.modal-content
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4.modal-title= t'edit_group'
  .modal-body
    = simple_form_for @group, html: { multipart: true } do |f|
      = render 'groups/form_fields', f: f
      .modal-footer
        = f.button :submit, id: 'submit', class: 'btn btn-success'
        - if @group.contracts.metering_point_operators.running.any?
          %button.btn.btn-danger{:disabled => "disabled"}= t('not_deletable')
        - else
          = @group.link_to_delete
