= simple_form_for @group do |f|
  = f.input :name
  = f.input :mode, collection: ['simple_group','localpool'], include_blank: false
  = f.input :public
  .form-actions
    = f.button :submit, id: 'submit', class: 'btn btn-success'
    = link_to 'cancel', groups_path, class: 'btn btn-danger'