.col-lg-12
  .panel
    .panel-bg-cover
      - if group.image?
        = image_tag group.image.cover, class: 'img-responsive'
      - else
        = image_tag "http://placehold.it/800x600&text=#{t('no_image')}", class: 'img-responsive'
    .bubble-mini-chart
      #bubbles_container{'data-content' => group.id}
        #dummy


    .panel-media
      - if group.logo?
        = image_tag group.logo.lg, class: 'panel-media-img img-circle img-border-light bg-light', alt: ""
      - else
        = content_tag(:span, content_tag(:i, '', class: 'fa fa-users fa-4x'), class: 'panel-media-img icon-wrap-lg icon-circle bg-light text-center')


      .row
        .col-lg-7
          %h3.panel-media-heading= group.name
          %p.text-muted.mar-btm= group.description
        .col-lg-5.text-lg-right
          = link_to t('more_info'), group, class: 'btn btn-sm btn-primary'
    .panel-body



