.col-xs-12.col-sm-12.col-md-12.col-lg-12.group{id: "group_#{group.id}" }
  = link_to group do
    .panel
      .panel-body.media
        .media-left
          = group.decorate.picture('sm')
        .media-body.pad-lft.pad-rgt
          %p.text-2x.mar-no= group.name
          %p.text-1x.text-thin= truncate(group.description, length: 100)
          .readability{class: "fa fa-#{group.readable_icon}", 'data-title' => t('readable_by') + ': ' + t(group.readable)}
