.group{id: "group_#{group.id}" }
  = link_to group do
    .panel.widget
      .widget-header.bg-purple
        - if group.image.present?
          %img.widget-bg.img-responsive{:alt => "Image", :src => group.image.cover}

      .widget-body.text-center
        - if group.logo.present?
          %img.widget-img.img-border-light.bg-gray-light{:src => group.logo.lg}
        - else
          = content_tag(:span, nil, class: 'widget-img img-border-light bg-gray-light fa fa-users fa-5x')

        %h4.mar-no= group.name
        -# %p.text-muted.mar-btm Organization
        %ul.list-unstyled.text-center.pad-top.mar-no.clearfix

          %li.col-xs-4
            %span.text-lg= group.members.count
            %p.text-muted.text-uppercase
              %small= t'members'

          %li.col-xs-4
            %span.text-lg= group.registers.count
            %p.text-muted.text-uppercase
              %small= t'registers'

          %li.col-xs-4
            - if group.scores.autarchies.yearly.last
              %span.text-xxs
                - group.scores.autarchies.yearly.last.value.to_i.times do
                  %i{class: 'fa fa-star'}
                - (5 - group.scores.autarchies.yearly.last.value.to_i).times do
                  %i{class: 'fa fa-star-o'}
            - else
              %span.text-lg= 'n.a.'
            %p.text-muted.text-uppercase
              %small= t'autarchy'
