.modal-content
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4.modal-title= t'add_registers'
  .modal-body
    = simple_form_for @group, remote: true, url: send_invitations_update_group_path, method: 'put' do |f|
      = f.input :add_own_register, as: :boolean, wrapper: :vertical_boolean, input_html: { checked: false }
      .js-dependent-fields{data: {checkbox: {id: "#{@group.class_name}_add_own_register", value: 'true'}}}
        = f.input :register_id, collection: Register::Base.editable_by_user(current_user).without_group - @group.registers, input_html: { class: 'select2', 'data-placeholder': t('add_register')}, label: false, selected: '', include_blank: true, :label_method => lambda { |m| m.decorate.name }
      .js-dependent-fields{data: {checkbox: {id: "#{@group.class_name}_add_own_register", value: 'false'}}}
        %p= t('localpool_invite_registers_info')
        = f.input :new_meters, input_html: { value: ''}
      .modal-footer
        .btn.btn-primary.btn-labeled.fa.fa-remove{"data-dismiss" => "modal"}
          = t'cancel'
        = f.button :button, t('confirm'), id: 'submit', class: 'btn btn-success btn-labeled fa fa-check'