.modal-content
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4.modal-title= t'send_invitations'
  .modal-body
    = simple_form_for @group, remote: true, url: send_invitations_update_group_path, method: 'put' do |f|
      = f.input :new_meters, input_html: { value: ''}
      .modal-footer
        .btn.btn-primary.btn-labeled.fa.fa-remove{"data-dismiss" => "modal"}
          = t'cancel'
        = f.button :button, t('send'), id: 'submit', class: 'btn btn-success btn-labeled fa fa-check'