#page-title
  %h1.page-header.text-overflow= "#{@groups.count} #{t'groups'}"

  .searchbox
    = form_tag groups_path, method: 'get' do
      .input-group.custom-search-form
        = text_field_tag :search, params[:search], placeholder: t('search'), class: 'form-control'
        %span.input-group-btn
          .text-muted= button_tag '', name: nil, class: 'btn btn-default fa fa-search'

#page-content
  .row
    - if @groups.empty?
      = t('no_groups_found_matching', search: params[:search])
    - else
      - @groups.each do |group|
        .col-xs-12.col-sm-6.col-md-6.col-lg-3= render group.decorate
