- meta title: @group.name
- meta description: @group.description
- meta keywords: @group.keywords
- rel "apple-touch-icon" => @group.logo.url if @group.logo




.panel
  .panel-body
    .col-lg-1.col-md-2.col-sm-2.col-xs-3
      - if @group.logo?
        = image_tag @group.logo.lg, class: 'img-circle img-lg img-border'
      - else
        %span.fa-stack.fa-lg.fa-4x
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-users.fa-stack-1x.fa-inverse


    .col-lg-6.col-md-6.col-sm-6.col-xs-5
      .media-body.pad-lft
        %p.text-3x.mar-no= @group.name


      %ul.list-group.bg-trans

        - if @group.website
          %li.list-group-item.list-item-sm.text-primary.text-semibold
            %a.btn-link{:href => "#"}
              %i.fa.fa-globe.fa-fw
              = @group.website




#page-content


  .row
    .col-sm-6.col-md-6.col-lg-6
      %h1.page-header.text-overflow
        %span
          = t('bubbles')
          %small
            %i.small-info-circle.fa.fa-info-circle{'data-content' => t('live_chart_info')}
      .panel
        .bubbles_container{'data-content' => @group.id, id: "bubbles_container_" + @group.id.to_s}
          #dummy



    - if user_signed_in?
      .col-sm-6.col-md-6.col-lg-6
        %h1.page-header.text-overflow
          %span
            = t('comments')
        .panel.comments-panel
          #demo-chat-body.collapse.in
            .nano{:style => "height:410px"}
              .nano-content.pad-all.comments-content
                %ul.list-unstyled.media-block.comments-all
                  = render :partial => 'comments/comment', :collection => @all_comments, :as => :comment
            .panel-footer
              = render :partial => 'comments/form', :locals => { :comment => Comment.build_from(@group, current_user.id, "") }



  .row
    .col-sm-12.col-md-12.col-lg-12.group-chart{id: @group.id}
      %h1.page-header.text-overflow
        %span
          = t('lines')
          %small
            %i.small-info-circle.fa.fa-info-circle{'data-content' => t('trend_chart_info')}
      .panel
        .panel-body.panel-colorful
          .text-center
            .btn.btn-default.btn-icon.btn-circle.icon-lg.btn-chart-zoomout.fa.fa-search-minus.fa-2x
          .btn.btn-default.btn-icon.btn-circle.icon-lg.btn-chart-prev.fa.fa-chevron-left.fa-2x
          .btn.btn-default.btn-icon.btn-circle.icon-lg.btn-chart-next.pull-right.fa.fa-chevron-right.fa-2x
          .chart{id: "chart-container-#{@group.id}", style: "width: 94%; height: 300px; margin-left: 3%;"}













