- meta title: @group.name
- meta description: @group.description
- meta keywords: @group.keywords
- rel "apple-touch-icon" => @group.logo.url if @group.logo


.panel.media.pad-all
  .media-left
    = @group.picture('md')
  .media-body.pad-lft
    %p.text-3x.mar-no= @group.name

#page-content
  .row
    .col-sm-12.col-md-6.col-lg-6
      .row

        .col-sm-12.col-md-6.col-lg-6
          .panel.media.pad-all
            .media-left
              %span.icon-wrap.icon-wrap-sm.icon-circle.panel-colorful.panel-primary
                %i.fa.fa-arrow-circle-o-right.fa-2x
            .media-body
              = content_tag :div, id: "group-ticker-live-in-#{@group.id}", class: "group-ticker" do
                %span.text-2x.text-thin
                  .power-ticker
                    = t('loading') + '...'
              %p= t('current_consumption_in_watts')

        .col-sm-12.col-md-6.col-lg-6
          .panel.media.pad-all
            .media-left
              %span.icon-wrap.icon-wrap-sm.icon-circle.panel-colorful.panel-danger
                %i.fa.fa-arrow-circle-o-right.fa-2x
            .media-body
              = content_tag :div, id: "group-ticker-live-out-#{@group.id}", class: "group-ticker" do
                %span.text-2x.text-thin
                  .power-ticker
                    = t('loading') + '...'
              %p= t('current_production_in_watts')

        .col-sm-12.col-md-12.col-lg-12
          .panel
            .change-order
              .fa.fa-retweet{'data-content' => t('click_to_change_order_of_all_red_and_blue_bubbles')}
            .bubbles_container{'data-content' => @group.id, id: "bubbles_container_" + @group.id.to_s}
              .waiting-spinner.fa.fa-spinner.fa-2x.fa-spin
              #dummy


    .col-sm-12.col-md-6.col-lg-6
      .row
        .col-sm-12.col-md-6.col-lg-6
          .panel.media.pad-all
            .media-left
              %span.icon-wrap.icon-wrap-sm.icon-circle.panel-colorful.panel-mint
                %i.fa.fa-flag-checkered.fa-2x
            .media-body
              = content_tag :div, class: "number" do
                %span.text-2x.text-thin
                  .stats-autarchy
                    = t('loading') + '...'
              %p= t('autarchy') + ' (%)'


      .row
        .col-sm-12.col-md-12.col-lg-12.group-chart{id: @group.id}
          .panel
            .panel-body.panel-colorful

              .text-center
                /.btn.btn-default.btn-icon.btn-circle.icon-lg.btn-chart-zoomout.btn.fa.fa-search-minus.fa-2x{disabled: "disabled"}
                .btn.btn-default.btn-chart-zoom-year{disabled: "disabled"}
                  = t('year')
                .btn.btn-default.btn-chart-zoom-month{disabled: "disabled"}
                  = t('month')
                .btn.btn-default.btn-chart-zoom-day{disabled: "disabled"}
                  = t('day')
                .btn.btn-default.btn-chart-zoom-hour{disabled: "disabled"}
                  = t('hour')
                / .btn.btn-default.btn-chart-zoom-live{disabled: "disabled"}
                /   = t('live')
              .btn.btn-default.btn-icon.btn-circle.icon-lg.btn-chart-prev.fa.fa-chevron-left.fa-2x{disabled: "disabled"}
              .btn.btn-default.btn-icon.btn-circle.icon-lg.btn-chart-next.pull-right.fa.fa-chevron-right.fa-2x{disabled: "disabled"}
              .chart{id: "chart-container-#{@group.id}", style: "width: 94%; height: 300px; margin-left: 3%;"}
                .waiting-spinner.fa.fa-spinner.fa-2x.fa-spin
              - if user_signed_in?
                %ul.chart-context-menu
                  %li{"data-action" => "comment"}= t('create_new_comment_here')
                  /%li{"data-action" => "zoom_in"}= t('zoom_in_here_if_possible')
                .chart-comments
