.col-sm-3
  .detail_icon
    %i.fa.fa-users
  %h4= @group.name

  - if user_signed_in?
    - if current_user.can_update?(@group)
      = @group.link_to_edit
    - else
      .btn-group
        %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
          =t('membership')
          %span.caret
        %ul.dropdown-menu{role: "menu"}
          %li
            - if @group.member?(current_user.metering_points.first)
              = link_to(t('cancel_membership'),cancel_membership_group_path,:data => {:confirm => t('are_you_sure')})
            - else
              - if GroupMeteringPointRequest.where(user: current_user, group: @group, metering_point: current_user.metering_points.first).empty?
                = link_to t('send_group_metering_point_request'), group_metering_point_requests_path( group_id: @group), method: :post
              - else
                = t'waiting_for_accepting'
  %h5.page-header= t('description')
  %p= @group.description







.col-sm-6
  - if user_signed_in?
    - if current_user.can_update?(@group)
      - if @group.received_group_metering_point_requests.any?
        %h5.page-header= t('group_requests')
        = render @group_metering_point_requests

  %ul.nav.nav-pills#mytab.nav-spacer
    %li.active
      %a{"data-toggle" => "tab", href: "#metering_points"}
        = t'metering_points'
    %li
      %a{"data-toggle" => "tab", href: "#users"}
        = t'members'
    %li
      %a{"data-toggle" => "tab", href: "#assets"}
        = t'assets'
    - if user_signed_in? && current_user.can_update?(@group)
      %li
        %a{"data-toggle" => "tab", href: "#contracts"}
          = t('contracts')
    %li
      %a{"data-toggle" => "tab", href: "#comments"}
        = t('comments')

  .tab-content
    #metering_points.tab-pane.active
      - @metering_points.each do |metering_point|
        = render metering_point.decorate

    #users.tab-pane
      %article.sidebar_module.energy_producers.residents
        %h5.page-header= t('energy_producers')
        %ul
          - @energy_producers.each do |user|
            = render user.profile
      .clear

      %article.sidebar_module.energy_consumers.residents
        %h5.page-header= t('energy_consumers')
        %ul
          - @energy_consumers.each do |user|
            = render user.profile
      .clear

      %article.sidebar_module.interested-members.residents
        %h5.page-header= t('interested_members')
        %ul
          - @interested_members.each do |user|
            =render user.profile
      .clear

    #assets.tab-pane
      .assets
        = render @group.assets
      - if user_signed_in? && current_user.can_update?(@group)
        = @group.new_asset

    #contracts.tab-pane
      .contracts
        .servicing_contracts
          - if @group.servicing_contract
            = render @group.servicing_contract
        .new_servicing_contract_group
          - if @group.servicing_contract.nil?
            = @group.new_servicing_contract
        .metering_point_operator_contracts
          - if @group.metering_point_operator_contract
            = render @group.metering_point_operator_contract
        .new_metering_point_operator_contract_group
          - if @group.metering_point_operator_contract.nil?
            = @group.new_metering_point_operator_contract

    #comments.tab-pane
      .comments
        %h2 Comments
        = render :partial => 'comments/form', :locals => { :comment => @new_comment }
        .comments-all
        = render :partial => 'comments/comment', :collection => @all_comments, :as => :comment



.col-sm-3
  %h5.page-header= t('more_groups')
  %article.sidebar_module.groups
    %ul
      = render @all_groups
    .clearfix



