.col-sm-3
  .detail_icon
    %i.fa.fa-users
  %h4= @group.name

  - if user_signed_in?
    - if current_user.can_update?(@group)
      = @group.link_to_edit
    - else
      .btn-group
        %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
          =t('membership')
          %span.caret
        %ul.dropdown-menu{role: "menu"}
          %li
            - if @group.member?(current_user.metering_points.first)
              = link_to(t('cancel_membership'),cancel_membership_group_path,:data => {:confirm => t('are_you_sure')})
            - else
              - if GroupMeteringPointRequest.where(user: current_user, group: @group, metering_point: current_user.metering_points.first).empty?
                = link_to t('send_group_metering_point_request'), group_metering_point_requests_path( group_id: @group), method: :post
              - else
                = t'waiting_for_accepting'
  %h5.page-header= t('description')
  %p= @group.description







.col-sm-6
  - if current_user.can_update?(@group)
    - if @group.received_group_metering_point_requests.any?
      %h5.page-header= t('group_requests')
      = render @group_metering_point_requests

  %ul.nav.nav-pills#mytab.nav-spacer
    %li.active
      %a{"data-toggle" => "tab", href: "#metering_points"}
        = t'metering_points'
    %li
      %a{"data-toggle" => "tab", href: "#users"}
        = t'members'
    %li
      %a{"data-toggle" => "tab", href: "#assets"}
        = t'assets'

  .tab-content
    #metering_points.tab-pane.active
      - @metering_points.each do |metering_point|
        = render metering_point #if metering_point.readable_by?(current_user)

    #users.tab-pane
      .energy_producers
        %h5.page-header= t('energy_producers')
        - @metering_points.each do |metering_point|
          -if metering_point.mode == 'out'
            - @all_users.each do |user|
              = render user.profile.decorate if user.can_update?(metering_point)
      .clear
      .energy_consumers
        %h5.page-header= t('energy_consumers')
        - @metering_points.each do |metering_point|
          -if metering_point.mode == 'in'
            - metering_point.metering_point_users.each do |user|
              = render user.user.profile.decorate
      .clear
      - if @group.users.any?
        .interested-members
          %h5.page-header= t('interested_members')
          - @group.users.each do |user|
            =render user.profile.decorate
      .clear
    #assets.tab-pane
      .assets
        = render @group.assets





.col-sm-3
  %h5.page-header= t('more_groups')
  %article.sidebar_module.groups
    %ul
      = render @groups
    .clearfix



