.col-sm-3
  .detail_icon
    %i.fa.fa-users
  %h4= @group.name
  = @group.link_to_edit

  %h5.page-header= t('residents')
  %article.sidebar_module.residents
    %ul
      - @residents.each do |resident|
        = render resident.profile
    .clearfix


  %h5.page-header= t('devices')
  %article.sidebar_module.devices
    %ul
      - @devices.each do |device|
        = render device
    .clearfix




.col-sm-6
  .metering_points
    = render @group.metering_points

  - if current_user.can_update?(@location)
    = @location.new_metering_point


.col-sm-3
  %h5.page-header= t('explore')



