.col-sm-3
  .detail_icon
    %i.fa.fa-users
  %h4= @group.name

  - if user_signed_in?
    - if current_user.can_update?(@group)
      = @group.link_to_edit

  %p= @group.description


.col-sm-6
  %ul.nav.nav-pills#mytab
    %li.active
      %a{"data-toggle" => "tab", href: "#metering_points"}
        = t'metering_points'
    %li
      %a{"data-toggle" => "tab", href: "#users"}
        = t'users'

  .tab-content
    #metering_points.tab-pane.active
      = render @metering_points
    #users.tab-pane
      = render @users


.col-sm-3
  %h5.page-header= t('more_groups')
  %article.sidebar_module.groups
    %ul
      = render @groups
    .clearfix



