.col-sm-3
  .detail_icon
    %i= @group.image_tag_medium
  %h4= @group.name

  - if user_signed_in?
    - if current_user.can_update?(@group)
      = @group.link_to_edit
    - else
      .btn-group
        %button.btn.btn-default.btn-xs.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
          =t('membership')
          %span.caret
        %ul.dropdown-menu{role: "menu"}
          %li
            - if @group.member?(current_user.metering_points.first)
              = link_to(t('cancel_membership'),cancel_membership_group_path,:data => {:confirm => t('are_you_sure')})
            - else
              - if GroupMeteringPointRequest.where(user: current_user, group: @group, metering_point: current_user.metering_points.first).empty?
                = link_to t('send_group_metering_point_request'), group_metering_point_requests_path( group_id: @group), method: :post
              - else
                = t'waiting_for_accepting'
  %h5.page-header= t('description')
  %p= @group.description


.col-sm-6
  - if current_user.can_update?(@group)
    - if @group.received_group_metering_point_requests.any?
      %h5.page-header= t('group_requests')
      = render @group_metering_point_requests
  %ul.nav.nav-pills#mytab.nav-spacer
    %li.active
      %a{"data-toggle" => "tab", href: "#metering_points"}
        = t'metering_points'
    %li
      %a{"data-toggle" => "tab", href: "#users"}
        = t'users'

  .tab-content
    #metering_points.tab-pane.active
      = render @metering_points
    #users.tab-pane
      .current-suppliers-members
        %h5.page-header= t('current_suppliers')
        - @metering_points.each do |m|
          -if m.mode == 'out'
            - @all_users.each do |u|
              = render u.profile.decorate if u.can_update?(m)
      .clear
      .current-purchasers-members
        %h5.page-header= t('current_purchasers')
        - @metering_points.each do |m|
          -if m.mode == 'in'
            - m.metering_point_users.each do |u|
              = render u.user.profile.decorate
      .clear
      .interested-members
        %h5.page-header= t('interested_members')
        - @group.users.each do |u|
          =render u.profile.decorate
      .clear



.col-sm-3
  %h5.page-header= t('more_groups')
  %article.sidebar_module.groups
    %ul
      = render @groups
    .clearfix



