- meta title: @group.name
- meta description: @group.description
- meta keywords: @group.keywords
- rel "apple-touch-icon" => @group.logo.url if @group.logo

= content_for :aside do
  %aside#aside-container
    #aside
      .nano
        .nano-content{:tabindex => "0"}
          .text-center.pad-all
            .pad-ver
              = @group.image_tag_lg
            %h4.text-lg.text-overflow.mar-no= @group.name
            %p.text-sm
            .btn-group
              %button.btn.btn-block.btn-success.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                =t('membership')
              %ul.dropdown-menu{role: "menu"}
                - if current_user.editable_metering_points.flatten.count == 1
                  - if current_user.editable_metering_points.flatten.first.group == nil
                    %li= link_to t('join_this_group'), group_metering_point_requests_path( group_id: @group, metering_point_id: current_user.editable_metering_points.flatten.first.id), method: :post
                  - elsif current_user.editable_metering_points.flatten.first.group == @group
                    %li= link_to(t('leave_this_group'), cancel_membership_group_path(metering_point_id: current_user.editable_metering_points.flatten.first.id), :data => {:confirm => t('are_you_sure')})
                  - else
                    %li= link_to(t('join_this_group_and_leave_group', group_name: current_user.editable_metering_points.flatten.first.group.name), group_metering_point_requests_path( group_id: @group, metering_point_id: current_user.editable_metering_points.flatten.first.id), method: :post)
                - else
                  - current_user.editable_metering_points.flatten.each do |metering_point|
                    - if @group.received_group_metering_point_requests.any? && @group.received_group_metering_point_requests.collect(&:metering_point).include?(metering_point)
                      %li= t('sent_request_with_metering_point', metering_point_name: metering_point.decorate.name)
                      - next
                    - if metering_point.group == @group
                      %li= link_to(t('leave_this_group_with_metering_point', metering_point_name: metering_point.decorate.name), cancel_membership_group_path(metering_point_id: metering_point.id), :data => {:confirm => t('are_you_sure')})
                    - elsif metering_point.group
                      %li= link_to(t('join_this_group_with_metering_point_and_leave_group', metering_point_name: metering_point.decorate.name, group_name: metering_point.group.name), group_metering_point_requests_path( group_id: @group, metering_point_id: metering_point.id), method: :post)
                    - else
                      %li= link_to t('join_this_group_with_metering_point', metering_point_name: metering_point.decorate.name), group_metering_point_requests_path( group_id: @group, metering_point_id: metering_point.id), method: :post
          - if user_signed_in?
            - if current_user.can_update?(@group)
              = @group.link_to_edit
          %hr
            %ul.list-group.bg-trans
              %li.list-group-item.list-item-sm
                %i.fa.fa-clock-o.fa-fw
                Member since 1 years ago
              %li.list-group-item.list-item-sm.text-primary.text-semibold
                %a.btn-link{:href => "#"}
                  %i.fa.fa-globe.fa-fw
                  http://www.themeon.net
            %hr
              .pad-hor
                %h5=t('description')
                %small.text-thin= @group.description
              %hr
                .text-center.clearfix
                  .col-xs-6
                    %p.h3= @energy_producers.count
                    %small.text-muted= t'energy_producers'
                  .col-xs-6
                    %p.h3= @energy_consumers.count
                    %small.text-muted= t'energy_consumers'
        .nano-pane{:style => "display: none;"}
          .nano-slider{:style => "height: 20px; transform: translate(0px, 0px);"}







#page-content



  .row
    #bubbles_container
      #dummy

  .row
    .col-sm-12
      - if user_signed_in?
        - if current_user.can_update?(@group)
          - if @group.received_group_metering_point_requests.any?
            %h5.page-header= t('group_requests')
            = render @group_metering_point_requests

      %ul.nav.nav-pills#mytab.nav-spacer
        %li.active
          %a{"data-toggle" => "tab", href: "#users"}
            = t'members'
        - if user_signed_in? && current_user.can_update?(@group)
          %li
            %a{"data-toggle" => "tab", href: "#contracts"}
              = t('contracts')
        %li
          %a{"data-toggle" => "tab", href: "#comments"}
            = t('comments')

      .tab-content

        #users.tab-pane
          - if @energy_producers.any?
            %article.sidebar_module.energy_producers.residents
              %h5.page-header= t('energy_producers')
              %ul
                - @energy_producers.each do |user|
                  = render user.profile
            .clear

          - if @energy_consumers.any?
            %article.sidebar_module.energy_consumers.residents
              %h5.page-header= t('energy_consumers')
              %ul
                - @energy_consumers.each do |user|
                  = render user.profile
            .clear

          - if @interested_members.any?
            %article.sidebar_module.interested-members.residents
              %h5.page-header= t('interested_members')
              %ul
                - @interested_members.each do |user|
                  =render user.profile
            .clear



        #contracts.tab-pane
          .contracts
            .servicing_contracts
              - if @group.servicing_contract
                = render @group.servicing_contract
            .new_servicing_contract_group
              - if @group.servicing_contract.nil?
                = @group.new_servicing_contract
            .metering_point_operator_contracts
              - if @group.metering_point_operator_contract
                = render @group.metering_point_operator_contract
            .new_metering_point_operator_contract_group
              - if @group.metering_point_operator_contract.nil?
                = @group.new_metering_point_operator_contract

        #comments.tab-pane
          .comments
            - if user_signed_in? #TODO: bring commentable_by? to work
              = render :partial => 'comments/form', :locals => { :comment => @new_comment }
            .comments-all
              = render :partial => 'comments/comment', :collection => @all_comments, :as => :comment







