- meta title: @group.name
- meta description: @group.description
- meta keywords: @group.keywords
- rel "apple-touch-icon" => @group.logo.url if @group.logo




.panel
  .panel-body
    .col-lg-1.col-md-2.col-sm-2.col-xs-3
      - if @group.logo?
        = image_tag @group.logo.lg, class: 'img-circle img-lg img-border'
      - else
        %span.fa-stack.fa-lg.fa-4x
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-users.fa-stack-1x.fa-inverse


    .col-lg-6.col-md-6.col-sm-6.col-xs-5
      .media-body.pad-lft
        %p.text-3x.mar-no= @group.name




      %ul.list-group.bg-trans

        - if @group.website
          %li.list-group-item.list-item-sm.text-primary.text-semibold
            %a.btn-link{:href => "#"}
              %i.fa.fa-globe.fa-fw
              = link_to_external @group.website

    /.col-lg-2.col-md-3.col-sm-4.col-xs-4
    .group_scores{'data-content' => @group.id}

      %table
        %tbody
          %tr
            %td.text-1x.mar-no.float-left= t('sufficiency')
            %td.score_sufficiency
          %tr
            %td.text-1x.mar-no.float-left= t('closeness')
            %td.score_closeness
          %tr
            %td.text-1x.mar-no.float-left= t('autarchy')
            %td.score_autarchy
          %tr
            %td.text-1x.mar-no.float-left= t('fitting')
            %td.score_fitting



    .panel-control
      - if user_signed_in? && current_user.can_update?(@group)
        .btn-group
          %button.btn.btn-block.btn-success.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
            =t('remove_members')
          %ul.dropdown-menu{role: "menu"}
            - @group.metering_points.each do |metering_point|
              %li= link_to(metering_point.decorate.name_with_users, cancel_membership_group_path(metering_point_id: metering_point.id), :data => {:confirm => t('are_you_sure')})
      .btn-group
        %button.btn.btn-block.btn-success.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
          =t('membership')
        %ul.dropdown-menu{role: "menu"}
          - if user_signed_in?
            - if current_user.editable_metering_points.flatten.count == 1
              - if current_user.editable_metering_points.flatten.first.mode == "in"
                - if @group.received_group_metering_point_requests.any? && @group.received_group_metering_point_requests.collect(&:metering_point).include?(current_user.editable_metering_points.flatten.first)
                  %li= t('sent_request_with_metering_point', metering_point_name: current_user.editable_metering_points.flatten.first.decorate.name)
                - elsif current_user.editable_metering_points.flatten.first.group == nil
                  %li= link_to t('join_this_group'), group_metering_point_requests_path( group_id: @group, metering_point_id: current_user.editable_metering_points.flatten.first.id), method: :post
                - elsif current_user.editable_metering_points.flatten.first.group == @group
                  %li= link_to(t('leave_this_group'), cancel_membership_group_path(metering_point_id: current_user.editable_metering_points.flatten.first.id), :data => {:confirm => t('are_you_sure')})
                - else
                  %li= link_to(t('join_this_group_and_leave_group', group_name: current_user.editable_metering_points.flatten.first.group.name), group_metering_point_requests_path( group_id: @group, metering_point_id: current_user.editable_metering_points.flatten.first.id), method: :post)
            - else
              - current_user.editable_metering_points.flatten.each do |metering_point|
                - if metering_point.mode == "in"
                  - if @group.received_group_metering_point_requests.any? && @group.received_group_metering_point_requests.collect(&:metering_point).include?(metering_point)
                    %li= t('sent_request_with_metering_point', metering_point_name: metering_point.decorate.name)
                    - next
                  - if metering_point.group == @group
                    %li= link_to(t('leave_this_group_with_metering_point', metering_point_name: metering_point.decorate.name), cancel_membership_group_path(metering_point_id: metering_point.id), :data => {:confirm => t('are_you_sure')})
                  - elsif metering_point.group
                    %li= link_to(t('join_this_group_with_metering_point_and_leave_group', metering_point_name: metering_point.decorate.name, group_name: metering_point.group.name), group_metering_point_requests_path( group_id: @group, metering_point_id: metering_point.id), method: :post)
                  - else
                    %li= link_to t('join_this_group_with_metering_point', metering_point_name: metering_point.decorate.name), group_metering_point_requests_path( group_id: @group, metering_point_id: metering_point.id), method: :post

      - if user_signed_in? && current_user.can_update?(@group)
        = @group.link_to_edit

- if user_signed_in? && current_user.can_update?(@group)
  - if @group_metering_point_requests.any?
    .row
      .col-lg-12
        .panel.panel-colorful.panel-warning
          .panel-body
            .friendship_requests
              = render @group_metering_point_requests








#page-content

  .row
    .col-sm-12.col-md-12.col-lg-12.group-chart{id: @group.id}
      %h1.page-header.text-overflow
        %span
          = t('trend_chart')
          %small
            %i.small-info-circle.fa.fa-info-circle{'data-content' => t('trend_chart_info')}
      .panel
        .panel-body.panel-colorful
          .text-center
            .btn.btn-default.btn-icon.btn-circle.icon-lg.btn-chart-zoomout.fa.fa-search-minus.fa-2x
          .btn.btn-default.btn-icon.btn-circle.icon-lg.btn-chart-prev.fa.fa-chevron-left.fa-2x
          .btn.btn-default.btn-icon.btn-circle.icon-lg.btn-chart-next.pull-right.fa.fa-chevron-right.fa-2x
          .chart{id: "chart-container-#{@group.id}", style: "width: 94%; height: 300px; margin-left: 3%;"}





  .row
    .col-sm-6.col-md-6.col-lg-6
      %h1.page-header.text-overflow
        %span
          = t('live_chart')
          %small
            %i.small-info-circle.fa.fa-info-circle{'data-content' => t('live_chart_info')}
      .panel
        .bubbles_container{'data-content' => @group.id, id: "bubbles_container_" + @group.id.to_s}
          #dummy

      - if @out_devices.any?
        %h1.page-header.text-overflow
          %span
            = t('out_devices')
            %small
              %i.small-info-circle.fa.fa-info-circle{'data-content' => t('out_devices_info_group')}
        .row
          .out-devices
            - @out_devices.each do |device|
              = render device







    .col-sm-6.col-md-6.col-lg-6
      %h1.page-header.text-overflow
        %span
          = t('comments')
      .panel.comment-form
        #demo-chat-body.collapse.in
          .nano{:style => "height:410px"}
            .nano-content.pad-all
              %ul.list-unstyled.media-block.comments-all
                = render :partial => 'comments/comment', :collection => @all_comments, :as => :comment
          .panel-footer
            = render :partial => 'comments/form', :locals => { :comment => Comment.build_from(@group, current_user.id, "") } if user_signed_in?



      - if @group.managers.any? && @group.managers != @energy_producers
        %h1.page-header.text-overflow
          %span
            = t('group_managers')
            %small
              %i.small-info-circle.fa.fa-info-circle{'data-content' => t('group_manager_info')}
        .row
          - @group.managers.each do |user|
            = render user.profile


      - if @energy_consumers.any? && user_signed_in?
        %h1.page-header.text-overflow
          %span
            = t('energy_consumers')
            %small
              %i.small-info-circle.fa.fa-info-circle{'data-content' => t('energy_consumers_info')}
        .row
          - @energy_consumers.each do |user|
            = render user.profile if user.profile.readable_by?(current_user)
        %hr


      - if @energy_producers.any?
        %h1.page-header.text-overflow
          %span
            = t('energy_producers')
            %small
              %i.small-info-circle.fa.fa-info-circle{'data-content' => t('energy_producers_info')}
        .row
          - @energy_producers.each do |user|
            = render user.profile
        %hr





      - if @interested_members.any?
        %h1.page-header.text-overflow
          %span
            = t('interested_members')
            %small
              %i.small-info-circle.fa.fa-info-circle{'data-content' => t('interested_members_info')}
        .row
          - @interested_members.each do |user|
            = render user.profile
        %hr




      - if user_signed_in? && current_user.can_update?(@group)
        %h1.page-header.text-overflow
          %span
            = t('contracts')
            %small
              %i.small-info-circle.fa.fa-info-circle{'data-content' => t('contracts_info_group')}
        .row
          .contracts
            = render @group.contracts
          .row
            .col-lg-12.text-center
              = @group.new_contract





