- meta title: @group.name
- meta description: @group.description
- meta keywords: @group.keywords
- rel "apple-touch-icon" => @group.logo.url if @group.logo




.panel
  .panel-body
    .col-lg-1.col-md-2.col-sm-2.col-xs-3
      = @group.picture('md')


    .col-lg-6.col-md-6.col-sm-6.col-xs-5
      .media-body.pad-lft
        %p.text-3x.mar-no= @group.name





      %ul.list-group.bg-trans

        - if @group.website
          %li.list-group-item.list-item-sm.text-primary.text-semibold
            %a.btn-link{:href => "#"}
              %i.fa.fa-globe.fa-fw
              = link_to_external @group.website
        %li.list-group-item.list-item-sm.text-primary.readability{class: "fa fa-#{@group.readable_icon}", 'data-title' => t('readable_by') + ': ' + t("#{@group.readable}")}
        %li.list-group-item.list-item-sm.text-primary.embed{class: "fa fa-share"}
          = t('embed')
        .embed-code= "<iframe width='100%' height='580' src='#{request.original_url}/widget' frameborder='0' scrolling: 'no'>Error loading iFrame</iframe>"

    .panel-control

      .btn-group
        %button.btn.btn-block.btn-success.btn-labeled.fa.fa-bars.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
          =t('actions')
        %ul.dropdown-menu.dropdown-menu-right{role: "menu"}
          - if user_signed_in? && current_user.can_update?(@group)
            %li= link_to(t('edit_group'), edit_group_path(@group), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#myModal'})
            - if @group.mode == 'localpool'
              %li= link_to(t("add_registers"), send_invitations_group_path, {:remote => true, 'data-toggle' => 'modal', 'data-target' => '#myModal'})
            %li= link_to(t('remove_registers'), remove_members_group_path(@group),{:remote => true,'data-toggle' => "modal", 'data-target' => '#myModal'})
            %li= link_to(t('add_group_manager'), add_manager_group_path(@group),{:remote => true,'data-toggle' => "modal", 'data-target' => '#myModal'})
            - if @group.managers.include?(current_user)
              %li= link_to(t('remove_me_as_group_manager'), remove_manager_update_group_path(@group),{:remote => true, 'data-toggle' => "modal", 'data-target' => '#myModal', :method => :put, 'data-confirm' => t('are_you_sure') + ' ' + t('you_will_no_longer_be_able_to_edit_this_group')})
          - if user_signed_in?
            - if @group.members.include?(current_user)
              %li= link_to(t('edit_notifications'), edit_notifications_group_path(@group),{:remote => true, 'data-toggle' => "modal", 'data-target' => '#myModal'})
            %li.dropdown-header= t('membership')
            - if current_user.editable_registers.flatten.count != 0
              - if current_user.editable_registers.flatten.count == 1
                - if current_user.editable_registers.flatten.first.mode == "in"
                  - if @group.received_group_register_requests.any? && @group.received_group_register_requests.collect(&:register).include?(current_user.editable_registers.flatten.first)
                    %li= t('sent_request_with_register', register_name: current_user.editable_registers.flatten.first.decorate.name)
                  - elsif current_user.editable_registers.flatten.first.group == nil
                    %li= link_to t('join_this_group'), group_register_requests_path( group_id: @group, register_id: current_user.editable_registers.flatten.first.id, mode: 'request'), method: :post
                  - elsif current_user.editable_registers.flatten.first.group == @group
                    %li= link_to(t('leave_this_group'), remove_members_update_group_path(register_id: current_user.editable_registers.flatten.first.id), :data => {:confirm => t('are_you_sure')}, :method => :put)
                  - else
                    %li= link_to(t('join_this_group_and_leave_group', group_name: current_user.editable_registers.flatten.first.group.name), group_register_requests_path( group_id: @group, register_id: current_user.editable_registers.flatten.first.id, mode: 'request'), method: :post)
              - else
                - current_user.editable_registers.flatten.each do |register|
                  - if register.mode == "in"
                    - if @group.received_group_register_requests.any? && @group.received_group_register_requests.collect(&:register).include?(register)
                      %li= t('sent_request_with_register', register_name: register.decorate.name)
                      - next
                    - if register.group == @group
                      %li= link_to(t('leave_this_group_with_register', register_name: register.decorate.name), remove_members_update_group_path(register_id: register.id), :data => {:confirm => t('are_you_sure')}, :method => :put)
                    - elsif register.group
                      %li= link_to(t('join_this_group_with_register_and_leave_group', register_name: register.decorate.name, group_name: register.group.name), group_register_requests_path( group_id: @group, register_id: register.id, mode: 'request'), method: :post)
                    - else
                      %li= link_to t('join_this_group_with_register', register_name: register.decorate.name), group_register_requests_path( group_id: @group, register_id: register.id, mode: 'request'), method: :post




- if user_signed_in? && current_user.can_update?(@group)
  - if @group_register_requests.any?
    .friendship_requests
      = render @group_register_requests





#page-content
  .row
    .col-sm-12.col-md-6.col-lg-6
      %h1.page-header.text-overflow
        %span
          = t('bubbles')
          %small
            %i.small-info-circle.fa.fa-info-circle{'data-content' => t('live_chart_info')}
      .row
        .col-sm-12.col-md-6.col-lg-6
          .panel.media.pad-all
            .media-left
              %span.icon-wrap.icon-wrap-sm.icon-circle.panel-colorful.panel-primary
                %i.fa.fa-arrow-circle-o-right.fa-2x
            .media-body
              = content_tag :div, id: "group-ticker-live-in-#{@group.id}", class: "group-ticker" do
                %span.text-2x.text-thin
                  .power-ticker
                    = t('loading') + '...'
              %p= t('current_consumption_in_watts')

        .col-sm-12.col-md-6.col-lg-6
          .panel.media.pad-all
            .media-left
              %span.icon-wrap.icon-wrap-sm.icon-circle.panel-colorful.panel-danger
                %i.fa.fa-arrow-circle-o-right.fa-2x
            .media-body
              = content_tag :div, id: "group-ticker-live-out-#{@group.id}", class: "group-ticker" do
                %span.text-2x.text-thin
                  .power-ticker
                    = t('loading') + '...'
              %p= t('current_production_in_watts')

        .col-sm-12.col-md-12.col-lg-12
          .panel
            .change-order
              .fa.fa-retweet{'data-content' => t('click_to_change_order_of_all_red_and_blue_bubbles')}
            .bubbles_container{'data-content' => @group.id, id: "bubbles_container_" + @group.id.to_s}
              .waiting-spinner.fa.fa-spinner.fa-2x.fa-spin
              #dummy
              .bubble_tooltip{id: "tooltip_" + @group.id.to_s}



    - if user_signed_in?
      .col-sm-6.col-md-6.col-lg-6
        %h1.page-header.text-overflow
          %span
            = t('discussion')
        .tab-base
          / Nav tabs
          %ul.nav.nav-tabs.tabs-left
            %li.active
              %a{"data-toggle" => "tab", :href => "#posts"}
                = t('posts')
            %li
              %a{"data-toggle" => "tab", :href => "#images"}
                = t('images')
          / Tabs Content
          .tab-content
            #posts.tab-pane.fade.active.in
              .panel.comments-panel{data: {commentable_type: 'Group', commentable_id: @group.id} }
                #demo-chat-body.collapse.in
                  .nano{:style => "height:610px"}
                    .comment-form-container
                      = render :partial => 'comments/form', :locals => { :comment => Comment.build_from(@group, current_user.id, "", nil) }
                    .nano-content.pad-all.comments-content
                      %ul.list-unstyled.media-block.comments-all
                        - @activities_and_comments.each do |object|
                          - if object.class.name == 'Comment'
                            = render :partial => 'comments/comment', :collection => [object], :as => :comment
                          - elsif object.class.name == 'PublicActivity::Activity'
                            = render_activity object, locals: {decorator: object.decorate} , layout: "layouts/activity_wrapper"
            #images.tab-pane.fade
              - @all_comments.map(&:image).each do |image|
                = link_to(image_tag(image.sm), image_path(image), class: 'fancy-gallery', rel: "gallery_#{@group.id}") if image.present?





  .row
    .col-sm-12.col-md-12.col-lg-12
      %h1.page-header.text-overflow
        %span
          = t('lines')
          %small
            %i.small-info-circle.fa.fa-info-circle{'data-content' => t('trend_chart_info')}


    .col-sm-6.col-md-3.col-lg-3
      .panel.media.pad-all{"data-toggle" => "popover", "data-placement" => "top", "data-content" => t("autarchy_info"), "data-container" => "body"}
        .media-left
          %span.icon-wrap.icon-wrap-sm.icon-circle.panel-colorful.panel-mint
            %i.fa.fa-flag-checkered.fa-2x
        .media-body
          = content_tag :div, class: "number" do
            %span.text-2x.text-thin
              .stats.stats-autarchy
                = t('loading') + '...'
          %p= t('autarchy')

    .col-sm-6.col-md-3.col-lg-3
      .panel.media.pad-all{"data-toggle" => "popover", "data-placement" => "top", "data-content" => t("sufficiency_info"), "data-container" => "body"}
        .media-left
          %span.icon-wrap.icon-wrap-sm.icon-circle.panel-colorful.panel-mint
            %i.fa.fa-power-off.fa-2x
        .media-body
          = content_tag :div, class: "number" do
            %span.text-2x.text-thin
              .stats.stats-sufficiency{"data" => {"count-sn-in-group" => @group.energy_consumers.size}}
                = t('loading') + '...'
          %p= t('sufficiency')

    .col-sm-6.col-md-3.col-lg-3
      .panel.media.pad-all{"data-toggle" => "popover", "data-placement" => "top", "data-content" => t("fitting_info"), "data-container" => "body"}
        .media-left
          %span.icon-wrap.icon-wrap-sm.icon-circle.panel-colorful.panel-mint
            %i.fa.fa-line-chart.fa-2x
        .media-body
          = content_tag :div, class: "number" do
            %span.text-2x.text-thin
              .stats.stats-fitting
                = t('loading') + '...'
          %p= t('fitting')

    .col-sm-6.col-md-3.col-lg-3
      .panel.media.pad-all{"data-toggle" => "popover", "data-placement" => "top", "data-content" => t("closeness_info"), "data-container" => "body"}
        .media-left
          %span.icon-wrap.icon-wrap-sm.icon-circle.panel-colorful.panel-mint
            %i.fa.fa-map-marker.fa-2x
        .media-body
          = content_tag :div, class: "number" do
            %span.text-2x.text-thin
              .stats.stats-closeness{"data" => {"current-closeness" => @group.calculate_current_closeness}}
                = t('loading') + '...'
          %p= t('closeness')


  .row
    .col-sm-12.col-md-12.col-lg-12.group-chart{id: @group.id, register_ids: {in: @group.input_registers.collect(&:id).join(","), out: @group.output_registers.collect(&:id).join(",")}}

      .panel
        .panel-body.panel-colorful

          .text-center
            /.btn.btn-default.btn-icon.btn-circle.icon-lg.btn-chart-zoomout.btn.fa.fa-search-minus.fa-2x{disabled: "disabled"}
            .btn.btn-default.btn-chart-zoom-year{disabled: "disabled"}
              = t('year')
            .btn.btn-default.btn-chart-zoom-month{disabled: "disabled"}
              = t('month')
            .btn.btn-default.btn-chart-zoom-day{disabled: "disabled"}
              = t('day')
            .btn.btn-default.btn-chart-zoom-hour{disabled: "disabled"}
              = t('hour')
            / .btn.btn-default.btn-chart-zoom-live{disabled: "disabled"}
            /   = t('live')
          .btn.btn-default.btn-icon.btn-circle.icon-lg.btn-chart-prev.fa.fa-chevron-left.fa-2x{disabled: "disabled"}
          .btn.btn-default.btn-icon.btn-circle.icon-lg.btn-chart-next.pull-right.fa.fa-chevron-right.fa-2x{disabled: "disabled"}
          .chart{id: "chart-container-#{@group.id}", style: "width: 94%; height: 300px; margin-left: 3%;"}
            .waiting-spinner.fa.fa-spinner.fa-2x.fa-spin
          - if user_signed_in?
            %ul.chart-context-menu
              %li{"data-action" => "comment"}= t('create_new_comment_here')
              /%li{"data-action" => "zoom_in"}= t('zoom_in_here_if_possible')
            .chart-comments
            .chart-comment-form
              .chart-comment-form-close
                %button.close{"aria-hidden" => "true", type: "button"} ×
              .comments-panel{data: {commentable_type: 'Group', commentable_id: @group.id} }
                .comment-form-container
                  = render :partial => 'comments/form', :locals => { :comment => Comment.build_from(@group, current_user.id, "", nil) }


  - if user_signed_in?
    .row
      .col-sm-6.col-md-6.col-lg-6
        - if @energy_consumers.any?
          %h1.page-header.text-overflow
            %span
              = t('energy_consumers')
              %small
                %i.small-info-circle.fa.fa-info-circle{'data-content' => t('energy_consumers_info')}
          .row
            - @energy_consumers.each do |user|
              = render user.profile if user.profile
          %hr


      .col-sm-6.col-md-6.col-lg-6
        - if @energy_producers.any?
          %h1.page-header.text-overflow
            %span
              = t('energy_producers')
              %small
                %i.small-info-circle.fa.fa-info-circle{'data-content' => t('energy_producers_info')}
          .row
            - @energy_producers.each do |user|
              = render user.profile if user.profile
          %hr

        - if @managers.any?
          %h1.page-header.text-overflow
            %span
              = t('group_managers')
              %small
                %i.small-info-circle.fa.fa-info-circle{'data-content' => t('group_manager_info')}
          .row
            - @managers.each do |user|
              = render user.profile if user.profile
          %hr
