- meta title: @group.name
- meta description: @group.description
- meta keywords: @group.keywords
- rel "apple-touch-icon" => @group.logo.url if @group.logo

= content_for :aside do
  %aside#aside-container
    #aside
      .nano
        .nano-content{:tabindex => "0"}
          .text-center.pad-all
            .pad-ver
              - if @group.logo?
                = image_tag @group.logo.lg, class: 'img-circle img-lg img-border'
              - else
                %span.fa-stack.fa-lg.fa-5x
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-users.fa-stack-1x.fa-inverse

            %h4.text-lg.text-overflow.mar-no= @group.name

            %p.text-sm
            .btn-group
              %button.btn.btn-block.btn-success.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                =t('membership')
              %ul.dropdown-menu{role: "menu"}
                - if user_signed_in?
                  - if current_user.editable_metering_points.flatten.count == 1
                    - if current_user.editable_metering_points.flatten.first.group == nil
                      %li= link_to t('join_this_group'), group_metering_point_requests_path( group_id: @group, metering_point_id: current_user.editable_metering_points.flatten.first.id), method: :post
                    - elsif current_user.editable_metering_points.flatten.first.group == @group
                      %li= link_to(t('leave_this_group'), cancel_membership_group_path(metering_point_id: current_user.editable_metering_points.flatten.first.id), :data => {:confirm => t('are_you_sure')})
                    - else
                      %li= link_to(t('join_this_group_and_leave_group', group_name: current_user.editable_metering_points.flatten.first.group.name), group_metering_point_requests_path( group_id: @group, metering_point_id: current_user.editable_metering_points.flatten.first.id), method: :post)
                  - else
                    - current_user.editable_metering_points.flatten.each do |metering_point|
                      - if @group.received_group_metering_point_requests.any? && @group.received_group_metering_point_requests.collect(&:metering_point).include?(metering_point)
                        %li= t('sent_request_with_metering_point', metering_point_name: metering_point.decorate.name)
                        - next
                      - if metering_point.group == @group
                        %li= link_to(t('leave_this_group_with_metering_point', metering_point_name: metering_point.decorate.name), cancel_membership_group_path(metering_point_id: metering_point.id), :data => {:confirm => t('are_you_sure')})
                      - elsif metering_point.group
                        %li= link_to(t('join_this_group_with_metering_point_and_leave_group', metering_point_name: metering_point.decorate.name, group_name: metering_point.group.name), group_metering_point_requests_path( group_id: @group, metering_point_id: metering_point.id), method: :post)
                      - else
                        %li= link_to t('join_this_group_with_metering_point', metering_point_name: metering_point.decorate.name), group_metering_point_requests_path( group_id: @group, metering_point_id: metering_point.id), method: :post

          %hr
            %ul.list-group.bg-trans
              %li.list-group-item.list-item-sm
                %i.fa.fa-clock-o.fa-fw
                = t'created_at'
                = timeago_tag @group.created_at

              - if @group.website
                %li.list-group-item.list-item-sm.text-primary.text-semibold
                  %a.btn-link{:href => "#"}
                    %i.fa.fa-globe.fa-fw
                    = link_to_external @group.website


          - if @group.description
            %hr
              .pad-hor
                %h5=t('description')
                %small.text-thin= @group.description

          %hr
            .text-center.clearfix
              .col-xs-6
                %p.h3= @energy_producers.count
                %small.text-muted= t'energy_producers'
              .col-xs-6
                %p.h3= @energy_consumers.count
                %small.text-muted= t'energy_consumers'


          %hr
            .text-center.clearfix
              - if user_signed_in?
                - if current_user.can_update?(@group)
                  = @group.link_to_edit

        .nano-pane{:style => "display: none;"}
          .nano-slider{:style => "height: 20px; transform: translate(0px, 0px);"}


#page-content

  .row
    .col-sm-12.col-md-12.col-lg-12
      .panel.cover{:style => "background-image: url(#{@group.image.cover})"}
        #bubbles_container
          #dummy

  .panel.comment-form
    / Heading
    .panel-heading
      .panel-control
        .btn-group
          %button.btn.btn-default{"data-target" => "#demo-chat-body", "data-toggle" => "collapse", :type => "button"}
            %i.fa.fa-chevron-down
      %h3.panel-title Chat
    / Widget body
    #demo-chat-body.collapse.in
      .nano{:style => "height:380px"}
        .nano-content.pad-all
          %ul.list-unstyled.media-block.comments-all
            = render :partial => 'comments/comment', :collection => @all_comments, :as => :comment
      / Widget footer
      .panel-footer
        = render :partial => 'comments/form', :locals => { :comment => @new_comment }




  - if @energy_producers.any?
    %h1.page-header.text-overflow= t('energy_producers')
    .fa.fa-info-circle{'data-content' => "Ein Stromgeber ist eine Person, die über ihre Stromerzeugungsanlage (z.B. Photovoltaikanlage, Blockheizkraftwerk) Strom an andere Personen liefert. Du findest hier also eine Liste aller Stromgeber, die Strom über diese Gruppe teilen.", 'data-title' => "Was ist ein Stromgeber?"}
    .row
      - @energy_producers.each do |user|
        = render user.profile


  - if @energy_consumers.any?
    %h1.page-header.text-overflow= t('energy_consumers')
    .fa.fa-info-circle{'data-content' => "Ein Stromnehmer ist eine Person, die über ihren Stromzähler Strom von einer anderen Person bekommt. Du findest hier also eine Liste aller Stromnehmer, die aus dieser Gruppe Strom beziehen.", 'data-title' => "Was ist ein Stromnehmer?"}
    .row
      - @energy_consumers.each do |user|
        = render user.profile


  - if @interested_members.any?
    .fa.fa-info-circle{'data-content' => "Ein interessiertes Mitglied ist eine Person, die sich gerne am Geschehen in der Gruppe beteiligen möchte, ohne konkret Strom aus dieser Grupper zu nehmen oder ihr zu geben.", 'data-title' => "Was ist ein interessiertes Mitglied?"}
    %h1.page-header.text-overflow= t('interested_members')
    .row
      - @interested_members.each do |user|
        = render user.profile


  - if user_signed_in? && current_user.can_update?(@group)
    .fa.fa-info-circle{'data-content' => "Um am Stromgeschehen teilnehmen zu können benötigst Du verschiedene Verträge. Zum Beispiel brauchst du einen Vertrag mit einem Stromlieferanten, um überhaupt Strom bekommen zu können. Du siehst hier alle Verträge, die dieser Gruppe zugeordnet sind.", 'data-title' => "Was ist ein Vertrag?"}
    %h1.page-header.text-overflow= t('contracts')
    .row
      = render @group.contracts



