- meta title: @group.name
- meta description: @group.description
- meta keywords: @group.keywords
- rel "apple-touch-icon" => @group.logo.url if @group.logo




#page-content
  .row
    .col-sm-12.col-md-12.col-lg-12.group-chart{id: @group.id}
      %h1.page-header.text-overflow
        %span
          = @group.name
          %small
            %i.small-info-circle.fa.fa-info-circle{'data-content' => t('trend_chart_info')}
      .panel
        .panel-body.panel-colorful

          .text-center
            .btn.btn-default.btn-chart-zoom-year{disabled: "disabled"}
              = t('year')
            .btn.btn-default.btn-chart-zoom-month{disabled: "disabled"}
              = t('month')
            .btn.btn-default.btn-chart-zoom-day{disabled: "disabled"}
              = t('day')
            .btn.btn-default.btn-chart-zoom-hour{disabled: "disabled"}
              = t('hour')
            / .btn.btn-default.btn-chart-zoom-live{disabled: "disabled"}
            /   = t('live')
            .brand-title.pull-right
              %span.brand-text
                = link_to image_tag('bz_logo_115px_grey.png', class: 'brand-logo'), group_path(@group)
          .btn.btn-default.btn-icon.btn-circle.icon-lg.btn-chart-prev.fa.fa-chevron-left.fa-2x{disabled: "disabled"}
          .btn.btn-default.btn-icon.btn-circle.icon-lg.btn-chart-next.pull-right.fa.fa-chevron-right.fa-2x{disabled: "disabled"}

          .chart{id: "chart-container-#{@group.id}", style: "width: 94%; height: 300px; margin-left: 3%;"}
            .waiting-spinner.fa.fa-spinner.fa-2x.fa-spin



