.col-sm-2
  = image_tag @user.image
  %h3= @user.name
  %ul#sidebar.nav.nav-pill
    = active_link_to t('metering_points'), metering_points_path, wrap_tag: :li
    = active_link_to t('groups'), groups_path, wrap_tag: :li
    = active_link_to t('contracting_parties'), contracting_parties_path, wrap_tag: :li
    = active_link_to t('contracts'), contracts_path, wrap_tag: :li


.col-sm-7
  %h1= @user.name
  %h3 Friends
  %ul
    - for friendship in @user.friendships
      %li
        = friendship.friend.name
        (#{link_to "remove", friendship, :method => :delete})
  %p= link_to "Find Friends", users_path
  %h3 Friended by Users
  %ul
    - for user in @user.inverse_friends
      %li= h user.name

.col-sm-3