.col-sm-2
  = image_tag @user.image.big
  %h3= @user.name

.col-sm-7
  - for location in @locations
    .panel.panel-default.location_panel
      .panel-body
        = location.address.gmap_location_header_image_tag
      %ul.list-group
        - for metering_point in location.metering_points
          %li.list-group-item
            %h5= metering_point.address_addition
            %span.inlinebar= metering_point.meter.day_to_hours

.col-sm-3
  %h5.page-header=t('friends')
  %ul#sidebar.nav.nav-pill
    - for friendship in @user.friendships
      %li= link_to friendship.friend.name, friendship.friend

  %h5.page-header=t('groups')