#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}

.col-sm-2
  = image_tag @user.image.big
  %h3= @user.name

.col-sm-7
  - if @locations.empty?
    = new_location_path
  - else
    - for location in @locations
      .panel.panel-default.location_panel
        .panel-body
          = location.address.gmap_location_header_image_tag
        %ul.list-group
          = location.new_up_metering_point if !location.metering_points.empty?
          = render location.metering_points

        - if location.metering_points.empty?
          = location.new_down_metering_point


.col-sm-3
  %h5.page-header=t('friends')
  %ul#sidebar.nav.nav-pill
    - for friendship in @user.friendships
      %li= link_to friendship.friend.name, friendship.friend

  %h5.page-header=t('groups')