#page-title
  %h1.page-header.text-overflow= t'access_tokens'


#page-content
  .panel
    .panel-body
      -# .pad-btm.form-inline
      -#   .row
      -#     .col-sm-6.table-toolbar-left
      -#       = new_access_token

      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th= t'token'
              %th= t'created_at'
              %th Status
          %tbody
            - @access_tokens.each do |access_token|
              %tr
                %td= access_token.token
                %td
                  %span.text-muted
                    %i.fa.fa-clock-o
                    = localize(access_token.created_at, :format => :short)
                %td
                  .label.label-table.label-success= access_token.scopes
