.modal-content
  #demo-main-wz
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h4.modal-title= t'new_metering_point'
      %ul.row.wz-step.wz-icon-bw.wz-nav-off.mar-top
        %li.col-xs-6
          %span.icon-wrap.icon-wrap-xs.bg-danger
            %i.fa.fa-flash
          %p.text-thin= t('step') + " 1: " + t('metering_point')
        %li.col-xs-6{style: "opacity: 0.5"}
          %span.icon-wrap.icon-wrap-xs.bg-warning
            %i.fa.fa-dashboard
          %p.text-thin= t('step') + ' 2: ' + t('meter')
        / %li.col-xs-4{style: "opacity: 0.5"}
        /   %span.icon-wrap.icon-wrap-xs.bg-info
        /     %i.fa.fa-file-text
        /   %p.text-thin= t('step') + ' 3: ' + t('data_connection')
    .modal-body
      = simple_form_for @metering_point, remote: true, url: metering_point_update_wizard_metering_points_path, method: 'put'  do |f|
        = f.input :mode, collection: MeteringPoint.modes, include_blank: false, as: :radio_buttons, label: t("metering_point_mode"), checked: MeteringPoint.modes.first
        = f.input :name

        .modal-footer
          .btn.btn-primary.btn-labeled.fa.fa-remove{"data-dismiss" => "modal"}
            = t'cancel'
          = f.button :button, t("continue"), class: 'btn btn-success btn-labeled fa fa-arrow-right', id: 'submit'
