.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h4.modal-title= t'new_meter'
    .modal-body
      %h5= t'progress'
      .progress
        .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "33", role: "progressbar", style: "width: 33%;"}
          33%
      .forminput.box
        = simple_form_for @meter, remote: true, url: meter_update_wizard_metering_points_path(location_id: params[:location_id], metering_point_id: params[:metering_point_id]), method: 'put'  do |f|
          - value = params[:metering_point_id].nil? ? {} : { value: params[:metering_point_id]}
          = f.input :metering_point_id, input_html: {}.merge(value), as: :hidden
          = render 'meters/form_fields', f: f
          .modal-footer
            = f.submit t("continue"), class: 'btn btn-success', id: 'submit'