.modal-content
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4.modal-title= t'new_metering_point'
  .modal-body
    = simple_form_for @metering_point, remote: true, url: wizard_update_wizard_metering_points_path, method: 'put'  do |f|
      %h3=t('define_metering_point')
      %fieldset
        = f.input :mode, collection: MeteringPoint.modes.map(&:to_sym), include_blank: false, as: :radio_buttons, label: t("metering_point_mode"), checked: MeteringPoint.modes.first
        = f.input :name
        %span
          = t('add_me_to_this_metering_point')
          %small
            %i.normal-info-circle.fa.fa-info-circle{'data-content' => t('metering_point_wizard_users_info')}
        = f.input :add_user, as: :radio_buttons, collection: [t('yes'), t('no')], checked: t('yes'), label: false
      %h3=t('add_meter')
      %fieldset
        = f.simple_fields_for @meter do |ff|
          - if current_user.editable_metering_points.collect(&:meter).uniq.compact.any?
            = ff.input :existing_meter, as: :radio_buttons, collection: [t("create_new_meter"), t("add_existing_meter")], checked: t("create_new_meter"), label: false
            .js-dependent-fields{data: {radio: {name: 'metering_point[meter][existing_meter]', value: t("add_existing_meter")}}}
              = ff.input :meter_id, collection: current_user.editable_metering_points.collect(&:meter).uniq.compact, :label_method => lambda { |m| m.name }, include_blank: false, input_html: { class: 'select2'}, label: false, selected: current_user.editable_metering_points.collect(&:meter).uniq.compact.first
            .js-dependent-fields{data: {radio: {name: 'metering_point[meter][existing_meter]', value: t("create_new_meter")}}}
              = ff.input :manufacturer_product_serialnumber
              = ff.input :smartmeter, as: :radio_buttons, collection: [t('yes'), t('no')], checked: t('no')
          - else
            = ff.input :manufacturer_product_serialnumber
            = ff.input :smartmeter, as: :radio_buttons, collection: [t('yes'), t('no')], checked: t('no')
      %h3=t('establish_data_connection')
      %fieldset
        = f.simple_fields_for @contract do |ff|
          .js-dependent-fields{data: {radio: {name: 'metering_point[meter][smartmeter]', value: t("yes")}}}
            .js-dependent-fields{data: {radio: {name: 'metering_point[meter][existing_meter]', value: t("create_new_meter")}}}
              = ff.association :organization, input_html: {class: 'select2'}, label: t('smart_metering_provider')
            .js-dependent-fields{'data-select-id' => 'metering_point_contract_organization_id', 'data-option-value' => Organization.where(slug: 'discovergy').first.id}
              = ff.input :username
              = ff.input :password
            .js-dependent-fields{'data-select-id' => 'metering_point_contract_organization_id', 'data-option-value' => Organization.where(slug: 'mysmartgrid').first.id}
              = ff.input :sensor_id, as: :text, :input_html => {value: ''}, label_method: :sensor_id
              = ff.input :x_token, as: :text, :input_html => {value: ''}, label_method: :x_token
          .js-dependent-fields{data: {radio: {name: 'metering_point[meter][existing_meter]', value: t("add_existing_meter")}}}
            = t('the_metering_point_will_get_its_data_via_the_connection_established_by_the_selected_meter')
          .js-dependent-fields{data: {radio: {name: 'metering_point[meter][existing_meter]', value: t("create_new_meter")}}}
            .js-dependent-fields{data: {radio: {name: 'metering_point[meter][smartmeter]', value: t("no")}}}
              = t('no_smartmeter_means_you_get_dummy_data')