= simple_form_for(@servicing_contract) do |f|
  = f.error_notification

  .form-inputs
    = f.input :tariff
    = f.input :status
    = f.input :signing_user
    = f.input :terms
    = f.input :confirm_pricing_model
    = f.input :power_of_attorney
    = f.input :commissioning
    = f.input :termination
    = f.input :forecast_watt_hour_pa
    = f.input :price_cents

  .form-actions
    = f.button :submit
