.block{id: "servicing_contract_#{servicing_contract.id}"}
  .header.no-border
    = servicing_contract.link_to_edit
    %h2= t('servicing_contract')
  .content.no-padding
    %table.table
      %tbody
        %tr
          %td= t('tariff')
          %td= servicing_contract.tariff
        %tr
          %td= t('status')
          %td= servicing_contract.status
        %tr
          %td= t('signing_user')
          %td= servicing_contract.signing_user
        %tr
          %td= t('commissioning')
          %td= servicing_contract.commissioning
        %tr
          %td= t('termination')
          %td= servicing_contract.termination
        %tr
          %td= t('forecast_watt_hour_pa')
          %td= servicing_contract.forecast_watt_hour_pa
        %tr
          %td= t('price_cents')
          %td= servicing_contract.price_cents