%h1 Listing servicing_contracts

%table
  %tr
    %th Tariff
    %th Status
    %th Signing user
    %th Terms
    %th Confirm pricing model
    %th Power of attorney
    %th Commissioning
    %th Termination
    %th Forecast watt hour pa
    %th Price cents
    %th
    %th
    %th

  - @servicing_contracts.each do |servicing_contract|
    %tr
      %td= servicing_contract.tariff
      %td= servicing_contract.status
      %td= servicing_contract.signing_user
      %td= servicing_contract.terms
      %td= servicing_contract.confirm_pricing_model
      %td= servicing_contract.power_of_attorney
      %td= servicing_contract.commissioning
      %td= servicing_contract.termination
      %td= servicing_contract.forecast_watt_hour_pa
      %td= servicing_contract.price_cents
      %td= link_to 'Show', servicing_contract
      %td= link_to 'Edit', edit_servicing_contract_path(servicing_contract)
      %td= link_to 'Destroy', servicing_contract, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Servicing contract', new_servicing_contract_path
