.modal-content
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4.modal-title= t'edit_meter'
  .modal-body
    = simple_form_for @meter, remote: true, url: edit_wizard_update_wizard_meters_path(meter_id: @meter.id, metering_point_id: @metering_point.id, contract_id: @contract.id), method: 'put' do |f|
      %h3=t('edit_meter')
      %fieldset
        = f.input :manufacturer_name, collection: Meter.manufacturer_names, include_blank: false, input_html: { class: 'select2' }
        = f.input :manufacturer_product_serialnumber
        //= f.association :metering_points, collection: current_user.editable_metering_points_without_meter_not_virtual + @meter.metering_points, include_blank: false, input_html: { class: 'select2' } #select2 association doesnt work with fieldset!!!!!
        = f.input :smartmeter, as: :boolean, wrapper: :vertical_boolean, input_html: { checked: @meter.smart ? true : false}

      %h3=t('edit_data_connection')
      %fieldset
        = f.simple_fields_for @contract do |ff|
          .js-dependent-fields{data: {checkbox: {id: 'meter_smartmeter', value: "true"}}}
            = ff.association :organization, input_html: {class: 'select2'}, label: t('smart_metering_provider')
            .js-dependent-fields{'data-select-id' => 'meter_contract_organization_id', 'data-option-value' => Organization.where(slug: 'discovergy').first.id}
              = ff.input :username
              = ff.input :password
            .js-dependent-fields{'data-select-id' => 'meter_contract_organization_id', 'data-option-value' => Organization.where(slug: 'mysmartgrid').first.id}
              = ff.input :sensor_id, as: :text, :input_html => {value: ''}, label_method: :sensor_id
              = ff.input :x_token, as: :text, :input_html => {value: ''}, label_method: :x_token

          .js-dependent-fields{data: {checkbox: {id: 'meter_smartmeter', value: "false"}}}
            = t('no_smartmeter_means_you_get_dummy_data')