.modal-content
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4.modal-title= t'edit_meter'
  .modal-body
    = simple_form_for @meter, remote: true, url: edit_wizard_update_wizard_meters_path(meter_id: @meter.id, register_id: @register.id, broker_id: @broker.nil? ? nil : @broker.id), method: 'put' do |f|
      %h3=t('edit_meter')
      %fieldset
        = f.input :manufacturer_name, collection: Meter::Real.manufacturer_names, include_blank: false, input_html: { class: 'select2' }
        = f.input :manufacturer_product_serialnumber
        = f.input :smartmeter, as: :boolean, wrapper: :vertical_boolean, input_html: { checked: @meter.smart ? true : false}

      %h3=t('edit_data_connection')
      %fieldset
        = f.simple_fields_for @broker do |ff|
          .js-dependent-fields{data: {checkbox: {id: "#{@meter.class_name}_smartmeter", value: "true"}}}
            - selected_organization = @broker.is_a?(DiscovergyBroker) ? (@broker.provider_login == 'team@localpool.de' ? Organization.buzzn_systems.id : Organization.discovergy.id) : (@broker.is_a?(MySmartGridBroker) ? Organization.mysmartgrid.id : Organization.discovergy.id)
            = ff.input :organization, collection: Organization.metering_point_operators, input_html: { class: 'select2', 'data-placeholder': t('select_smart_metering_provider')}, label: t('smart_metering_provider'), selected: selected_organization
            .js-dependent-fields{'data-select-id' => "#{@meter.class_name}_#{@broker.model_name.param_key}_organization", 'data-option-value' => Organization.discovergy.id}
              = ff.input :provider_login
              = ff.input :provider_password
            .js-dependent-fields{'data-select-id' => "#{@meter.class_name}_#{@broker.model_name.param_key}_organization", 'data-option-value' => Organization.mysmartgrid.id}
              = ff.input :sensor_id, as: :text, :input_html => {value: @broker.provider_login || ''}, label_method: :sensor_id
              = ff.input :x_token, as: :text, :input_html => {value: @broker.provider_password || ''}, label_method: :x_token
          .js-dependent-fields{data: {checkbox: {id: "#{@meter.class_name}_smartmeter", value: "false"}}}
            = t('no_smartmeter_means_you_get_dummy_data')
