.modal-content
  #demo-main-wz
    .modal-header
      /%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h4.modal-title= t'new_meter'
      %ul.row.wz-step.wz-icon-bw.wz-nav-off.mar-top
        .js-dependent-fields{data: {checkbox: {id: 'meter_smartmeter', value: "false"}}}
          %li.col-xs-12
            %span.icon-wrap.icon-wrap-xs.bg-warning
              %i.fa.fa-dashboard
            %p.text-thin= t('step') + ' 1: ' + t('create_meter')
        .js-dependent-fields{data: {checkbox: {id: 'meter_smartmeter', value: "true"}}}
          %li.col-xs-6
            %span.icon-wrap.icon-wrap-xs.bg-warning
              %i.fa.fa-dashboard
            %p.text-thin= t('step') + ' 1: ' + t('add_meter')
          %li.col-xs-6{style: "opacity: 0.5"}
            %span.icon-wrap.icon-wrap-xs.bg-info
              %i.fa.fa-file-text
            %p.text-thin= t('step') + ' 2: ' + t('establish_data_connection')
    .modal-body
      = simple_form_for @meter, remote: true, url: meter_update_wizard_meters_path(metering_point_id: params[:metering_point_id]), method: 'put'  do |f|
        - if current_user.editable_metering_points.collect(&:meter).uniq.compact.any?
          = f.input :existing_meter, as: :radio_buttons, collection: [t("create_new_meter"), t("add_existing_meter")], checked: t("create_new_meter"), label: false
          .js-dependent-fields{data: {radio: {name: 'meter[existing_meter]', value: t("add_existing_meter")}}}
            = f.input :meter_id, collection: current_user.editable_metering_points.collect(&:meter).uniq.compact, :label_method => lambda { |m| m.name }, include_blank: false, input_html: { class: 'select2'}, label: false, selected: current_user.editable_metering_points.collect(&:meter).uniq.compact.first
          .js-dependent-fields{data: {radio: {name: 'meter[existing_meter]', value: t("create_new_meter")}}}
            = f.input :manufacturer_product_serialnumber
            = f.input :smartmeter, as: :boolean, :input_html => { :checked => "unchecked" }
        - else
          = f.input :manufacturer_product_serialnumber
          = f.input :smartmeter, as: :boolean, :input_html => { :checked => "unchecked" }
          / = f.input :existing_meter, as: :boolean, :input_html => { :checked => "unchecked"}
          / .js-dependent-fields{data: {checkbox: {name: 'meter[existing_meter]', checked: "checked"}}}
          /   = f.input :meter, collection: current_user.editable_metering_points.collect(&:meter).uniq, input_html: { class: 'select2'}, label: false, selected: current_user.editable_metering_points.collect(&:meter).uniq.first




        .modal-footer
          .btn.btn-primary.btn-labeled.fa.fa-remove{"data-dismiss" => "modal"}
            = t'cancel'
          .pull-right.js-dependent-fields{data: {checkbox: {id: 'meter_smartmeter', value: "true"}}}
            = f.button :button, t("continue"), class: 'btn btn-success btn-labeled fa fa-arrow-right', id: 'submit'
          .pull-right.js-dependent-fields{data: {checkbox: {id: 'meter_smartmeter', value: "false"}}}
            = f.button :button, t("save"), class: 'btn btn-success btn-labeled fa fa-check', id: 'submit'