= simple_form_for @contracting_party do |f|

  = f.input :legal_entity, collection: ['ich', 'gmbh'], include_blank: false, input_html: { class: 'select2' }

  %fieldset
    %legend= t'organization'
    = f.simple_fields_for :organization do |o|
      = render 'organizations/form_fields', f: o

  %fieldset
    %legend= t'address'
    = f.simple_fields_for :address do |a|
      = render 'addresses/form_fields', f: a

  %fieldset
    %legend= t'bank_account'
    = f.simple_fields_for :bank_account do |ba|
      = render 'bank_accounts/form_fields', f: ba

  .form-actions
    .col-lg-offset-2.col-lg-10
      = f.button :submit, class: 'btn btn-success'