= simple_form_for @contracting_party do |f|

  = f.input :legal_entity, collection: ['ich', 'gmbh'], include_blank: false, input_html: { class: 'select2' }

  %fieldset
    %legend= t'organization'
    = f.simple_fields_for :organization do |o|
      = o.input :image
      = o.input :name
      = o.input :email
      = o.input :phone

  %fieldset
    %legend= t'address'
    = f.simple_fields_for :address do |a|
      = a.input :street
      = a.input :city
      = a.input :state
      = a.input :zip

  %fieldset
    %legend= t'bank_account'
    = f.simple_fields_for :bank_account do |ba|
      = ba.input :holder
      = ba.input :iban
      = ba.input :bic

  .form-actions
    = f.button :submit, class: 'btn btn-success'