- meta title: @contracting_party.name

= content_for :aside do
  %aside#aside-container
    #aside
      .nano
        .nano-content{:tabindex => "0"}

          .text-center.pad-all
            .pad-ver
              %span.fa-stack.fa-lg.fa-5x
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-pencil.fa-stack-1x.fa-inverse
            %h4.text-lg.text-overflow.mar-no= @contracting_party.name


          %hr
            .text-center.clearfix
              - if current_user.can_update?(@contracting_party)
                = @contracting_party.link_to_edit


        .nano-pane{:style => "display: none;"}
          .nano-slider{:style => "height: 20px; transform: translate(0px, 0px);"}

#page-content


  .row
    %h1.page-header.text-overflow
      %span
        = t('contracts')
        %small
          %i.small-info-circle.fa.fa-info-circle{'data-content' => "Um am Stromgeschehen teilnehmen zu können benötigst Du verschiedene Verträge. Zum Beispiel brauchst du einen Vertrag mit einem Stromlieferanten, um überhaupt Strom bekommen zu können. Du siehst hier alle Verträge, die dieser Gruppe zugeordnet sind."}
    = render @contracting_party.contracts


  %hr
  %h1.page-header.text-overflow
    %span
      = t('bank_account')
      %small
        %i.small-info-circle.fa.fa-info-circle{'data-content' => "Um Deine Verträge zu bezahlen musst Du einen Bank Account anlegen. "}
  .row
    .devices
      = render @contracting_party.bank_account

  - if current_user.can_create?(BankAccount)
    .row
      .col-lg-12.text-center
        = @contracting_party.new_bank_account


  %hr
  %h1.page-header.text-overflow
    %span
      = t('invoice_addresses')
      %small
        %i.small-info-circle.fa.fa-info-circle{'data-content' => "Sollte Deine Rechnungsadresse nicht gleich deiner persönlichen Adresse sein, kannst Du dies hier ändern."}
  .row
    .addresses
      = render @contracting_party.address if @contracting_party.address

  - if @contracting_party.address.nil?
    .row
      .col-lg-12.text-center
        = @contracting_party.new_address









