- meta title: @contracting_party.name

= content_for :aside do
  %aside#aside-container
    #aside
      .nano
        .nano-content{:tabindex => "0"}

          .text-center.pad-all
            .pad-ver
              %span.fa-stack.fa-lg.fa-5x
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-pencil.fa-stack-1x.fa-inverse
            %h4.text-lg.text-overflow.mar-no= @contracting_party.name


          %hr
            .text-center.clearfix
              - if current_user.can_update?(@contracting_party)
                = @contracting_party.link_to_edit


        .nano-pane{:style => "display: none;"}
          .nano-slider{:style => "height: 20px; transform: translate(0px, 0px);"}

#page-content


  .row
    %h1.page-header.text-overflow
      %span
        = t('contracts')
        %small
          %i.small-info-circle.fa.fa-info-circle{'data-content' => t('contracting_party_show_info')}
    = render @contracting_party.contracts


  %hr
  %h1.page-header.text-overflow
    %span
      = t('bank_account')
      %small
        %i.small-info-circle.fa.fa-info-circle{'data-content' => t('bank_account_info')}
  .row
    .devices
      = render @contracting_party.bank_account

  - if current_user.can_create?(BankAccount)
    .row
      .col-lg-12.text-center
        = @contracting_party.new_bank_account


  %hr
  %h1.page-header.text-overflow
    %span
      = t('invoice_addresses')
      %small
        %i.small-info-circle.fa.fa-info-circle{'data-content' => t('invoice_address_info')}
  .row
    .addresses
      = render @contracting_party.address if @contracting_party.address

  - if @contracting_party.address.nil?
    .row
      .col-lg-12.text-center
        = @contracting_party.new_address









