- meta title: @contracting_party.name



.panel
  .panel-body
    .col-lg-1.col-md-2.col-sm-2.col-xs-3
      %span.fa-stack.fa-lg.fa-4x
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-pencil.fa-stack-1x.fa-inverse

    .col-lg-4.col-md-3.col-sm-3.col-xs-5
      .media-body.pad-lft
        %p.text-3x.mar-no= @contracting_party.name

    .panel-control

      - if current_user.can_update?(@contracting_party)
        = @contracting_party.link_to_edit




#page-content
  .row
    .col-md-6.col-lg-6
      .row
        %h1.page-header.text-overflow
          %span
            = t('contracts')
            %small
              %i.small-info-circle.fa.fa-info-circle{'data-content' => t('contracts_info_contracting_party')}
        = render @contracting_party.contracts

    .col-md-6.col-lg-6
      %h1.page-header.text-overflow
        %span
          = t('bank_account')
          %small
            %i.small-info-circle.fa.fa-info-circle{'data-content' => t('bank_account_info')}
      .row
        .devices
          = render @contracting_party.bank_account

      - if current_user.can_create?(BankAccount)
        .row
          .col-lg-12.text-center
            = @contracting_party.new_bank_account


      %hr
      %h1.page-header.text-overflow
        %span
          = t('invoice_addresses')
          %small
            %i.small-info-circle.fa.fa-info-circle{'data-content' => t('invoice_address_info')}
      .row
        .addresses
          = render @contracting_party.address if @contracting_party.address

      - if @contracting_party.address.nil?
        .row
          .col-lg-12.text-center
            = @contracting_party.new_address









