- meta title: @contracting_party.name

= content_for :aside do
  %aside#aside-container
    #aside
      .nano
        .nano-content{:tabindex => "0"}

          .text-center.pad-all
            .pad-ver
              %span.fa-stack.fa-lg.fa-5x
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-pencil.fa-stack-1x.fa-inverse
            %h4.text-lg.text-overflow.mar-no= @contracting_party.name


          %hr
            .text-center.clearfix
              - if current_user.can_update?(@contracting_party)
                = @contracting_party.link_to_edit


        .nano-pane{:style => "display: none;"}
          .nano-slider{:style => "height: 20px; transform: translate(0px, 0px);"}

#page-content
  .row
    .col-sm-6
      .panel
        .panel-heading
          %h3.panel-title
            =t('contracting_party_properties')
        .panel-body
          .table-responsive
            %table.table.table-striped
              %tbody
                %tr
                  %td= t('legal_entity')
                  %td= t @contracting_party.legal_entity
                %tr
                  %td= t('sales_tax_number')
                  %td= t @contracting_party.sales_tax_number
                %tr
                  %td= t('tax_rate')
                  %td= t @contracting_party.tax_rate
                %tr
                  %td= t('tax_number')
                  %td= t @contracting_party.tax_number


  %hr
  %h1.page-header.text-overflow= t'invoice_address'
  .row
    .addresses
      = render @contracting_party.address if @contracting_party.address

  - if @contracting_party.address.nil?
    .row
      .col-lg-12.text-center
        = @contracting_party.new_address


  %hr
  %h1.page-header.text-overflow= t'bank_account'
  .row
    .devices
      = render @contracting_party.bank_account

  - if current_user.can_create?(BankAccount)
    .row
      .col-lg-12.text-center
        = @contracting_party.new_bank_account


  %hr
  %h1.page-header.text-overflow= t'contracts'
  .row
    = render @contracting_party.contracts




