- meta title: "#{current_user.name}"
- meta description: "stream"





#page-content
  / .row
  /   .col-md-6.col-lg-6
  /     %h1.page-header.text-overflow
  /       %span
  /         = t('stream')
  /         %small
  /           %i.small-info-circle.fa.fa-info-circle{'data-content' => t('stream_info')}
  /     / Timeline
  /     / ===================================================
  /     .timeline
  /       / Timeline header
  /       .timeline-header
  /         .timeline-header-title.bg-purple
  /           =t('now')

  /       - @activities.each do |activity|
  /         - if activity.trackable && activity.trackable.readable_by?(current_user)
  /           = render_activity activity, locals: {decorator: activity.decorate} , layout: "layouts/activity_wrapper"
  /         - elsif activity.recipient && activity.recipient_type != "User" && activity.recipient.readable_by?(current_user)
  /           = render_activity activity, locals: {decorator: activity.decorate} , layout: "layouts/activity_wrapper"
  /         - elsif activity.recipient && activity.recipient_type == "User" && activity.recipient.profile.readable_by?(current_user)
  /           = render_activity activity, locals: {decorator: activity.decorate} , layout: "layouts/activity_wrapper"
  /         - elsif activity.owner && activity.owner_type == "User" && activity.owner.profile.readable_by?(current_user)
  /           = render_activity activity, locals: {decorator: activity.decorate} , layout: "layouts/activity_wrapper"

  .row
    .col-md-12.col-lg-12
      .timeline.two-column
        / Timeline header
        .timeline-header
          .timeline-header-title.bg-success
            =t('now')

        - @activities.each do |activity|
          - if activity.trackable && activity.trackable.readable_by?(current_user)
            = render_activity activity, locals: {decorator: activity.decorate} , layout: "layouts/activity_wrapper"
          - elsif activity.recipient && activity.recipient_type != "User" && activity.recipient.readable_by?(current_user)
            = render_activity activity, locals: {decorator: activity.decorate} , layout: "layouts/activity_wrapper"
          - elsif activity.recipient && activity.recipient_type == "User" && activity.recipient.profile.readable_by?(current_user)
            = render_activity activity, locals: {decorator: activity.decorate} , layout: "layouts/activity_wrapper"
          - elsif activity.owner && activity.owner_type == "User" && activity.owner.profile.readable_by?(current_user)
            = render_activity activity, locals: {decorator: activity.decorate} , layout: "layouts/activity_wrapper"





