.modal-content
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4.modal-title= t'edit_bank_account'
  .modal-body
    = simple_form_for @bank_account, remote: true do |f|
      = render 'bank_accounts/form_fields', f: f
      .modal-footer
        .float-left= @bank_account.decorate.link_to_delete
        .btn.btn-primary.btn-labeled.fa.fa-remove{"data-dismiss" => "modal"}
          = t'cancel'
        = f.button :button, t('save'), id: 'submit', class: 'btn btn-success btn-labeled fa fa-check'


