

= content_for :aside do
  %aside#aside-container
    #aside
      .nano
        .nano-content{:tabindex => "0"}

          .text-center.pad-all
            .pad-ver
              %span.fa-stack.fa-lg.fa-5x
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-map-marker.fa-stack-1x.fa-inverse
            %h4.text-lg.text-overflow.mar-no= @bank_account.iban

          %hr
            .text-center.clearfix
              - if current_user.can_update?(@bank_account)
                = @bank_account.link_to_edit

#page-content

  .row
    .col-sm-6
      .panel
        .panel-heading
          %h3.panel-title
            =t('bank_account')
        .panel-body
          .table-responsive
            %table.table.table-striped
              %tbody
                %tr
                  %td= t('iban')
                  %td= @bank_account.iban
                %tr
                  %td= t('holder')
                  %td= @bank_account.holder










