.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h4.modal-title= t'asset'
    .modal-body
      = simple_form_for @asset, remote: true, html: {multipart: true } do |f|
        = render 'assets/form_fields', f: f
        .modal-footer
          = f.button :submit, id: 'submit', class: 'btn btn-success'
          = @asset.decorate.link_to_delete
