.address.col-md-6.col-lg-3
  = link_to address do
    .panel
      = image_tag(address.static_gmap_url('1300x400'), class: 'img-responsive')
      .pad-all
        %address
          = "#{address.street_name} #{address.street_number}"
          %br
          = "#{address.zip} #{address.city}"


