.modal-content
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4.modal-title= t'new_address'
  .modal-body
    = simple_form_for @address, remote: true do |f|

      - value = params[:addressable_type].nil? ? {} : { value: params[:addressable_type] }
      = f.input :addressable_type, input_html: {}.merge(value), as: :hidden

      - value = params[:addressable_id].nil? ? {} : { value: params[:addressable_id] }
      = f.input :addressable_id, input_html: {}.merge(value), as: :hidden

      = render 'addresses/form_fields', f: f
      .modal-footer
        .btn.btn-primary.btn-labeled.fa.fa-remove{"data-dismiss" => "modal"}
          = t'cancel'
        = f.button :button, t('save'), id: 'submit', class: 'btn btn-success btn-labeled fa fa-check'
