#content
  .forminput.box
    %h1= t'complete_user'
    = simple_form_for @profile, url: url_for(action: 'complete_user_update', controller: 'wizard_consumers'), method: 'put'  do |f|
      = f.input :first_name
      = f.input :last_name
      = f.input :gender, include_blank: false, collection: [:male, :female], input_html: { class: 'select2' }
      = f.input :phone
      = f.submit t("continue"), class: 'btn btn-success', id: 'submit'