.container
  .row
    .col-md-4
    .col-md-4
      %h5= t'progress'
  .row
    .col-md-4
    .col-md-4
      .progress
        -if current_user.contracting_party.legal_entity == 'natural_person'
          .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "89", role: "progressbar", style: "width: 89%;"}
            89%
        -else
          .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "92", role: "progressbar", style: "width: 92%;"}
            92%
  .row
    .col-md-4
    .col-md-4
      .forminput.box
        %h1= t'complete_contract'
        = simple_form_for @contract, url: url_for(action: 'complete_contract_update', controller: 'wizard_consumers'), method: 'put', html: {class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
          = f.input :terms
          = f.input :confirm_pricing_model
          = f.input :power_of_attorney
          = f.submit t("continue"), class: 'btn btn-success', id: 'submit'