#content
  .forminput.box
    %h1= t'location_address'
    = simple_form_for @location, url: url_for( action: 'location_address_update', controller: 'wizard_consumers'), method: 'put'  do |f|
      = f.simple_fields_for :address do |a|
        = render 'addresses/form_fields', f: a

      = f.submit t("continue"), class: 'btn btn-success', id: 'submit'