.modal-content
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4.modal-title= t'add_metering_point_to_dashboard'
  .modal-body
    = simple_form_for @dashboard, remote: true,  url: add_metering_point_update_dashboard_path, method: 'put'  do |f|
      = f.input :metering_points, collection: @dashboard.user.usable_metering_points - @dashboard.metering_points.decorate, input_html: { class: 'select2', 'data-placeholder': t('add_metering_point'), :multiple => true}, label: false, include_blank: false, :label_method => lambda { |m| m.decorate.name_with_users }
      .modal-footer
        .btn.btn-primary.btn-labeled.fa.fa-remove{"data-dismiss" => "modal"}
          = t'cancel'
        = f.button :button, t('confirm'), id: 'submit', class: 'btn btn-success btn-labeled fa fa-check'