- single_content_for :action do
  - if a.trackable && a.trackable.commentable
    - if a.trackable.commentable.is_a?(Conversation)
      = t('wrote_a_new_comment_at_your_conversation')
      %a.btn-link.text-semibold{:href => conversations_path}
        =t('my_conversations')
      %blockquote.bq-sm.bq-open
        = a.trackable.body
    - else
      = t('has_commented_on') + ' ' + t("the_#{a.trackable.commentable.class.name.underscore.split('/')[0]}")
      %a.btn-link.text-semibold{:href => polymorphic_path(a.trackable.commentable)}
        =a.trackable.commentable.name
      %blockquote.bq-sm.bq-open
        = a.trackable.body
  - else
    = t('no_information_available')
