.modal-content
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4.modal-title= t'add_metering_point_manager'
  .modal-body
    = simple_form_for @metering_point, remote: true, url: add_manager_update_metering_point_path, method: 'put'  do |f|
      %p= t('add_metering_point_manager_info')
      %p= t('add_manager_careful_info')
      = f.input :user_id, collection: [@metering_point.users + current_user.friends].flatten.uniq, input_html: { class: 'select2', 'data-placeholder': t('add_metering_point_manager')}, label: false, selected: '', include_blank: true
      .modal-footer
        .btn.btn-primary.btn-labeled.fa.fa-remove{"data-dismiss" => "modal"}
          = t'cancel'
        = f.button :button, t('confirm'), id: 'submit', class: 'btn btn-success btn-labeled fa fa-check'