.modal-content
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4.modal-title= t'edit_metering_point'
  .modal-body
    = simple_form_for @metering_point, remote: true do |f|
      = render 'metering_points/form_fields', f: f
      .modal-footer
        = f.button :submit, id: 'submit', class: 'btn btn-success'
        = @metering_point.decorate.link_to_delete