.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h4.modal-title= t'edit_metering_point'
    .modal-body
      = simple_form_for @metering_point, remote: true, html: {class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
        = render 'metering_points/form_fields', f: f

        = f.button :submit, id: 'submit', class: 'btn btn-success'
        = @metering_point.link_to_delete