.modal-dialog
  .modal-content
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
      %h4.modal-title= t'edit_petering_point'
    .modal-body
      = horizontal_form_for @metering_point, remote: true do |f|
        = render 'metering_points/form_fields', f: f
        = f.button :submit, id: 'submit', class: 'btn btn-primary'
        = link_to t('destroy'), @metering_point, id: 'delete', :method => :delete, remote: true, :data => { :confirm => t('are_you_sure') }, class: 'btn btn-danger'
