-# = f.input :image
= f.input :mode, collection: MeteringPoint.modes, include_blank: false, as: :radio_buttons, label: false
%p
  %span
    = t('virtual')
    %small
      %i.normal-info-circle.fa.fa-info-circle{'data-content' => "Ein virtueller Zählpunkt ist physikalisch nicht existent. Er wird über andere Zählpunkte berechnet. Die Formel zur Berechnung kann unten eingegeben werden."}
    = f.input :virtual, label: false


= f.input :name

.js-dependent-fields{data: {checkbox: {id: 'metering_point_virtual', value: 'false'}}}
  = f.input :uid

= f.association :group, collection: Group.editable_by_user(current_user)

.js-dependent-fields{data: {checkbox: {id: 'metering_point_virtual', value: 'true'}}}
  %h5= t("formula")
  #formula_parts
    = f.simple_fields_for :formula_parts do |formula_part|
      = render 'formula_part_fields', :f => formula_part
    .links.mar-btm
      = link_to_add_association t('add_formula_part'), f, :formula_parts, class: "btn btn-xs btn-default btn-rounded btn-labeled fa fa-plus"

