-# = f.input :image
= f.input :name
= f.input :uid

%label= t'current_directions'
#registers
  = f.simple_fields_for :register do |r|
    .nested-fields
      .row
        = r.input :mode, collection: Register.modes, include_blank: false, label: false, wrapper_html: { class: 'col-md-3' }

