-# = f.input :image
= f.input :mode, collection: MeteringPoint.modes.map(&:to_sym), include_blank: false, as: :radio_buttons, label: false
%span
  = t('virtual_metering_point')
  %small
    %i.normal-info-circle.fa.fa-info-circle{'data-content' => t('metering_point_virtual_info')}

= f.input :virtual, as: :radio_buttons, label: false
= f.input :name
= f.input :forecast_kwh_pa

.js-dependent-fields{data: {radio: {name: 'metering_point[virtual]', value: 'false'}}}
  = f.input :uid

= f.input :observe, as: :radio_buttons
.js-dependent-fields{data: {radio: {name: 'metering_point[observe]', value: 'true'}}}
  = f.input :min_watt
  = f.input :max_watt
= f.input :observe_offline, as: :radio_buttons

= f.association :group, collection: Group.editable_by_user(current_user) if Group.editable_by_user(current_user).any?
= f.input :readable, collection: MeteringPoint.readables.map(&:to_sym), include_blank: false
.js-dependent-fields{data: {radio: {name: 'metering_point[virtual]', value: 'true'}}}
  %h5
    %span
      = t('formula')
      %small
        %i.normal-info-circle.fa.fa-info-circle{'data-content' => t('metering_point_formula_info')}
  #formula_parts
    = f.simple_fields_for :formula_parts do |formula_part|
      = render 'formula_part_fields', :f => formula_part
    .links.mar-btm
      = link_to_add_association t('add_formula_part'), f, :formula_parts, class: "btn btn-xs btn-default btn-rounded btn-labeled fa fa-plus"

