-# = f.input :image
= f.input :name
= f.input :uid
= f.input :mode, collection: MeteringPoint.modes, include_blank: false
= f.input :virtual
.nested-fields
  .links
    = link_to_add_association 'add_formula_part', f, :formula_parts




