= simple_form_for @metering_point do |f|

  = f.input :uid

  %fieldset
    %legend= t'address'
    = f.simple_fields_for :address do |a|
      = render 'addresses/form_fields', f: a

  %fieldset
    %legend= t'meter'
    = f.simple_fields_for :meter do |m|
      = render 'meters/form_fields', f: m


  .form-actions
    = f.button :submit, id: 'submit', class: 'btn btn-success'