= f.input :image
= f.input :name
= f.input :uid

%label= t'current_directions'
#registers
  = f.simple_fields_for :registers do |register|
    = render 'register_fields', :f => register
  .links
    = link_to_add_association t('add_current_direction'), f, :registers
