-# = f.input :image
= f.input :mode, collection: MeteringPoint.modes, include_blank: false, as: :radio_buttons, label: false
= f.input :virtual
= f.input :name
= f.input :forecast_kwh_pa

.js-dependent-fields{data: {checkbox: {id: 'metering_point_virtual', value: 'false'}}}
  = f.input :uid

= f.association :group, collection: Group.editable_by_user(current_user) if Group.editable_by_user(current_user).any?
= f.input :readable, collection: MeteringPoint.readables.map(&:to_sym), include_blank: false, :selected => :friends
.js-dependent-fields{data: {checkbox: {id: 'metering_point_virtual', value: 'true'}}}
  %h5
    %span
      = t('formula')
      %small
        %i.normal-info-circle.fa.fa-info-circle{'data-content' => t('metering_point_virtual_info')}
  #formula_parts
    = f.simple_fields_for :formula_parts do |formula_part|
      = render 'formula_part_fields', :f => formula_part
    .links.mar-btm
      = link_to_add_association t('add_formula_part'), f, :formula_parts, class: "btn btn-xs btn-default btn-rounded btn-labeled fa fa-plus"

