.item{id: "metering_point_#{metering_point.id}" }
  .block
    .header.no-border
      .marker-box.pull-left
        = metering_point.image_tag_small
      = link_to t('details'), metering_point, class: 'btn btn-default pull-right'
      %h2= metering_point.name
    = render metering_point.registers
