.col-sm-12.col-md-12.col-lg-6.metering_point{id: "metering_point_#{metering_point.id}" }
  = link_to metering_point do
    .panel.widget

      .widget-header{class: "bg-#{metering_point.mode_class}" }
        .chart{id: "chart-container-#{metering_point.id}", style: "width: 100%; height: 180px;"}

      .widget-body.text-center

        %span.icon-wrap.icon-wrap-sm.icon-circle.widget-img.img-border-light{ class: "bg-#{metering_point.mode_class}"}
          %i.fa.fa-bolt.fa-3x


        %p.text-2x.mar-no= metering_point.long_name
        %ul.list-unstyled.text-center.pad-top.mar-no.clearfix

          = content_tag :div, id: "metering_point-ticker-#{metering_point.id}", class: "metering_point-ticker", data: { readings: metering_point.smart? ? metering_point.last_two_readings : nil, slp: !metering_point.smart? && !metering_point.virtual } do
            %span.text-4x
              .power-ticker
                0
          %p.text-muted Watt
      .add-to-dashboard
        - if user_signed_in? && (current_user.dashboard.nil? || !current_user.dashboard.metering_points.include?(metering_point))
          = metering_point.add_to_dashboard
      .remove-from-dashboard
        - if user_signed_in? && !current_user.dashboard.nil? && current_user.dashboard.metering_points.include?(metering_point)
          = metering_point.remove_from_dashboard
