.item{id: "metering_point_#{metering_point.id}" }
  .block
    .header.no-border
      .marker-box.pull-left
        = metering_point.image_tag_small
      - if user_signed_in?
        - if current_user.can_update?(metering_point)
          = link_to t('details'), metering_point, class: 'btn btn-default pull-right'
      %h2= metering_point.name

    = render metering_point.registers
    .content
      .stat-data
        - if metering_point.mode == "in"
          // TODO .stat-blue to .stat-box.blue and .stat-box.red
          .stat-blue
            %h2= metering_point.metering_point_users.length
            %p= t('users')
        - else
          .stat-red
            %h2= metering_point.metering_point_users.length
            %p= t('users')
      %article.sidebar_module.user-data.residents
        %ul
          - metering_point.metering_point_users.each do |user|
            = render user.user.profile.decorate
          - if user_signed_in?
            - if current_user.can_update?(metering_point) || metering_point.users.include?(current_user)
              = metering_point.edit_users
        .clearfix
      .clear
      .stat-data
        - if metering_point.mode == "in"
          .stat-blue
            %h2= metering_point.devices.length
            - if metering_point.devices.length == 1
              %p= t('device')
            - else
              %p= t('devices')
        - else
          .stat-red
            %h2= metering_point.devices.length
            - if metering_point.devices.length == 1
              %p= t('device')
            - else
              %p= t('devices')
      %article.sidebar_module.devices-data.residents
        %ul
          - metering_point.devices.each do |device|
            = render device.decorate
          - if user_signed_in?
            - if current_user.can_update?(metering_point) || metering_point.users.include?(current_user)
              = metering_point.edit_devices
      .clear
      - if user_signed_in? && current_user.can_update?(metering_point)
        = metering_point.new_sub_metering_point

