.item{id: "metering_point_#{metering_point.id}" }
  - if current_user.can_update?(metering_point)
    %h5= metering_point.link_to_edit
  - else
    %h5= metering_point.name

  - if current_user.can_update?(metering_point)
    - if metering_point.meter
      = metering_point.meter.edit
    - else
      = metering_point.new_meter

    - if metering_point.up_metering?
      - if metering_point.devices.empty?
        = metering_point.new_device
      - else
        - metering_point.devices.each do |device|
          = device.edit