.col-xs-12.col-sm-12.col-md-12.col-lg-12.metering_point{id: "metering_point_#{metering_point.id}", data: {smart: "#{metering_point.smart?}", online: "#{metering_point.online?}"} }

  = link_to metering_point do
    .panel.widget
      - if !metering_point.smart?
        .ribbon-wrapper-green{"data-toggle" => "popover", "data-placement" => "left", "title" => t("dummy"), "data-content" => t("you_dont_have_a_smart_meter_so_your_energy_data_is_estimated_as_shown")}
          .ribbon-green= t('dummy')
      .widget-header{class: "bg-#{metering_point.mode_class}" }

        .chart{id: "chart-container-#{metering_point.id}", style: "width: 100%; height: 180px;"}
          = t('loading') + '...'

      .widget-body.text-center

        %span.icon-wrap.icon-wrap-sm.icon-circle.widget-img.img-border-light{ class: "bg-#{metering_point.mode_class}"}
          %i.fa.fa-bolt.fa-3x


        %p.text-2x.mar-no= metering_point.long_name
        %ul.list-unstyled.text-center.pad-top.mar-no.clearfix

          = content_tag :div, id: "metering_point-ticker-#{metering_point.id}", class: "metering_point-ticker", data: { fake: !metering_point.smart? && !metering_point.virtual, source: metering_point.data_source } do
            %span.text-4x
              .power-ticker
                = t('loading') + '...'
          %p.text-muted Watt

