.item{id: "metering_point_#{metering_point.id}" }
  .block
    .header.no-border
      .marker-box.pull-left
        = metering_point.image_tag_small
      - if user_signed_in?
        - if current_user.can_update?(metering_point)
          = link_to t('details'), metering_point, class: 'btn btn-default pull-right'
      .metering_point_name
        %h2= metering_point.name
    - if !metering_point.registers.first.meter.smart?
      .ribbon-wrapper-green
        .ribbon-green
          = t('slp')
    = metering_point.chart('day_to_hours')
    .content
      .left
        %article.sidebar_module.user-data.residents
          %ul
            - metering_point.metering_point_users.each do |user|
              .metering_point_user
                = render user.user.profile.decorate
            - if user_signed_in?
              - if current_user.can_update?(metering_point) || metering_point.users.include?(current_user)
                .metering_point_user
                  = metering_point.edit_users
          .clearfix
        .clear
      .right
        %article.sidebar_module.devices-data.residents
          %ul
            - metering_point.devices.each do |device|
              .metering_point_device
                = render device.decorate
            - if user_signed_in?
              - if current_user.can_update?(metering_point) || metering_point.users.include?(current_user)
                = metering_point.edit_devices
      - if metering_point.mode == "in"
        .blue-divider
      - else
        .red-divider
      .clear
      - if user_signed_in? && current_user.can_update?(metering_point)
        = metering_point.new_sub_metering_point

