.col-sm-6.col-md-6.col-lg-3.metering_point{id: "metering_point_#{metering_point.id}" }
  = link_to metering_point do
    .panel.panel-info.panel-colorful.text-center

      .panel-body{class: "bg-#{metering_point.mode_class}" }
        .chart{id: "chart-container-#{metering_point.id}", style: "width: 100%; height: 70px;"}

      .bg-light.pad-ver
        %h4.mar-no.text-thin
          =metering_point.long_name

        %ul.list-unstyled.text-center.pad-top.mar-no.clearfix
        .display-in-series
          - if user_signed_in? && !current_user.dashboard.nil? && current_user.dashboard.metering_points.include?(metering_point)
            - if current_user.dashboard.dashboard_metering_points.where(metering_point_id: metering_point.id).first.displayed
              = metering_point.remove_from_series
            - else
              = metering_point.display_in_series
        .remove-from-dashboard
          - if user_signed_in? && !current_user.dashboard.nil? && current_user.dashboard.metering_points.include?(metering_point)
            = metering_point.remove_from_dashboard

            / .btn-group
            /   %button.btn.btn-block.btn-success.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
            /     =t('display_in_series')
            /   %ul.dropdown-menu{role: "menu"}
            /     %li= link_to t('series') + " 1", display_metering_point_in_series_dashboard_path(metering_point_id: metering_point.id, slug: current_user.dashboard.slug, operator: "+", series: 1), remote: true
            /     %li= link_to t('series') + " 2", display_metering_point_in_series_dashboard_path(metering_point_id: metering_point.id, slug: current_user.dashboard.slug, operator: "+", series: 2), remote: true
            /     %li= link_to t('series') + " 3", display_metering_point_in_series_dashboard_path(metering_point_id: metering_point.id, slug: current_user.dashboard.slug, operator: "+", series: 3), remote: true
