.col-sm-6.col-md-6.col-lg-3.metering_point{id: "metering_point_#{metering_point.id}", data: {smart: "#{metering_point.smart?}", online: "#{metering_point.online?}"} }

  = link_to metering_point do
    .panel.panel-info.panel-colorful.text-center
      - if !metering_point.smart?
        .ribbon-wrapper-green{"data-toggle" => "popover", "data-placement" => "left", "title" => t("#{metering_point.fake_label}"), "data-content" => t("dummy_description")}
          .ribbon-green= t('dummy')
      .panel-body{class: "bg-#{metering_point.mode_class}" }

        .chart{id: "chart-container-#{metering_point.id}", style: "width: 100%; height: 70px;"}
          .waiting-spinner.fa.fa-spinner.fa-2x.fa-spin

      .bg-light.pad-ver
        %h4.mar-no.text-thin
          =metering_point.long_name
        - if request.original_url.include?("dashboard")
          .remove-from-dashboard
            = metering_point.remove_from_dashboard
        / - else
        /   %ul.list-unstyled.text-center.pad-top.mar-no.clearfix

        /     = content_tag :div, id: "metering_point-ticker-#{metering_point.id}", class: "metering_point-ticker", data: { fake: !metering_point.smart? && !metering_point.virtual, source: metering_point.data_source } do
        /       %span.text-2x
        /         .power-ticker
        /           = t('loading') + '...'
        /     %p.text-muted Watt
