.modal-content
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4.modal-title= t'invite_friends_to_join_this_metering_point'
  .modal-body
    = simple_form_for @metering_point, remote: true,  url: send_invitations_update_metering_point_path, method: 'put'  do |f|
      .js-dependent-fields{data: {radio: {name: 'metering_point[invite_via_email]', value: "false"}}}
        = f.input :new_users, collection: current_user.invitable_users(@metering_point), input_html: { class: 'select2', 'data-placeholder': t('search_friends')}, label: false, selected: '', include_blank: true
      = f.input :invite_via_email, as: :radio_buttons, checked: (params[:metering_point].nil? || params[:metering_point][:invite_via_email].nil?) ? 'false' : 'true'
      .js-dependent-fields{data: {radio: {name: 'metering_point[invite_via_email]', value: "true"}}}
        = f.input :email, input_html: { value: ''}
      .modal-footer
        .btn.btn-primary.btn-labeled.fa.fa-remove{"data-dismiss" => "modal"}
          = t'cancel'
        = f.button :button, t('send'), id: 'submit', class: 'btn btn-success btn-labeled fa fa-check'