- meta title: @metering_point.long_name


= content_for :aside do
  %aside#aside-container
    #aside
      .nano
        .nano-content{:tabindex => "0"}
          .text-center.pad-all
            .pad-ver
              %span.fa-stack.fa-lg.fa-5x
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-bolt.fa-stack-1x.fa-inverse
            %h4.text-lg.text-overflow.mar-no= @metering_point.long_name


          - if @metering_point
            %hr
            .text-center.clearfix
              .metering_point{ id: @metering_point.id}
                .pad-all.text-center
                  - if (@metering_point.meter && @metering_point.meter.smart?) || @metering_point.virtual
                    = content_tag :div, id: "metering_point-ticker-#{@metering_point.id}", class: "metering_point-ticker", data: { readings: @metering_point.last_two_readings, slp: false } do
                      %span.text-4x.text-thin
                        .power-ticker
                          0
                  - else
                    = content_tag :div, id: "metering_point-ticker-#{@metering_point.id}", class: "metering_point-ticker", data: { slp: true } do
                      %span.text-4x.text-thin
                        .power-ticker
                          0
                  %p= t'watt'
              - if @metering_point.smart?
                .add-to-dashboard
                  - if user_signed_in? && (current_user.dashboard.nil? || !current_user.dashboard.metering_points.include?(@metering_point))
                    = @metering_point.add_to_dashboard


          %hr
            .text-center.clearfix
              .col-xs-6
                %p.h3= @users.count
                %small.text-muted= t'residents'
              .col-xs-6
                %p.h3= @devices.count
                %small.text-muted= t'devices'

          - if user_signed_in?
            - if current_user.can_update?(@metering_point)
              %hr
                .text-center.clearfix
                  = @metering_point.link_to_edit




#page-content


  .row
    .col-sm-12.col-md-12.col-lg-12.metering_point_detail{id: "metering_point_#{@metering_point.id}"}
      .panel
        .panel-body.panel-colorful{class: "panel-#{@metering_point.mode_class}"}
          .chart{id: "chart-container-#{@metering_point.id}", style: "width: 100%; height: 300px;"}
          .pad-all
            /.btn.btn-success.btn-chart-prev=content_tag(:i, nil, class: 'fa fa-angle-double-left')
            .btn.btn-success.btn-chart-prev=content_tag(:i, nil, class: 'fa fa-chevron-circle-left fa-2x')
            .btn.btn-success.btn-chart-zoomout=content_tag(:i, nil, class: 'fa fa-minus-circle fa-2x')
            /.btn.btn-success.btn-chart-next.pull-right=content_tag(:i, nil, class: 'fa fa-angle-double-right')
            .btn.btn-success.btn-chart-next.pull-right=content_tag(:i, nil, class: 'fa fa-chevron-circle-right fa-2x')

  - if user_signed_in? && current_user.can_update?(@metering_point) || @devices.size != 0
    %hr
    %h1.page-header.text-overflow
      %span
        = t('devices')
        %small
          %i.small-info-circle.fa.fa-info-circle{'data-content' => "Hier kannst Du Deine Geräte, die mit Strom zu tun haben, anlegen und deinem Strombezug bzw. deiner Stromerzeugung hinzufügen."}
    .row
      .devices
        = render @devices

      - if user_signed_in? && current_user.can_update?(@metering_point)
        .row
          .col-lg-12.text-center
            = @metering_point.edit_devices

  - if user_signed_in? && current_user.can_update?(@metering_point) || @users.size != 0
    %hr
    %h1.page-header.text-overflow
      %span
        = t('members')
        %small
          %i.small-info-circle.fa.fa-info-circle{'data-content' => "Mitglieder sind hier alle Leute, die diesem Zählpunkt zugeordnet sind, also z.B. Mitbewohner einer Wohnung oder eines Hauses."}
    .row
      - @users.each do |user|
        = render user.profile

      - if user_signed_in? && current_user.can_update?(@metering_point)
        .row
          .col-lg-12.text-center
            = @metering_point.edit_users


  - if user_signed_in? && current_user.can_update?(@metering_point)
    %hr
    %h1.page-header.text-overflow
      %span
        = t('address')
        %small
          %i.small-info-circle.fa.fa-info-circle{'data-content' => "Jeder Zählpunkt hat eine Adresse, z.B. ist das die Adresse des Hauses oder der Wohnung, in der sich der Zählpunkt befindet."}
    .row
      .addresses
        = render @metering_point.address if @metering_point.address

    - if @metering_point.address.nil?
      .row
        .col-lg-12.text-center
          = @metering_point.new_address



  - if user_signed_in? && current_user.can_update?(@metering_point)
    %hr
    %h1.page-header.text-overflow
      %span
        = t('meters')
        %small
          %i.small-info-circle.fa.fa-info-circle{'data-content' => "Der Zähler ist das Gerät, das den Stromverbrauch bzw. die Stromerzeugung misst, welche dem Zählpunkt zugeordnet ist."}
    .row
      .meters
        = render @metering_point.meter if @metering_point.meter

    - if @metering_point.meter.nil?
      .row
        .col-lg-12.text-center
          = @metering_point.new_meter


  - if user_signed_in? && current_user.can_update?(@metering_point)
    %hr
    %h1.page-header.text-overflow
      %span
        = t('contracts')
        %small
          %i.small-info-circle.fa.fa-info-circle{'data-content' => "Um am Stromgeschehen teilnehmen zu können benötigst Du verschiedene Verträge. Zum Beispiel brauchst du einen Vertrag mit einem Stromlieferanten, um überhaupt Strom bekommen zu können. Du siehst hier alle Verträge, die dieser Gruppe zugeordnet sind."}
    .row
      .contracts
        = render @metering_point.contracts

      .row
        .col-lg-12.text-center
          = @metering_point.new_contract






