- meta title: @metering_point.name

= content_for :aside do
  %aside#aside-container
    #aside
      .nano
        .nano-content{:tabindex => "0"}
          .text-center.pad-all
            .pad-ver
              - if @metering_point.image?
                = image_tag @metering_point.image.lg, class: 'img-circle img-lg img-border'
              - else
                %span.fa-stack.fa-lg.fa-5x
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-bolt.fa-stack-1x.fa-inverse

            %h4.text-lg.text-overflow.mar-no= @metering_point.name


          - if @metering_point.address
            %hr
            .pad-hor
              %h5=t('address')
              %address
                = "#{@metering_point.address.street_name} #{@metering_point.address.street_number}"
                %br
                = "#{@metering_point.address.zip} #{@metering_point.address.city}"
                %br
                = @metering_point.address.state

          - if @meter
            %hr
              %ul.list-group.bg-trans
                %li.list-group-item.list-item-sm
                  %i.fa.fa-tachometer.fa-fw
                  = link_to @meter.name, @meter

          %hr
            .text-center.clearfix
              .col-xs-6
                %p.h3= @users.count
                %small.text-muted= t'residents'
              .col-xs-6
                %p.h3= @devices.count
                %small.text-muted= t'devices'
          %hr
            .text-center.clearfix
              - if current_user.can_update?(@metering_point)
                = @metering_point.link_to_edit





- if @metering_point.path_ids.count > 1
  .pad-ver
    %ol.breadcrumb
      - @metering_point.path_ids.each do |metering_point_id|
        - @metering_point = MeteringPoint.find(metering_point_id).decorate
        %li= link_to @metering_point.name, @metering_point




#page-content
  %h1.page-header.text-overflow= t'charts'
  .row
    .col-lg-12
      .panel.panel-primary
        .panel-heading
          .panel-control
            %ul.nav.nav-tabs
              %li
                %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#hour-to-minutes"}= t('hour_to_minutes')
              %li.active
                %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#day-to-hours"}= t('day_to_hours')
              %li
                %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#month-to-days"}= t('month_to_days')
              %li
                %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#year-to-months"}= t('year_to_months')
          %h3.panel-title= t'history'
        .panel-body
          .tab-content
            #hour-to-minutes.tab-pane.fade= @metering_point.chart('hour_to_minutes')
            #day-to-hours.tab-pane.fade.active.in= @metering_point.chart('day_to_hours')
            #month-to-days.tab-pane.fade= @metering_point.chart('month_to_days')
            #year-to-months.tab-pane.fade= @metering_point.chart('year_to_months')




  %h1.page-header.text-overflow= t'registers'
  .row
    = render @metering_point.registers

    - if current_user.can_update?(@metering_point)
      .new-register.col-sm-6.col-md-4.col-lg-2
        .panel.panel-new
          .panel-container
            %span.text-1x= @metering_point.new_register




  %h1.page-header.text-overflow= t'devices'
  .row
    = render @devices

    - if current_user.can_update?(@metering_point)
      .new-device.col-sm-6.col-md-3.col-lg-2
        .panel.panel-new
          .panel-container
            %span.text-1x= @metering_point.edit_devices




  %h1.page-header.text-overflow= t'residents'
  .row
    - @users.each do |user|
      = render user.profile

    - if current_user.can_update?(@metering_point)
      .new-user.col-md-6.col-lg-4
        .panel.panel-new
          .panel-container
            %span.text-1x= @metering_point.edit_users



  %h1.page-header.text-overflow= t'sub_metering_points'
  .row
    - @metering_point.children.each do |sub_metering_point|
      = render sub_metering_point.decorate

    - if current_user.can_update?(@metering_point)
      .new-metering-point.col-lg-4
        .panel.panel-new
          .panel-container
            %span.text-1x= @metering_point.new_sub_metering_point




