- meta title: @metering_point.long_name



.panel
  .panel-body
    .col-lg-2.col-md-2.col-sm-2.col-xs-3
      %span.fa-stack.fa-lg.fa-4x
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-bolt.fa-stack-1x.fa-inverse

    .col-lg-4.col-md-4.col-sm-4.col-xs-5
      .media-body.pad-lft
        - if @metering_point.virtual
          %p.text-3x.mar-no= @metering_point.name + " (" + t('virtual') + ")"
        - else
          %p.text-3x.mar-no= @metering_point.name
        %p.text-2x.mar-no.text-thin= @metering_point.address ? @metering_point.address.short_name : t('no_address')

    - if @metering_point.input?
      .metering_point_scores{'data-content' => @metering_point.id}

        %table
          %tbody
            %tr
              %td.text-1x.mar-no.float-left= t('sufficiency')
              %td.score_sufficiency
            - if @group
              %tr
                %td.text-1x.mar-no.float-left= t('fitting')
                %td.score_fitting


    .panel-control

      - if @metering_point.smart?
        .add-to-dashboard
          - if user_signed_in? && (current_user.dashboard.nil? || !current_user.dashboard.metering_points.include?(@metering_point))
            = @metering_point.add_to_dashboard

      - if user_signed_in? && current_user.can_update?(@metering_point)
        = @metering_point.link_to_edit








#page-content

  .row
    .col-lg-12.metering_point_detail{id: "metering_point_#{@metering_point.id}"}
      .panel
        .panel-body.panel-colorful{class: "panel-#{@metering_point.mode_class}"}
          .text-center
            .btn.btn-default.btn-icon.btn-circle.icon-lg.btn-chart-zoomout.fa.fa-search-minus.fa-2x
          .btn.btn-default.btn-icon.btn-circle.icon-lg.btn-chart-prev.fa.fa-chevron-left.fa-2x
          .btn.btn-default.btn-icon.btn-circle.icon-lg.btn-chart-next.pull-right.fa.fa-chevron-right.fa-2x
          .chart{id: "chart-container-#{@metering_point.id}", style: "width: 94%; height: 300px; margin-left: 3%;"}
          .pad-all
            .metering_point{ id: "metering_point_#{@metering_point.id}"}
              .text-center
                = content_tag :div, id: "metering_point-ticker-#{@metering_point.id}", class: "metering_point-ticker", data: { fake: !@metering_point.smart? && !@metering_point.virtual, source: @metering_point.fake_source } do
                  %span.text-4x.text-thin
                    .power-ticker
                      = t('loading') + '...'
                %p= t'watt'
            .text-center
              - if !@metering_point.smart?
                .new-reading
                  = @metering_point.submit_reading
                  = @metering_point.edit_readings


  .row
    .col-md-6.col-lg-6
      - if user_signed_in? && current_user.can_update?(@metering_point) || @devices.size != 0
        %h1.page-header.text-overflow
          %span
            = t('devices')
            %small
              %i.small-info-circle.fa.fa-info-circle{'data-content' => t('devices_info')}
        .row
          .devices
            = render @devices
        .row
          - if user_signed_in? && current_user.can_update?(@metering_point)
            .row
              .col-lg-12.text-center
                = @metering_point.edit_devices


      - if user_signed_in? && current_user.can_update?(@metering_point) || @users.size != 0
        %hr
        %h1.page-header.text-overflow
          %span
            = t('members')
            %small
              %i.small-info-circle.fa.fa-info-circle{'data-content' => t('members_info_metering_point')}
        .row
          - @users.each do |user|
            = render user.profile
        .row
          - if user_signed_in? && current_user.can_update?(@metering_point)
            .row
              .col-lg-12.text-center
                = @metering_point.edit_users

      - if user_signed_in? && current_user.can_update?(@metering_point)
        %hr
        %h1.page-header.text-overflow
          %span
            = t('address')
            %small
              %i.small-info-circle.fa.fa-info-circle{'data-content' => t('address_info')}
        .row
          .addresses
            = render @metering_point.address if @metering_point.address
        .row
          - if @metering_point.address.nil?
            .row
              .col-lg-12.text-center
                = @metering_point.new_address


    .col-md-6.col-lg-6
      - if user_signed_in? && current_user.can_update?(@metering_point)
        - if !@metering_point.virtual
          %h1.page-header.text-overflow
            %span
              = t('meters')
              %small
                %i.small-info-circle.fa.fa-info-circle{'data-content' => t('meters_info')}
          .row
            .meters
              = render @metering_point.meter if @metering_point.meter
          .row
            - if @metering_point.meter.nil?
              .new-meter
                .row
                  .col-lg-12.text-center
                    = @metering_point.new_meter
        - else
          %h1.page-header.text-overflow
            %span
              = t('formula_parts')
              %small
                %i.small-info-circle.fa.fa-info-circle{'data-content' => t('formula_parts_info')}
          .row
            .formula_parts.metering_points
              = render @metering_point.formula_parts if @metering_point.formula_parts.any?
        %hr


      - if user_signed_in? && current_user.can_update?(@metering_point)

        %h1.page-header.text-overflow
          %span
            = t('contracts')
            %small
              %i.small-info-circle.fa.fa-info-circle{'data-content' => t('contracts_info_metering_point')}
        .row
          .contracts
            = render @metering_point.contracts

          .row
            .col-lg-12.text-center
              = @metering_point.new_contract


