.col-sm-3
  .detail_icon
    %i.fa.fa-map-marker
  %h4= @metering_point.name
  - if current_user.can_update?(@metering_point)
    = @metering_point.link_to_edit


  %h5.page-header= t('belongs_to_location')
  %article.sidebar_module.residents
    %ul
      = render @metering_point.root.location.decorate
    .clearfix

  - if @group
    %h5.page-header= t('belongs_to_group')
    %article.sidebar_module.residents
      %ul
        = render @group
      .clearfix
  - if @metering_point.mode == 'in'
    %h5.page-header= t('energy_consumers')
  - elsif @metering_point.mode == 'out'
    %h5.page-header= t('energy_producers')
  - else
    %h5.page-header= t('energy_producers') +' '+ t('and') +' '+ t('energy_consumers')
  %article.sidebar_module.residents
    %ul
      - if @users.any?
        - @users.each do |user|
          = render user.profile
      - else
        = t('no_users_available')
      - if current_user.can_update?(@metering_point) || @metering_point.users.include?(current_user)
        = @metering_point.edit_users
    .clearfix


  %h5.page-header= t('devices')
  %article.sidebar_module.devices
    %ul
      - if @devices.any?
        - @devices.each do |device|
          = render device
      - else
        = t('no_devices_available')
      - if current_user.can_update?(@metering_point) || @metering_point.users.include?(current_user)
        = @metering_point.edit_devices
    .clearfix





.col-sm-6
  %ul.nav.nav-pills#mytab.nav-spacer
    %li.active
      %a{"data-toggle" => "tab", href: "#meter"}
        = t'meter'
    %li
      %a{"data-toggle" => "tab", href: "#contracts"}
        = t'contracts'
    %li
      %a{"data-toggle" => "tab", href: "#charts"}
        = t'charts'



  .tab-content

    #meter.tab-pane.active
      .meter
        - if @meter
          = render @meter
        - else
          = @metering_point.new_meter

    #contracts.tab-pane
      - if @metering_point.electricity_supplier_contracts.any?
        = render @metering_point.electricity_supplier_contracts
      - else
        .alert.alert-danger= t'no_electricity_supplier_contract_for_metering_point'
      .metering_point_operator_contracts
        - if !@metering_point.metering_point_operator_contracts.empty?
          - @metering_point.metering_point_operator_contracts.each do |metering_point_operator_contract|
            = render metering_point_operator_contract
      - if !(@metering_point.group && @metering_point.group.metering_point_operator_contract)
        = @metering_point.new_metering_point_operator_contract

    #charts.tab-pane
      .block{id: 'day_to_hours' }
        .header.no-border
          %h2= t('day_to_hours')
        = render @metering_point.registers

      .block{id: 'month_to_days' }
        .header.no-border
          %h2= t('month_to_days')
        = render @metering_point.registers

      .block{id: 'year_to_months' }
        .header.no-border
          %h2= t('year_to_months')
        = render @metering_point.registers














