- meta title: @metering_point.name

= content_for :aside do
  %aside#aside-container
    #aside
      .nano
        .nano-content{:tabindex => "0"}
          .text-center.pad-all
            .pad-ver
              = image_tag @metering_point.image.lg, class: 'img-circle img-lg img-border', alt: ""
            %h4.text-lg.text-overflow.mar-no= @metering_point.name
            - if current_user.can_update?(@metering_point)
              = @metering_point.link_to_edit

          %hr
            .text-center.clearfix
              .col-xs-6
                %p.h3= @users.count
                %small.text-muted= t'residents'
              .col-xs-6
                %p.h3= @devices.count
                %small.text-muted= t'devices'




#page-content
  .row
    = render @metering_point.registers


  .row
    .col-lg-8
      .panel.panel-primary
        .panel-heading
          .panel-control
            %ul.nav.nav-tabs
              %li
                %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#hour-to-minutes"}= t('hour_to_minutes')
              %li.active
                %a{"aria-expanded" => "true", "data-toggle" => "tab", :href => "#day-to-hours"}= t('day_to_hours')
              %li
                %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#month-to-days"}= t('month_to_days')
              %li
                %a{"aria-expanded" => "false", "data-toggle" => "tab", :href => "#year-to-months"}= t('year_to_months')

          %h3.panel-title= t'charts'
        .panel-body
          .tab-content
            #hour-to-minutes.tab-pane.fade= @metering_point.chart('hour_to_minutes')
            #day-to-hours.tab-pane.fade.active.in= @metering_point.chart('day_to_hours')
            #month-to-days.tab-pane.fade= @metering_point.chart('month_to_days')
            #year-to-months.tab-pane.fade= @metering_point.chart('year_to_months')




  %h1.page-header.text-overflow= t'devices'
  .row
    = render @devices

  %h1.page-header.text-overflow= t'friends'
  .row
    - @users.each do |user|
      = render user.profile





