.modal-content
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4.modal-title= t'organization'
  .modal-body
    = simple_form_for @organization, remote: true, html: {multipart: true } do |f|
      = render 'organizations/form_fields', f: f
      .modal-footer
        .float-left= @organization.decorate.link_to_delete
        .btn.btn-primary.btn-labeled.fa.fa-remove{"data-dismiss" => "modal"}
          = t'cancel'
        = f.button :button, t('save'), id: 'submit', class: 'btn btn-success btn-labeled fa fa-check'
