- meta title: "#{@organization.name}"



.panel
  .panel-body

    .col-lg-1.col-md-2.col-sm-2.col-xs-3
      %span.fa-stack.fa-lg.fa-4x
        %i.fa.fa-circle.fa-stack-2x
        %i.fa.fa-flash.fa-stack-1x.fa-inverse


    .col-lg-2.col-md-3.col-sm-3.col-xs-5
      .media-body.pad-lft
        %p.text-3x.mar-no= @organization.name
        %p.text-3x.mar-no= @organization.contracting_party

    .panel-control
      - if current_user.can_update?(@organization)
        = @organization.link_to_edit


#page-content
  .row
    .col-sm-6
      .panel
        .panel-heading
          %h3.panel-title
            =t('organization_properties')
        .panel-body
          .table-responsive
            %table.table.table-striped
              %tbody
                %tr
                  %td= t('name')
                  %td= @organization.name
                %tr
                  %td= t('contracting_party')
                  %td= @organization.contracting_party
                %tr
                  %td= t('EDIFACT_Postfach')
                  %td= @organization.edifactemail
                %tr
                  %td= t('email')
                  %td= @organization.email
                %tr
                  %td= t('organisations_typ')
                  %td= @organization.mode
                %tr
                  %td= t('BDEW Code')
                  %td= @organization.phone





