%p= t("devise.mailer.invitation_instructions.hello", email: @resource.email)
- if @resource.invited_by.present?
  - if @resource.invitation_message.nil? || @resource.invitation_message == ""
    %p= t("devise.mailer.invitation_instructions.user_invited_you", url: link_to('buzzn', root_url), user: @resource.invited_by.name).html_safe
  - else
    %p= t("devise.mailer.invitation_instructions.user_invited_you_with_message", user: @resource.invited_by.name, url: link_to('buzzn', root_url)).html_safe
    %p= '----------'
    %p= @resource.invitation_message.html_safe
    %p= '----------'
    %p= t("devise.mailer.invitation_instructions.click_to_accept")
- else
  %p= t("devise.mailer.invitation_instructions.someone_invited_you", url: link_to('buzzn', root_url)).html_safe
%p= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token)
%p= t("devise.mailer.invitation_instructions.ignore").html_safe
%p= t("devise.mailer.invitation_instructions.buzzn_team")