%p
  =t('hello') + " #{@resource.profile.user_name}!"
%p= t('someone_has_requested_a_link_to_change_your_password') + ' ' + t('if_it_was_you_who_requested_the_link_you_can_do_this_through_the_link_below')
%p= link_to t('change_my_password'), edit_password_url(@resource, reset_password_token: @token)
%p= t('if_this_link_shouldnt_work_try_to_copy_and_paste_this_one_directly_in_your_browser')
%p= edit_password_url(@resource, reset_password_token: @token)
%p= t('if_you_didnt_request_this_please_ignore_this_email')
%p= t('your_password_wont_change_until_you_access_the_link_above_and_create_a_new_one')
%p= t('your_buzzn_team')
