.modal-content
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h4.modal-title= t'new_metering_service_provider_contract'
  .modal-body
    = simple_form_for @metering_service_provider_contract, remote: false do |f|
      - value = params[:metering_point_id].nil? ? {} : { value: params[:metering_point_id] }
      = f.input :metering_point_id, input_html: {}.merge(value), as: :hidden
      = f.association :organisation_id, collection: Organisation.where(mode: 'metering_service_provider'), input_html: { class: 'select2'}
      = render 'metering_service_provider_contract/form_fields', f: f
      .modal-footer
        = f.button :submit, id: 'submit', class: 'btn btn-success'
