#content
  .forminput.box
    %h1= t'contracting_party_legal_entity'

    = simple_form_for @contracting_party, url: wizard_path, method: 'put' do |f|
      = f.input :legal_entity, collection: [:me, :gmbh], include_blank: false, input_html: { class: 'select2' }
      = f.simple_fields_for :address do |a|
        = render 'addresses/form_fields', f: a

      = f.submit t("continue"), class: 'btn btn-success', id: 'submit'