#content
  .forminput.box
    %h1= t'location'

    = simple_form_for @location, url: wizard_path, method: 'put' do |f|
      = f.simple_fields_for :address do |a|
        = render 'addresses/form_fields', f: a

      = f.submit t("continue"), class: 'btn btn-success', id: 'submit'