#content
  .forminput.box
    %h1= t'location_habitation'
    = @location.id
    = simple_form_for @location, url: wizard_path, method: 'put' do |f|
      = f.input :new_habitation
      = f.input :inhabited_since
      = f.submit t("continue"), class: 'btn btn-success', id: 'submit'