- @locations.each do |location|
  .item{id: "metering_point_#{location.metering_point.id}" }
    .block
      .header.no-border
        .marker-box.pull-left
          = location.icon_tag_small
        - if user_signed_in?
          - if current_user.can_update?(location)
            = link_to t('details'), location, class: 'btn btn-default pull-right'
        .location_name
          %h2= location.name
      - if !location.metering_point.meter.smart?
        .ribbon-wrapper-green
          .ribbon-green
            = t('slp')
      .chart-background{:style => "background-image: url('#{location.metering_point.background_image_url}');background-repeat:no-repeat; background-position:50% 50%;"}
        = location.metering_point.chart('day_to_hours')
      - location.metering_point.registers.each do |register|
        - if register.meter.smart?
          .ticker{id: "ticker_#{register.id}" }
            - if Reading.where(register_id: register.id).last
              = "Aktueller Zählerstand: " + (Reading.where(register_id: register.id).last.watt_hour/1000.0).to_s + " kWh"
            - else
              = "Kein aktueller Zählerstand vorhanden"
        - else
          .ticker.slp_ticker
            - if Reading.latest_slp && location.metering_point.electricity_supplier_contracts.any? && location.metering_point.electricity_supplier_contracts.first.forecast_watt_hour_pa
              = "Aktueller Zählerstand: "
            - else
              = "Zur Berechnung des aktuellen Zählerstandes muss die Prognose im Stromvertrag hinzugefügt werden."