- meta title: @location.name

= content_for :aside do
  %aside#aside-container
    #aside
      .nano
        .nano-content{:tabindex => "0"}

          .text-center.pad-all
            .pad-ver
              - if @location.metering_point.image?
                = image_tag @location.metering_point.image.lg, class: 'img-circle img-lg img-border'
              - else
                %span.fa-stack.fa-lg.fa-5x
                  %i.fa.fa-circle.fa-stack-2x
                  %i.fa.fa-home.fa-stack-1x.fa-inverse
            %h4.text-lg.text-overflow.mar-no= @location.name

          %hr
          .pad-hor
            %h5=t('address')
            %address
              = "#{@location.address.street_name} #{@location.address.street_number}"
              %br
              = "#{@location.address.zip} #{@location.address.city}"
              %br
              = @location.address.state

          %hr
          .text-center.clearfix
            .col-xs-6
              %p.h3= @residents.count
              %small.text-muted= t'residents'
            .col-xs-6
              %p.h3= @devices.count
              %small.text-muted= t'devices'

          %hr
          .text-center.clearfix
            - if current_user.can_update?(@location)
              = @location.link_to_edit




#page-content
  %h1.page-header.text-overflow= t'registers'
  .row
    = render @location.registers

  %h1.page-header.text-overflow= t'metering_points'
  .row
    - @location.metering_point.subtree.each do |metering_point|
      = render metering_point.decorate #unless metering_point == @location.metering_point && metering_point.mode == "in_out"

    - if current_user.can_update?(@location)
      .new-metering-point.col-lg-3
        .panel.panel-new
          .panel-container
            %span.text-1x= @location.new_metering_point


  %h1.page-header.text-overflow= t'users'
  .row
    - @location.users.each do |user|
      = render user.profile

  %h1.page-header.text-overflow= t'devices'
  .row
    = render @location.devices
