- meta title: @location.name




= content_for :aside do
  %aside#aside-container
    #aside
      .nano
        .nano-content{:tabindex => "0"}
          .text-center.pad-all
            .pad-ver
              = @location.image_tag_lg
            %h4.text-lg.text-overflow.mar-no= @location.name
            - if current_user.can_update?(@location)
              = @location.link_to_edit

          %hr
            .pad-hor
              %h5=t('address')
              %address
                = "#{@location.address.street_name} #{@location.address.street_number}"
                %br
                = "#{@location.address.zip} #{@location.address.city}"
                %br
                = @location.address.state

          %hr
            .text-center.clearfix
              .col-xs-6
                %p.h3= @residents.count
                %small.text-muted= t'residents'
              .col-xs-6
                %p.h3= @devices.count
                %small.text-muted= t'devices'




#page-content
  .row
    - if true #@location.metering_point.input?
      .col-sm-6.col-md-4.col-lg-3
        .panel.panel-primary.panel-colorful
          .pad-all.text-center
            %span.text-5x.text-thin 241 W
            %p= t'power_input'
            %i.fa.fa-arrow-down

    - if true #@location.metering_point.output?
      .col-sm-6.col-md-4.col-lg-3
        .panel.panel-danger.panel-colorful
          .pad-all.text-center
            %span.text-5x.text-thin 1253 W
            %p= t'power_output'
            %i.fa.fa-arrow-up


  .row
    .col-sm-9
      - @location.metering_point.subtree.each do |metering_point|
        = render metering_point.decorate unless metering_point == @location.metering_point && metering_point.mode == "in_out"




