.col-sm-3
  .detail_icon
    %i.fa.fa-home
  %h4= @location.long_name

  - if current_user.can_update?(@location)
    = @location.link_to_edit

  %h5.page-header= t('residents')
  %article.sidebar_module.residents
    %ul
      - if @residents.any?
        - @residents.each do |resident|
          = render resident.profile
      - else
        = t('no_residents_available')
    .clearfix


  %h5.page-header= t('devices')
  %article.sidebar_module.devices
    %ul
      - if @devices.any?
        - @devices.each do |device|
          = render device
      - else
        = t('no_devices_available')
    .clearfix


  %h5.page-header= t('address')
  %address
    = "#{@location.address.street_name} #{@location.address.street_number}"
    %br
    = "#{@location.address.zip} #{@location.address.city}"
    %br
    = @location.address.state


.col-sm-6
  %ul.nav.nav-pills#mytab.nav-spacer
    %li.active
      %a{"data-toggle" => "tab", href: "#metering_points"}
        = t'metering_points'
    %li
      %a{"data-toggle" => "tab", href: "#assets"}
        = t'assets'
    - if @location.metering_point
      - if @location.metering_point.has_children?
        %li
          %a{"data-toggle" => "tab", href: "#metering_point_tree"}
            = t'metering_point_tree'


  .tab-content
    #metering_points.tab-pane.active
      - if @location.metering_point == nil
        = render 'no_metering_point'
      - else
        .metering_points
          = render @location.metering_point
          - @location.metering_point.children.each do |children|
            = render children.decorate

      - if current_user.can_update?(@location) && @location.metering_point.nil?
        = @location.new_metering_point

    #assets.tab-pane
      .assets
        = render @location.assets
      - if user_signed_in? && current_user.can_update?(@location)
        = @location.new_asset

    #metering_point_tree.tab-pane
      .block
        #tree1








.col-sm-3
  %h5.page-header= t('explore')




