- @a = a.decorate # TODO remove decorater from view

.activity
  .body
    .mega-icon
      = @a.key_icon
    .time
      = timeago_tag @a.created_at, :nojs => true, :lang => locale, :limit => 10.days.ago
    .title
      - if a.owner
        = link_to a.owner.name, a.owner.profile
      - else
      = content_for :action
    .details
      .avatar.thumb_icon
        - if a.owner
          = image_tag @a.owner.profile.image.sm
      - if a.key == 'friendship.create'
        .avatar.thumb_icon
          -if a.recipient
            = image_tag @a.recipient.profile.image.sm
      = yield
