- @a = a.decorate # TODO remove decorater from view

%li.mar-btm.activity{ :id => "activity_#{@a.id}" }
  .media-left
    = @a.key_icon
  .media-body.pad-hor
    .speech
      %h5= t('system_message')
      - if @a.owner && @a.owner.is_a?(User) && @a.owner.profile
        %a.btn-link.text-semibold{:href => profile_path(@a.owner.profile)}
          = @a.owner.name
      - elsif @a.owner && @a.owner.is_a?(Register)
        %a.btn-link.text-semibold{:href => register_path(@a.owner)}
          = t('the_register') + ' ' + @a.owner.name
      - else
        = t "somebody"
      = content_for :action

    .activity-details
      .row
        / .col-md-4.col-lg-4.col-xs-4
        /   .avatar
        /     - if @a.owner
        /       = link_to @a.owner.profile.decorate.picture('sm'), profile_path(@a.owner.profile)

        - if @a.key == 'friendship.create'
          .col-md-4.col-lg-4.col-xs-3
            .avatar
              -if @a.recipient
                = link_to @a.recipient.profile.decorate.picture('sm'), profile_path(@a.recipient.profile)

      = yield

      %p.speech-time.time
        %i.fa.fa-clock-o.fa-fw
        = timeago_tag @a.created_at, :nojs => true, :lang => locale, :limit => 10.days.ago
        .likes{'data-toggle' => 'tooltip', 'title' => @a.get_likes.size > 0 ? (@a.get_likes.voters.collect(&:name).join(", ") + ' ' + "<span><div class='fa fa-heart'></div></span>" + ' ' + t('this_comment')) : '' }
          .speech-time
            - if user_signed_in?
              - if current_user.liked?(@a)
                %i.vote-for.vote-icon.fa.fa-heart
              -else
                %i.vote-for.vote-icon.fa.fa-heart-o
            - else
              %i.vote-icon.fa.fa-heart-o

            .likes-count= @a.get_likes.size


        - if @a.root_comments.any?
          %ul.list-unstyled.media-block.child-comments
            = render :partial => 'comments/comment', :collection => @a.root_comments.reverse, :as => :comment
          - if @a.root_comments.size > 2
            .comment-view-all-answers
              = t('view_all_answers')
        - if user_signed_in?
          .nested-comments
            .comment-reply
              = t('reply')
          .comment-answer
            = render :partial => 'comments/form', :locals => { :comment => Comment.build_from(@a, current_user.id, "", nil) }

        %hr

