- @a = a.decorate # TODO remove decorater from view

.activity
  .body
    .mega-icon
      = @a.key_icon
    .title
      - if a.owner
        = link_to a.owner.name, a.owner.profile
      - else
      = content_for :action
    .details
      .avatar
        - if a.owner
          = @a.owner.profile.thumb
      = yield