- @a = a.decorate # TODO remove decorater from view

%li.media.badge-notification
  .media-left
    = @a.key_icon
  .media-body.pad-hor
    .speech
      - if @a.owner && @a.owner.is_a?(User) && @a.owner.profile
        = @a.owner.name
      - elsif @a.owner && @a.owner.is_a?(Register::Base)
        = t('the_register') + ' ' + @a.owner.name
      - else
        = t "somebody"
      = content_for :action

    .activity-details
      .row
      = yield

      %p.speech-time.time
        %i.fa.fa-clock-o.fa-fw
        = timeago_tag @a.created_at, :nojs => true, :lang => locale, :limit => 10.days.ago


