%head
  = stylesheet_link_tag "application", "data-turbolinks-track" => true, media: "all"
  = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin"
  /= stylesheet_link_tag "//cdn.jsdelivr.net/jquery.metismenu/2.1.0/metisMenu.min.css"

  = javascript_include_tag "application", "data-turbolinks-track" => true
  = javascript_include_tag "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry"
  = javascript_include_tag "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"
  /= javascript_include_tag "//cdn.jsdelivr.net/jquery.metismenu/2.1.0/metisMenu.min.js"

  = csrf_meta_tags

  = metamagic :title => "buzzn"

  %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  %meta{name: "apple-mobile-web-app-capable", content: "yes"}
  %meta{name: "apple-mobile-web-app-status-bar-style", content:"black"}
