%nav#mainnav-container
  #mainnav
    #mainnav-shortcut
      %ul.list-unstyled
        %li.col-xs-4{"data-content" => "Additional Sidebar"}
          %a#demo-toggle-aside.shortcut-grid{:href => "#"}
            %i.fa.fa-magic
        %li.col-xs-4{"data-content" => "Notification"}
          %a#demo-alert.shortcut-grid{:href => "#"}
            %i.fa.fa-bullhorn
        %li.col-xs-4{"data-content" => "Page Alerts"}
          %a#demo-page-alert.shortcut-grid{:href => "#"}
            %i.fa.fa-bell
    - if user_signed_in?
      #mainnav-menu-wrap
        .nano
          .nano-content
            %ul#mainnav-menu.list-group

              %li.list-header= t'my_profile'
              = mainnav_profile_path(current_user.profile)

              %li.list-header= t'my_locations'
              - current_user.editable_locations.each do |location|
                = mainnav_location_path(location)

              %li.list-header= t'my_devices'
              - current_user.editable_devices.each do |device|
                = mainnav_device_path(device)

              %li.list-header= t'my_friends'
              - current_user.friends.each do |user|
                = mainnav_profile_path(user.profile)

              %li.list-divider
              %li.list-header= t'explore_buzzn'
              = mainnav_profiles_path
              = mainnav_groups_path
              = mainnav_organizations_path




