%nav#mainnav-container
  #mainnav
    #mainnav-shortcut
      %ul.list-unstyled

        %li.col-xs-6{"data-content" => t('users')}
          = link_to( content_tag(:i, nil, class: 'fa fa-user'), profiles_path, class: 'shortcut-grid')

        %li.col-xs-6{"data-content" => t('groups')}
          = link_to( content_tag(:i, nil, class: 'fa fa-users'), groups_path, class: 'shortcut-grid')


    - if user_signed_in?
      #mainnav-menu-wrap
        .nano
          .nano-content
            %ul#mainnav-menu.list-group

              %li.list-header= t'my_profile'
              = mainnav_profile_path(current_user.profile)

              - if current_user.editable_metering_points.any?
                %li.list-header= t'my_metering_points'
                - current_user.editable_metering_points.each do |metering_point|
                  = mainnav_metering_point_path(metering_point)

              - if current_user.editable_devices.any?
                %li.list-header= t'my_devices'
                - current_user.editable_devices.each do |device|
                  = mainnav_device_path(device)

              - if current_user.friends.any?
                %li.list-header= t'my_friends'
                - current_user.friends.each do |user|
                  = mainnav_profile_path(user.profile)






