%nav#mainnav-container
  #mainnav
    / Shortcut buttons
    / ================================
    #mainnav-shortcut
      %ul.list-unstyled
        %li.col-xs-4{"data-content" => "Additional Sidebar"}
          %a#demo-toggle-aside.shortcut-grid{:href => "#"}
            %i.fa.fa-magic
        %li.col-xs-4{"data-content" => "Notification"}
          %a#demo-alert.shortcut-grid{:href => "#"}
            %i.fa.fa-bullhorn
        %li.col-xs-4{"data-content" => "Page Alerts"}
          %a#demo-page-alert.shortcut-grid{:href => "#"}
            %i.fa.fa-bell
    / ================================
    / End shortcut buttons
    / Menu
    / ================================
    - if user_signed_in?
      #mainnav-menu-wrap
        .nano
          .nano-content
            %ul#mainnav-menu.list-group


              %li.list-header= t'my_locations'
              - current_user.editable_locations.each do |location|
                = mainnav_location_path(location)

              %li.list-header= t'my_devices'
              - current_user.editable_devices.each do |device|
                = mainnav_device_path(device)

              %li.list-header= t'my_friends'
              %li
                %a{:href => "#"}
                  %i.fa.fa-edit
                  %span.menu-title= t'my_friends'
                  %i.arrow
                / Submenu
                %ul.collapse
                  - current_user.friends.each do |profile|
                    = mainnav_profile_path(profile)



              %li.list-divider
              %li.list-header= t'explore_buzzn'
              = mainnav_profiles_path
              = mainnav_groups_path
              = mainnav_organizations_path




