%header#navbar
  #navbar-container.boxed
    .navbar-header
      - if user_signed_in?
        .navbar-brand
          .brand-icon
            = link_to image_tag('buzzn_energy-icon.png', width: "30px", height: "30px"), profile_path(current_user.profile)
          .brand-title
            %span.brand-text
              = link_to image_tag('bz_logo.png', class: 'brand-logo'), profile_path(current_user.profile)
      - else
        .navbar-brand
          .brand-icon
            = link_to image_tag('buzzn_energy-icon.png', width: "30px", height: "30px"), new_user_session_path
          .brand-title
            %span.brand-text
              = link_to image_tag('bz_logo.png', class: 'brand-logo'), new_user_session_path
    .navbar-content.clearfix

      %ul.nav.navbar-top-links.pull-left
        %li.tgl-menu-btn
          %a.mainnav-toggle{:href => "#"}
            %i.fa.fa-navicon.fa-lg








      %ul.nav.navbar-top-links.pull-right

        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle.text-right{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-plus.fa-lg
            .dropdown-menu.dropdown-menu-right.dropdown-menu-xs.with-arrow.panel-default
              %ul.head-list
                %li= link_to(t("create_metering_point"), wizard_wizard_metering_points_path, {:remote => true, :class => 'start_modal', 'data-toggle' => 'modal', 'data-target' => '#myModal', 'data-backdrop' => 'static'})
                - if current_user.can_create?(Group)
                  %li= link_to(t("create_group"), new_group_path, {:remote => true, :class => 'start_modal', 'data-toggle' => 'modal', 'data-target'   => '#myModal', 'data-backdrop' => 'static'})
                - if controller_name == "metering_points" && @metering_point && !@metering_point.smart? && current_user.can_update?(@metering_point)
                  %li= link_to(t("submit_reading"), new_reading_path(metering_point_id: @metering_point.id), {:remote => true, 'data-toggle' => 'modal', 'data-target' => '#myModal'})
          %li.dropdown.badge-header-container
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-bell.fa-lg
              - if current_user.new_badge_notifications.size != 0
                %span.badge.badge-header.badge-danger
                  = current_user.new_badge_notifications.size
            .dropdown-menu.dropdown-menu-right.dropdown-menu-lg.with-arrow
              .pad-all.bord-btm
                %p.text-lg.text-muted.text-thin.mar-no= t('you_have_count_messages', count: current_user.new_badge_notifications.size)
              .nano.scrollable
                .nano-content.pad-all
                  %ul.head-list
                    = render_activities(current_user.new_badge_notifications.collect(&:activity), layout: "layouts/badge_notification_activity_wrapper")

          %li#dropdown-user.dropdown
            %a.dropdown-toggle.text-right{"data-toggle" => "dropdown", :href => "#"}
              %span.pull-right
                = current_user.profile.decorate.picture('xs')
              .username.hidden-xs= current_user.name
            .dropdown-menu.dropdown-menu-md.dropdown-menu-right.with-arrow.panel-default
              %ul.head-list
                /%li= link_to content_tag(:i, nil, class: 'fa fa-user fa-fw fa-lg') + t('contracting_party'), contracting_party_path(current_user.contracting_party) if current_user.contracting_party
                /%li= link_to content_tag(:i, nil, class: 'fa fa-question-circle fa-fw fa-lg') + t('help'), root_path
                %li= link_to content_tag(:i, nil, class: 'fa fa-gears fa-fw fa-lg') + t('edit_account'), edit_user_registration_path
                /%li= link_to_edit_profile(current_user.profile)
                %li= link_to content_tag(:i, nil, class: 'fa fa-cog fa-fw fa-lg') + t('edit_my_profile'), edit_profile_path(current_user.profile), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#myModal'}
                %li= link_to(content_tag(:i, nil, class: 'fa fa-wrench fa-fw fa-lg') + t('edit_notifications'), edit_notifications_profile_path(current_user.profile), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#myModal'})

              .pad-all.text-right
                = link_to(content_tag(:i, nil, class: 'fa fa-sign-out fa-fw') + t('logout'), destroy_user_session_path, :method => 'delete', class: 'btn btn-primary')
        - else
          %li= link_to t('sign_in'), new_user_session_path
          %li= link_to t('sign_up'), new_user_registration_path

      %ul.nav.navbar-top-links.pull-right
        %li.dropdown
          %a.dropdown-toggle.text-right{"data-toggle" => "popover", "data-placement" => "bottom", "data-content" => t("beta_text"), "data-container" => "body"}
            %span
              %i.text-muted= 'BETA'
              %small
                %i.fa.fa-info-circle
