%nav.navbar.navbar-inverse.navbar-fixed-top
  .container

    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to image_tag('bz_logo.png'), root_path, class: 'navbar-logo'

    .collapse.navbar-collapse

      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?

          - if !current_user.editable_groups.empty?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.fa.fa-users.fa-fw
                = t'groups'
                %b.caret
              %ul.dropdown-menu
                - current_user.editable_groups.each do |group|
                  %li= link_to group.name, group

          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-home.fa-fw
              = t'locations'
              %b.caret
            %ul.dropdown-menu
              - current_user.editable_locations.each do |location|
                %li= link_to location.address.name, location
              %li.divider
              %li= new_location

          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-user.fa-fw
              = current_user.name
              %b.caret
            %ul.dropdown-menu
              %li= link_to t('my_profile'), current_user.profile
              %li= link_to t('edit_account'), edit_user_registration_path
              - if current_user.contracting_party
                %li= link_to t('contracting_party'), edit_contracting_party_path(current_user.contracting_party)
              %li.divider
              %li= link_to t('logout'), destroy_user_session_path, :method => 'delete'
        - else
          %li= link_to t('sign_in'), new_user_session_path
          %li= link_to t('sign_up'), new_user_registration_path






