%nav.navbar.navbar-default.navbar-fixed-top
  .container

    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      - if user_signed_in?
        = link_to image_tag('bz_logo_green.png'), stream_index_path, class: 'navbar-logo', alt: APP_VERSION
      - else
        = link_to image_tag('bz_logo_green.png'), user_session_path, class: 'navbar-logo', alt: APP_VERSION

    .collapse.navbar-collapse

      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          -if current_user.has_role?(:admin)
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.fa.fa-home.fa-fw
                = t'organizations'
                %b.caret
              %ul.dropdown-menu.scrollable-menu
                - Organization.all.each do |organization|
                  %li= link_to organization.name, organization
                %li.divider
                %li= new_organization
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-home.fa-fw
              = t'locations'
              %b.caret
            %ul.dropdown-menu
              - current_user.editable_locations.each do |location|
                %li= link_to location.long_name, location
              %li.divider
              %li= new_location
          - if current_user.editable_metering_points.any? && MeteringPoint.by_modes_and_user(["out", "in_out"], current_user).any?
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.fa.fa-users.fa-fw
                = t'groups'
                %b.caret
              %ul.dropdown-menu
                - if !current_user.editable_groups.empty?
                  - current_user.editable_groups.each do |group|
                    %li= link_to group.name, group
                %li.divider
                - if !current_user.editable_locations.collect(&:metering_point).include?(nil)
                  - if MeteringPoint.by_modes_and_user_without_group(["out", "in_out"], current_user).any?
                    %li= new_group


          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-bolt.fa-fw
              = t'devices'
              %b.caret
            %ul.dropdown-menu
              - if !current_user.editable_devices.empty?
                - current_user.editable_devices.each do |device|
                  %li= link_to device.name, device
              %li.divider
              %li= new_in_device
              %li= new_out_device




          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %i.fa.fa-user.fa-fw
              = current_user.name
              %b.caret
            %ul.dropdown-menu
              %li= link_to t('my_profile'), current_user.profile
              %li= link_to t('edit_account'), edit_user_registration_path
              %li= link_to t('take_current'), complete_user_wizard_consumers_path
              %li= link_to t('supply_with_current'), complete_user_wizard_producers_path
              - if current_user.contracting_party
                %li= link_to t('contracting_party'), edit_contracting_party_path(current_user.contracting_party)
              %li.divider
              %li= link_to t('logout'), destroy_user_session_path, :method => 'delete'
        - else
          %li= link_to t('sign_in'), new_user_session_path
          %li= link_to t('sign_up'), new_user_registration_path






