%header#navbar
  #navbar-container.boxed
    .navbar-header
      - if user_signed_in?
        .navbar-brand
          .brand-icon
            = link_to image_tag('buzzn_energy-icon.png', width: "30px", height: "30px"), profile_path(current_user.profile)
          .brand-title
            %span.brand-text
              = link_to image_tag('bz_logo.png', class: 'brand-logo'), profile_path(current_user.profile)
      - else
        .navbar-brand
          .brand-icon
            = link_to image_tag('buzzn_energy-icon.png', width: "30px", height: "30px"), new_user_session_path
          .brand-title
            %span.brand-text
              = link_to image_tag('bz_logo.png', class: 'brand-logo'), new_user_session_path
    .navbar-content.clearfix

      %ul.nav.navbar-top-links.pull-left
        %li.tgl-menu-btn
          %a.mainnav-toggle{:href => "#"}
            %i.fa.fa-navicon.fa-lg
      .ribbon-wrapper-green.global-ribbon-wrapper{"data-toggle" => "popover", "data-placement" => "right", "data-content" => t("beta_text")}
        .ribbon-green.global-ribbon
          %span
            = "Beta"
            %small
              %i.fa.fa-info-circle

      .create-resources
        .btn-group
          %button.btn.btn-default.btn-icon.btn-circle.icon-lg.fa.fa-plus.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
          %ul.dropdown-menu{role: "menu"}
            %li= link_to(t("create_metering_point"), metering_point_wizard_metering_points_path, {:remote => true, :class => 'start_modal', 'data-toggle' => 'modal', 'data-target' => '#myModal', 'data-backdrop' => 'static'})
            - if current_user.can_create?(Group)
              %li= link_to(t("create_group"), new_group_path, {:remote => true, :class => 'start_modal', 'data-toggle' => 'modal', 'data-target'   => '#myModal'})

      %ul.nav.navbar-top-links.pull-right

        - if user_signed_in?
          %li#dropdown-user.dropdown
            %a.dropdown-toggle.text-right{"data-toggle" => "dropdown", :href => "#"}
              %span.pull-right
                = current_user.profile.decorate.picture('xs')


              .username.hidden-xs= current_user.name
            .dropdown-menu.dropdown-menu-md.dropdown-menu-right.with-arrow.panel-default
              %ul.head-list
                /%li= link_to content_tag(:i, nil, class: 'fa fa-user fa-fw fa-lg') + t('contracting_party'), contracting_party_path(current_user.contracting_party) if current_user.contracting_party
                /%li= link_to content_tag(:i, nil, class: 'fa fa-question-circle fa-fw fa-lg') + t('help'), root_path
                %li= link_to content_tag(:i, nil, class: 'fa fa-gears fa-fw fa-lg') + t('edit_account'), edit_user_registration_path
                /%li= link_to_edit_profile(current_user.profile)
                %li= link_to content_tag(:i, nil, class: 'fa fa-cog fa-fw fa-lg') + t('edit_my_profile'), edit_profile_path(current_user.profile), {:remote => true, 'data-toggle' => "modal", 'data-target' => '#myModal'}

              .pad-all.text-right
                = link_to(content_tag(:i, nil, class: 'fa fa-sign-out fa-fw') + t('logout'), destroy_user_session_path, :method => 'delete', class: 'btn btn-primary')
        - else
          %li= link_to t('sign_in'), new_user_session_path
          %li= link_to t('sign_up'), new_user_registration_path
