!!!
%html{lang: locale}

  %head
    = stylesheet_link_tag    "application", "data-turbolinks-track" => true, media: "all"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = metamagic :title => "Buzzn"
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = analytics_init if Rails.env.production?

  %body
    %section#container
      %header
        = render 'layouts/navigation'

      %main#main
        .container
          = render 'layouts/messages'
          = yield