!!!
%html{lang: locale}
  = render 'layouts/head'

  %body{class: "#{controller_name} #{action_name}"}
    = include_gon
    #myModal.modal.fade.in{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog
    #container.effect.mainnav-lg{ class: content_for?(:aside) ? 'aside-in aside-left aside-bright' : nil }
      = render 'layouts/navbar'
      .boxed
        #content-container
          .page-alert
          = yield
        = render 'layouts/mainnav'
        = yield(:aside)
      = render 'layouts/footer'