!!!
%html

  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Buzzn'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Buzzn'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    .page-container
      / top navbar
      .navbar.navbar-default.navbar-fixed-top{role: "navigation"}
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => ".sidebar-nav", "data-toggle" => "offcanvas", type: "button"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{href: "#"} Buzzn
      .container.main-container
        / sidebar
        .row.row-offcanvas.row-offcanvas-left
          #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas{role: "navigation"}
            %ul.nav
              %li= link_to t('meters'), meters_path
              %li= link_to t('users'), users_path
              %li= link_to t('groups'), groups_path
          .col-xs-12.col-sm-9
            = render 'layouts/messages'
            = yield


