!!!
%html{lang: locale}
  = render 'layouts/head'

  %body
    = include_gon

    #myModal.modal.fade.in{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog
    - if request.original_url.end_with?('kiosk') || request.original_url.end_with?('widget')
      #container.effect{ class: "#{(content_for?(:aside) ? 'aside-in aside-left aside-bright' : nil)} mainnav-lg"}
        .boxed
          #content-container-no-click
            = yield
    - else
      /= display_cookie_alert
      #container.effect{ class: "#{(content_for?(:aside) ? 'aside-in aside-left aside-bright' : nil)} mainnav-lg"}
        = render 'layouts/navbar'
        .boxed
          #content-container
            .page-alert
            = render 'layouts/messages'
            = yield
          = render 'layouts/mainnav'
          = yield(:aside)
        = render 'layouts/footer'
